workflows/chefis.json
{
  "name": "Expense Bot — WhatsApp v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expense-bot",
        "options": {}
      },
      "id": "n001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "6fb86469-89fb-4f18-89e4-ba1b46bbf120"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert"
            },
            {
              "id": "c2",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "n002",
      "name": "IF Valid Inbound",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "instance",
              "type": "string",
              "value": "={{ $json.body.instance }}"
            },
            {
              "id": "a2",
              "name": "messageId",
              "type": "string",
              "value": "={{ $json.body.data.key.id }}"
            },
            {
              "id": "a3",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $json.body.data.key.remoteJid }}"
            },
            {
              "id": "a4",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "id": "a5",
              "name": "pushName",
              "type": "string",
              "value": "={{ $json.body.data.pushName || '' }}"
            },
            {
              "id": "a6",
              "name": "messageType",
              "type": "string",
              "value": "={{ $json.body.data.messageType }}"
            },
            {
              "id": "a7",
              "name": "text",
              "type": "string",
              "value": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}"
            },
            {
              "id": "a8",
              "name": "caption",
              "type": "string",
              "value": "={{ $json.body.data.message?.imageMessage?.caption || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n003",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ ($env.ALLOWED_PHONES || '').split(',').map(p => p.trim()).filter(p => p).includes($json.phone) }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "n004",
      "name": "IF Allowed Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "documentMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "text"
        }
      },
      "id": "n005",
      "name": "Switch Media Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "n006",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": {\"type\":\"json_object\"},\n  \"temperature\": 0.1, \"max_tokens\": 1500,\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"Sos un experto leyendo tickets argentinos. Devolvé JSON con: {is_receipt:bool, merchant, amount(número), currency:'ARS', transaction_date_iso, payment_method_hint, category_hint, description, confidence(0-1), human_reply}. Si no es un comprobante, is_receipt=false. amount=TOTAL final.\"},\n    {\"role\":\"user\",\"content\":[\n      {\"type\":\"text\",\"text\":\"Caption: {{ $('Extract Fields').first().json.caption || '(ninguno)' }}\"},\n      {\"type\":\"image_url\",\"image_url\":{\"url\":\"data:{{ $json.mimetype || 'image/jpeg' }};base64,{{ $json.base64 }}\"}}\n    ]}\n  ]\n}",
        "options": {}
      },
      "id": "n007",
      "name": "Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -200
      ],
      "credentials": {
        "openAiApi": {
          "id": "0ErbOR5W4QIYaohV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst ctx = $('Extract Fields').first().json;\nlet payload;\ntry { payload = JSON.parse(resp.choices?.[0]?.message?.content || '{}'); } catch(e) { payload = {is_receipt:false,human_reply:'No pude leer el comprobante.'}; }\nlet syntheticText;\nif (payload.is_receipt && Number(payload.amount) > 0) {\n  // Format that AI Classify reliably maps to log_expense\n  const dateOnly = payload.transaction_date_iso ? String(payload.transaction_date_iso).slice(0,10) : '';\n  const desc = payload.description || (payload.merchant ? 'pago a ' + payload.merchant : 'comprobante');\n  const parts = ['pagué', String(payload.amount), 'de', payload.category_hint || 'otros'];\n  if (payload.payment_method_hint) parts.push('con', payload.payment_method_hint);\n  if (dateOnly) parts.push('el', dateOnly);\n  parts.push('—', desc);\n  syntheticText = parts.join(' ');\n} else {\n  syntheticText = payload.human_reply || 'No pude leer el comprobante.';\n}\nreturn [{ json: { text: syntheticText, phone: ctx.phone, remoteJid: ctx.remoteJid, instance: ctx.instance, messageId: ctx.messageId, pushName: ctx.pushName, receipt_data: payload } }];"
      },
      "id": "n008",
      "name": "Receipt to Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "n009",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;\nconst ctx=$('Extract Fields').first().json;\nconst b64=item.base64||'';\nif(!b64) throw new Error('Empty audio base64');\nconst buf=Buffer.from(b64,'base64');\nconst bin=await this.helpers.prepareBinaryData(buf,'audio.ogg',item.mimetype||'audio/ogg');\nreturn [{ json:{phone:ctx.phone,remoteJid:ctx.remoteJid,instance:ctx.instance,messageId:ctx.messageId,pushName:ctx.pushName}, binary:{data:bin} }];"
      },
      "id": "n010",
      "name": "Audio to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "id": "n011",
      "name": "Whisper Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1540,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "0ErbOR5W4QIYaohV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "n012",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;\nconst ctx=$('Extract Fields').first().json;\nconst b64=item.base64||'';\nif(!b64) throw new Error('Empty PDF base64');\nconst buf=Buffer.from(b64,'base64');\nconst bin=await this.helpers.prepareBinaryData(buf,'document.pdf','application/pdf');\nreturn [{ json:{phone:ctx.phone,remoteJid:ctx.remoteJid,instance:ctx.instance,messageId:ctx.messageId,pushName:ctx.pushName}, binary:{data:bin} }];"
      },
      "id": "n013",
      "name": "PDF to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "n014",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": {\"type\":\"json_object\"},\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\"role\":\"system\",\"content\":{{ JSON.stringify(\"Extraés gastos individuales de PDFs (extractos bancarios, resúmenes de tarjeta, facturas, comprobantes de transferencia, etc.).\\n\\nDevolvé JSON con esta forma exacta:\\n{\\\"expenses\\\":[{\\\"amount\\\":number,\\\"description\\\":string,\\\"category_hint\\\":string,\\\"transaction_date_iso\\\":\\\"YYYY-MM-DD\\\"|null,\\\"payment_method_hint\\\":string,\\\"merchant\\\":string}],\\\"summary\\\":\\\"tipo de doc, período y total en una línea\\\"}\\n\\nReglas:\\n- Solo egresos (gastos/transferencias salientes/pagos). NO incluyas ingresos a menos que esté explícito.\\n- amount: número entero/decimal sin signos ni separadores. \\\"$ 3.300,00\\\" → 3300. \\\"15.000,50\\\" → 15000.50.\\n- Categorías permitidas: comida, supermercado, transporte, nafta, farmacia, servicios, entretenimiento, ropa, salud, educacion, hogar, viajes, regalos, mascotas, tecnologia, deportes, transferencias, otros.\\n- Para fechas DD/MM/AAAA o DD/MMM/AAAA convertí a YYYY-MM-DD. Para meses en español (ENE, FEB, MAR, ABR, MAY, JUN, JUL, AGO, SEP, OCT, NOV, DIC) usá los números correspondientes.\\n- Si una transacción tiene categoría explícita en el PDF (ej: \\\"Categoría: Transferencias\\\"), respetala mapeando a la lista permitida.\\n- payment_method_hint: efectivo|debito|credito|transferencia|mercado_pago|otro.\\n- Si NO podés leer un dato con certeza, omití esa transacción entera (NO inventes).\\n- Máximo 50 transacciones por respuesta. Si el PDF tiene más, priorizá las primeras.\\n- Si el PDF es UNA SOLA transferencia/pago, devolvé un array con UN solo elemento.\\n- summary: una línea, ej: \\\"Transferencia individual del 27/04/2026 — $3.300\\\" o \\\"Resumen tarjeta abril 2026 — 23 mov, $145.300\\\".\\n- Si el PDF no contiene gastos identificables, devolvé {\\\"expenses\\\":[],\\\"summary\\\":\\\"explicación corta\\\"}.\\n\\nDevolvé SOLO el JSON, sin markdown, sin texto adicional.\") }}},\n    {\"role\":\"user\",\"content\":{{ JSON.stringify(\"Texto del PDF a procesar:\\n\\n\" + ($json.text || '').slice(0, 12000)) }}}\n  ]\n}",
        "options": {}
      },
      "id": "n015",
      "name": "AI Extract Expenses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "0ErbOR5W4QIYaohV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp=$input.first().json;const ctx=$('Extract Fields').first().json;\nlet payload;\ntry{payload=JSON.parse(resp.choices?.[0]?.message?.content||'{}');}catch(e){payload={expenses:[],summary:'No pude leer el PDF.'};}\nconst expenses=Array.isArray(payload.expenses)?payload.expenses:[];\nconst total=expenses.reduce((s,e)=>s+Number(e.amount||0),0);\nconst fmt=n=>Number(n||0).toLocaleString('es-AR');\nlet preview='';\nif(expenses.length){\n  preview='\\n\\nPrimeros movimientos:\\n'+expenses.slice(0,5).map(e=>`• $${fmt(e.amount)} ${e.category_hint||''} ${e.description||e.merchant||''} ${e.transaction_date_iso||''}`).join('\\n');\n  if(expenses.length>5) preview+=`\\n... y ${expenses.length-5} más.`;\n}\n// synthesize text for the rest of the flow\nconst syntheticText=`__pdf_import__${expenses.length}`;\nreturn [{ json:{ text:syntheticText, phone:ctx.phone, remoteJid:ctx.remoteJid, instance:ctx.instance, messageId:ctx.messageId, pushName:ctx.pushName, pdf_data:{expenses, summary:payload.summary||'', total, preview} }}];"
      },
      "id": "n016",
      "name": "Parse PDF Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "a2",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.phone }}"
            },
            {
              "id": "a3",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.remoteJid }}"
            },
            {
              "id": "a4",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.instance }}"
            },
            {
              "id": "a5",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.messageId }}"
            },
            {
              "id": "a6",
              "name": "pushName",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.pushName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n017",
      "name": "Pass Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT bootstrap_user($1::text, $2::text) AS user_id;",
        "options": {
          "queryReplacement": "={{ $json.phone }},={{ $json.pushName }}"
        }
      },
      "id": "n018",
      "name": "Bootstrap User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1980,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cs.state AS conv_state, cs.context AS conv_context, u.onboarded FROM users u LEFT JOIN conversation_state cs ON cs.user_id=u.id AND cs.expires_at > NOW() WHERE u.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "n019",
      "name": "Get Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Bootstrap User').first().json.user_id }}"
            },
            {
              "id": "t",
              "name": "text",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.text }}"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.messageId }}"
            },
            {
              "id": "pn",
              "name": "pushName",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.pushName }}"
            },
            {
              "id": "cs",
              "name": "convState",
              "type": "string",
              "value": "={{ $json.conv_state || '' }}"
            },
            {
              "id": "cx",
              "name": "convContext",
              "type": "object",
              "value": "={{ $json.conv_context || {} }}"
            },
            {
              "id": "ob",
              "name": "onboarded",
              "type": "boolean",
              "value": "={{ $json.onboarded === true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n020",
      "name": "Merge Ctx",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2420,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "alreadyProcessed",
        "key": "=processed:{{ $json.messageId }}",
        "options": {}
      },
      "id": "n021",
      "name": "Redis Check",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2640,
        0
      ],
      "credentials": {
        "redis": {
          "id": "igDqU9rqRBlmVQGc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "empty"
              },
              "leftValue": "={{ $json.alreadyProcessed }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "n022",
      "name": "IF New",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        0
      ]
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=processed:{{ $json.messageId }}",
        "expire": true,
        "ttl": 3600,
        "propertyName": "procCount",
        "options": {}
      },
      "id": "n023",
      "name": "Mark Processed",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2860,
        200
      ],
      "credentials": {
        "redis": {
          "id": "igDqU9rqRBlmVQGc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "loose", "version": 1},
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {"type": "number", "operation": "equals"},
              "leftValue": "={{ Number($json.procCount) }}",
              "rightValue": 1
            }
          ]
        },
        "options": {}
      },
      "id": "n098",
      "name": "IF First Time",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3080, 200]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer:{{ $('Merge Ctx').first().json.phone }}",
        "messageData": "={{ $('Merge Ctx').first().json.text }}",
        "tail": true
      },
      "id": "n024",
      "name": "Buffer Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3300,
        200
      ],
      "credentials": {
        "redis": {
          "id": "igDqU9rqRBlmVQGc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lt",
              "name": "lockToken",
              "type": "string",
              "value": "={{ $now.toMillis() + '-' + Math.random().toString(36).slice(2,10) }}"
            },
            {
              "id": "ph",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Merge Ctx').first().json.phone }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "n025",
      "name": "Lock Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        200
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=lock:{{ $json.phone }}",
        "value": "={{ $json.lockToken }}",
        "expire": true,
        "ttl": 30
      },
      "id": "n026",
      "name": "Lock Set",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3740,
        200
      ],
      "credentials": {
        "redis": {
          "id": "igDqU9rqRBlmVQGc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 8
      },
      "id": "n027",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3960,
        200
      ],
      "webhookId": "de7eaba2-f851-4e37-8748-2c03cc8144a9"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "currentLock",
        "key": "=lock:{{ $('Lock Token').first().json.phone }}",
        "options": {}
      },
      "id": "n028",
      "name": "Lock Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4180,
        200
      ],
      "credentials": {
        "redis": {
          "id": "igDqU9rqRBlmVQGc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.currentLock }}",
              "rightValue": "={{ $('Lock Token').first().json.lockToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n029",
      "name": "IF Won Race",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4400,
        200
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "bufferedMessages",
        "key": "=buffer:{{ $('Lock Token').first().json.phone }}",
        "keyType": "list",
        "options": {}
      },
      "id": "n030",
      "name": "Buffer Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4620,
        150
      ],
      "credentials": {
        "redis": {
          "id": "igDqU9rqRBlmVQGc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer:{{ $('Lock Token').first().json.phone }}"
      },
      "id": "n031",
      "name": "Buffer Delete",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4840,
        150
      ],
      "credentials": {
        "redis": {
          "id": "igDqU9rqRBlmVQGc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buf=$input.first().json.bufferedMessages||[];\nconst ctx=$('Merge Ctx').first().json;\nconst combined=buf.filter(Boolean).map(s=>String(s).trim()).join(' \\n ').trim();\n// detect PDF import\nconst pdfMarker=combined.match(/__pdf_import__(\\d+)/);\nconst isPdfImport=!!pdfMarker;\nlet pdfData=null;\nif(isPdfImport){ try{ pdfData=$('Parse PDF Result').first().json.pdf_data; }catch(e){} }\nreturn [{ json:{ userId:ctx.userId, phone:ctx.phone, remoteJid:ctx.remoteJid, instance:ctx.instance, messageId:ctx.messageId, pushName:ctx.pushName, combinedText:combined, bufferLength:buf.length, convState:ctx.convState, convContext:ctx.convContext, onboarded:ctx.onboarded, isPdfImport, pdfData }}];"
      },
      "id": "n032",
      "name": "Concat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5060,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.isPdfImport }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "n033",
      "name": "IF PDF Import",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5170,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT set_conv_state($1::uuid, 'awaiting_pdf_import', $2::jsonb, 600);",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ JSON.stringify($json.pdfData || {}) }}"
        }
      },
      "id": "n034",
      "name": "Save PDF Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5390,
        50
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "=📄 Leí el PDF y encontré *{{ $('Concat').first().json.pdfData?.expenses?.length || 0 }} gastos* por un total de ${{ Number($('Concat').first().json.pdfData?.total || 0).toLocaleString('es-AR') }}.\n\n{{ $('Concat').first().json.pdfData?.summary || '' }}{{ $('Concat').first().json.pdfData?.preview || '' }}\n\n¿Los importo todos? Respondé *sí* o *no*."
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Concat').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Concat').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Concat').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Concat').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Concat').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "📄"
            }
          ]
        },
        "options": {}
      },
      "id": "n035",
      "name": "Pack PDF Confirm",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5610,
        50
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=# ROL\nSos Chefin, un asistente conversacional experto en finanzas personales para WhatsApp. Tu trabajo es interpretar mensajes en español rioplatense (Argentina) y clasificarlos con MÁXIMA PRECISIÓN para que la app pueda actuar.\n\n# CONTEXTO\n- Fecha y hora actual: {{ $now.toFormat(\"yyyy-MM-dd HH:mm\") }} (America/Argentina/Buenos_Aires)\n- Día de la semana: {{ $now.toFormat(\"EEEE\") }}\n- Estado de conversación previo: {{ $json.convState || 'ninguno' }}\n- Contexto previo: {{ JSON.stringify($json.convContext || {}) }}\n\n# FORMATO DE SALIDA (OBLIGATORIO)\nDevolvé EXCLUSIVAMENTE un JSON válido con esta estructura. Sin markdown, sin texto adicional, sin backticks:\n\n{\n  \"intent\": \"log_expense\"|\"log_income\"|\"query\"|\"chart\"|\"delete_last\"|\"edit_last\"|\"create_group\"|\"set_budget\"|\"toggle_category_exclusion\"|\"list_groups\"|\"list_categories\"|\"set_recurring\"|\"generate_report\"|\"confirm_yes\"|\"confirm_no\"|\"help\"|\"chat\"|\"unknown\",\n  \"human_reply\": \"respuesta corta, cálida, max 280 chars. Si pedís aclaración, hacelo acá.\",\n  \"needs_clarification\": boolean,\n  \"confidence\": 0.0-1.0,\n  \"transaction\": {\"amount\": number, \"description\": string, \"category_hint\": string, \"payment_method_hint\": string, \"type\": \"expense\"|\"income\", \"transaction_date_iso\": \"YYYY-MM-DD\"|null, \"group_hint\": string|null},\n  \"query\": {\"kind\": \"total\"|\"by_category\"|\"list_recent\"|\"average\"|\"find\", \"category_hint\": string, \"description_hint\": string|null, \"period\": \"today\"|\"yesterday\"|\"this_week\"|\"this_month\"|\"last_month\"|\"this_year\"|\"all\", \"group_hint\": string|null},\n  \"chart\": {\"kind\": \"by_category\"|\"by_day\"|\"by_payment_method\"|\"trend\", \"period\": \"this_week\"|\"this_month\"|\"last_month\"|\"this_year\", \"group_hint\": string|null},\n  \"group\": {\"name\": string, \"kind\": \"trip\"|\"event\"|\"emergency\"|\"project\"|\"other\", \"action\": \"create\"|\"exclude\"|\"include\"|\"close\"|\"list\"},\n  \"budget\": {\"category_hint\": string, \"amount\": number, \"period\": \"weekly\"|\"monthly\"|\"yearly\"},\n  \"category_action\": {\"category_hint\": string, \"action\": \"exclude\"|\"include\"|\"resolve_category\"},\n  \"recurring\": {\"amount\": number, \"description\": string, \"category_hint\": string, \"frequency\": \"daily\"|\"weekly\"|\"biweekly\"|\"monthly\"|\"yearly\", \"start_date_iso\": string|null},\n  \"report\": {\"period\": \"this_month\"|\"last_month\"|\"this_year\"|\"all\"|\"custom\", \"start_date_iso\": string|null, \"end_date_iso\": string|null},\n  \"match\": {\"description_hint\": string|null, \"date_iso\": \"YYYY-MM-DD\"|null, \"amount\": number|null, \"category_hint\": string|null}\n}\n\nSolo llenás los sub-objetos que correspondan al intent detectado. El resto pueden quedar como objetos vacíos {}.\n\n# LÉXICO ARGENTINO (IMPORTANTE)\nEstas son MULETILLAS o INTERJECCIONES — NUNCA cambian la clasificación. Mirá lo que viene DESPUÉS:\n- \"cucha\", \"chuca\", \"chuchá\", \"escuchame\", \"escuchá\", \"oime\", \"ojo\", \"boludo/a\", \"loco/a\", \"che\", \"dale\", \"ahre\", \"posta\", \"mira\", \"mirá\", \"viste\", \"fijate\", \"atento\"\n- Diminutivos comunes: \"cafecito\"=café, \"lukita\"=mil pesos, \"manguito\"=peso\n\nPlata/dinero/guita/mango/luca/mangos = dinero (genérico).\nLuca = mil pesos. \"5 lucas\" = 5000. \"Una luca\" = 1000.\nPalo = millón. \"Medio palo\" = 500000.\n\"K\"/\"k\" minúscula o mayúscula = mil. \"30k\" = 30000. \"1.5k\" = 1500.\n\"M\" mayúscula al final de número = millón. \"1M\" = 1000000. \"0.5M\" = 500000.\n\n# JERARQUÍA DE PRIORIDAD (TOP-DOWN, FIRST MATCH WINS)\n\n1. **CONFIRMACIONES con conv_state activo**: si convState está seteado y el mensaje contiene \"sí/si/dale/ok/va/listo/perfecto/bueno/bárbaro\" → confirm_yes. Si \"no/mejor no/cancelá/anulá\" → confirm_no. Esto tiene prioridad sobre todo.\n\n2. **HAY UNA PREGUNTA sobre plata/gastos/movimientos** (\"cuánto\", \"qué gasté\", \"qué tengo\", \"cuáles\", \"mostrame\", \"decime los\", \"ver gastos\", \"resumen\") → SIEMPRE **query** o **chart** (si pide gráfico). Nunca chat aunque empiece con muletilla.\n\n3. **HAY UN MONTO con verbo de gasto/ingreso** (gasté, pagué, compré, salió, costó, usé, cobré, entró, recibí) o un sustantivo después de número que sugiere consumo (\"3000 cafe\", \"15k luz\") → **log_expense** o **log_income**.\n\n4. **COMANDOS ADMINISTRATIVOS**: crear/listar grupos, presupuestos, recurrentes, reportes, exclusiones (ver lista abajo).\n\n5. **AYUDA EXPLÍCITA**: \"ayuda\", \"ayudame\", \"qué podés hacer\", \"menu\", \"menú\", \"opciones\", \"comandos\" → **help**.\n\n6. **CHARLA PURA** (sin pregunta sobre plata, sin monto, sin comando): \"hola\", \"buen día\", \"qué tal\", \"cómo andás\", \"gracias\", \"🙏\", \"👋\" → **chat** con saludo cálido.\n\n7. **AMBIGUO** → unknown + needs_clarification=true + en human_reply pedí UNA cosa específica.\n\n# INTENTS DETALLADOS\n\n## log_expense / log_income\n- transaction.amount: número pelado (sin signos, sin separadores). \"30k\"=30000.\n- transaction.type: 'expense' por default. 'income' SOLO si hay verbo de ingreso (cobré, entró, recibí, me pagaron, devolución).\n- transaction.category_hint: una de: comida, supermercado, transporte, nafta, farmacia, servicios, entretenimiento, ropa, salud, educacion, hogar, viajes, regalos, mascotas, tecnologia, deportes, otros. Si no hay pista clara → 'otros'.\n- transaction.payment_method_hint: efectivo|debito|credito|transferencia|mercado_pago|otro. Default 'otro'.\n- transaction.transaction_date_iso: SOLO si hay mención explícita (\"ayer\", \"el lunes\", \"12/03\"). Si no hay → null. NO INVENTES fechas pasadas.\n- transaction.group_hint: nombre de viaje/evento si lo mencionan (\"para el viaje a bariloche\", \"del cumple de fer\").\n- transaction.description: descripción corta, sin la palabra de la categoría si es redundante.\n\n## query\n- query.kind:\n  - 'total' → \"cuánto gasté\", \"total del mes\", \"cuánto en comida\"\n  - 'by_category' → \"por categoría\", \"en qué gasté\", \"gastos desglosados\"\n  - 'list_recent' → \"últimos gastos\", \"los últimos\", \"qué movimientos tengo\"\n  - 'average' → \"promedio\", \"cuánto gasto x día\"\n  - 'find' → \"mostrame el café\", \"qué cargué en starbucks\", \"buscá los supermercados\", \"tengo algo de comida ayer?\"\n- query.period:\n  - \"hoy\" → today\n  - \"ayer\" → yesterday\n  - \"esta semana\"/\"semanal\" → this_week\n  - \"este mes\"/\"mensual\" → this_month (DEFAULT si no se especifica)\n  - \"el mes pasado\"/\"abril\"(si hoy es mayo) → last_month\n  - \"este año\"/\"anual\" → this_year\n  - \"todo\"/\"siempre\"/\"histórico\" → all\n- query.category_hint: si filtran por categoría (\"en comida\", \"de transporte\").\n- query.description_hint: texto a buscar en descripciones (\"café\", \"starbucks\", \"uber\"). Solo si kind='find' o si quieren filtrar por nombre concreto.\n- query.group_hint: si filtran por grupo (\"del viaje a bariloche\").\n\n## chart\n- chart.kind:\n  - 'by_category' → \"torta\", \"pie\", \"por categoría\" (DEFAULT)\n  - 'by_day' → \"por día\", \"diario\"\n  - 'by_payment_method' → \"por método de pago\", \"por tarjeta\"\n  - 'trend' → \"tendencia\", \"evolución\", \"últimos meses\"\n- chart.period: igual que query, default this_month.\n\n## delete_last\nBorra UN gasto/ingreso. Si el usuario apunta a uno específico, llená \"match\" con los datos para identificarlo. Si dice \"el último\" / \"deshacelo\" sin más detalle, dejá match vacío y se borra el más reciente.\n- match.description_hint: texto que mencionan (\"café\", \"supermercado\", \"starbucks\").\n- match.date_iso: la fecha del gasto a borrar (\"ayer\", \"el lunes pasado\", \"12/03\").\n- match.amount: el monto exacto si lo dicen (\"borrá los 15000\").\n- match.category_hint: categoría si la mencionan (\"borrá el de comida del lunes\").\nTriggers: \"borrá el último\", \"eliminalo\", \"no eso último\", \"borrá el café de ayer\", \"borrá los 15000 del lunes\", \"eliminá el supermercado del 15\".\n\n## create_group\n\"creá un viaje a X\", \"agregá evento Y\", \"abrí proyecto Z\", \"nuevo grupo X\".\n- group.kind: 'trip' (viaje, vacaciones), 'event' (cumple, casamiento, cena), 'emergency' (urgencia, médico), 'project' (obra, reforma), 'other'.\n\n## list_groups\n\"qué viajes tengo\", \"mis grupos\", \"mostrame los eventos\", \"qué tengo abierto\".\n\n## list_categories\n\"qué categorías tengo\", \"mostrame las categorías\", \"cuáles son mis categorías\", \"lista de categorías\", \"categorías disponibles\".\n\n## set_budget\n\"presupuesto mensual de comida 80000\", \"límite de transporte 30k semanal\", \"tope de 50000 en farmacia\".\n- budget.period: weekly|monthly|yearly. Default monthly.\n\n## toggle_category_exclusion\n\"no cuentes transferencias\", \"excluí servicios del reporte\", \"ignorá la categoría regalos\" → exclude.\n\"volvé a contar X\", \"incluí Y\" → include.\n\n## set_recurring\n\"netflix 5500 mensual\", \"agregá alquiler 250000 todos los meses\", \"spotify 1500 cada mes\".\n- recurring.frequency: daily|weekly|biweekly|monthly|yearly. Default monthly.\n\n## generate_report\n\"mandame el reporte de abril\", \"reporte mensual\", \"PDF de gastos del año\", \"informe del mes\".\n- report.period: this_month|last_month|this_year|all|custom.\n\n## confirm_yes / confirm_no\nSOLO si convState está activo. Sin contexto previo, NO devuelvas confirm_*.\n\n## help\n\"ayuda\", \"qué podés hacer\", \"menu\", \"/help\", \"comandos disponibles\".\n\n## chat\nSaludos, agradecimientos, charla, Y **preguntas factuales simples** que NO requieren tocar la base de datos. En human_reply contestá DIRECTO.\n\nEjemplos de chat con respuesta directa:\n- \"qué fecha es hoy?\" → usá \"Fecha y hora actual\" del CONTEXTO. Respondé \"Hoy es {{ $now.toFormat(\"EEEE d 'de' MMMM 'de' yyyy\") }}\" (en español, traducí los días/meses si vienen en inglés).\n- \"qué día es ayer?\" → calculá ayer desde la fecha actual y devolvé en español: \"Ayer fue {día} {número} de {mes}\".\n- \"cuál es la fecha de mañana?\" → idem.\n- \"cómo te llamás?\" → \"Soy Chefin, tu asistente de gastos.\"\n- \"qué hora es?\" → respondé con la hora actual.\nNUNCA respondas estas preguntas pidiendo aclaración — la respuesta está en el contexto.\n\n## edit_last\nModifica UN gasto/ingreso. Identificás cuál con \"match\" y los nuevos valores con \"transaction\".\n- match.* → ¿qué gasto editar? Si dicen \"el último\" o no especifican, dejá match vacío y se edita el más reciente.\n  - match.description_hint, match.date_iso, match.amount, match.category_hint.\n- transaction.* → ¿qué cambiar?\n  - transaction.transaction_date_iso: nueva fecha si la mencionan.\n  - transaction.amount: nuevo monto si lo mencionan.\n  - transaction.description: nueva descripción si la mencionan.\nTriggers: \"cambiá el último\", \"ese fue ayer no hoy\", \"el café de ayer fue 3000 no 2000\", \"corregí la fecha del supermercado\", \"movelo a ayer\", \"el último fue de 5000\".\n\nEjemplo de razonamiento:\n- \"el café de ayer fue 3000 no 2000\" → match={description_hint:\"café\", date_iso:<ayer>, amount:2000}, transaction={amount:3000}\n- \"movelo a ayer\" → match={} (último), transaction={transaction_date_iso:<ayer>}\n- \"cambiá la fecha del supermercado a hoy\" → match={description_hint:\"supermercado\"}, transaction={transaction_date_iso:<hoy>}\n\n## unknown\nneeds_clarification=true. En human_reply pedí UNA cosa concreta. Ej: \"Falta el monto, ¿cuánto fue?\" o \"¿Lo querés registrar como gasto o ingreso?\".\nNO uses unknown para preguntas factuales (fecha, hora, identidad) — esas van en chat con respuesta directa.\n\n# EJEMPLOS FEW-SHOT (estudialos)\n\nInput: \"hola\"\n→ {\"intent\":\"chat\",\"human_reply\":\"¡Hola! ¿En qué te ayudo?\",\"confidence\":0.99}\n\nInput: \"buen día\"\n→ {\"intent\":\"chat\",\"human_reply\":\"Buen día 🙌 ¿Qué necesitás?\",\"confidence\":0.98}\n\nInput: \"cucha qué gastos tengo este mes registrados?\"\n→ {\"intent\":\"query\",\"query\":{\"kind\":\"total\",\"period\":\"this_month\"},\"confidence\":0.95}\n\nInput: \"che cuánto gasté en comida\"\n→ {\"intent\":\"query\",\"query\":{\"kind\":\"total\",\"category_hint\":\"comida\",\"period\":\"this_month\"},\"confidence\":0.95}\n\nInput: \"mostrame los últimos movimientos\"\n→ {\"intent\":\"query\",\"query\":{\"kind\":\"list_recent\",\"period\":\"this_month\"},\"confidence\":0.97}\n\nInput: \"mostrame el café de ayer\" / \"buscá los starbucks\"\n→ {\"intent\":\"query\",\"query\":{\"kind\":\"find\",\"description_hint\":\"café\",\"period\":\"yesterday\"},\"confidence\":0.93}\n\nInput: \"qué cargué en supermercados este mes\"\n→ {\"intent\":\"query\",\"query\":{\"kind\":\"find\",\"description_hint\":\"supermercado\",\"period\":\"this_month\"},\"confidence\":0.94}\n\nInput: \"tengo algún uber registrado?\"\n→ {\"intent\":\"query\",\"query\":{\"kind\":\"find\",\"description_hint\":\"uber\",\"period\":\"all\"},\"confidence\":0.92}\n\nInput: \"decime un grafico de mis gastos del mes\"\n→ {\"intent\":\"chart\",\"chart\":{\"kind\":\"by_category\",\"period\":\"this_month\"},\"confidence\":0.95}\n\nInput: \"2500 cafe\"\n→ {\"intent\":\"log_expense\",\"transaction\":{\"amount\":2500,\"description\":\"cafe\",\"category_hint\":\"comida\",\"type\":\"expense\",\"transaction_date_iso\":null,\"payment_method_hint\":\"otro\"},\"confidence\":0.95}\n\nInput: \"pague 15 lucas de luz con debito\"\n→ {\"intent\":\"log_expense\",\"transaction\":{\"amount\":15000,\"description\":\"luz\",\"category_hint\":\"servicios\",\"type\":\"expense\",\"payment_method_hint\":\"debito\",\"transaction_date_iso\":null},\"confidence\":0.95}\n\nInput: \"compre nafta 30k ayer\"\n→ {\"intent\":\"log_expense\",\"transaction\":{\"amount\":30000,\"description\":\"nafta\",\"category_hint\":\"nafta\",\"type\":\"expense\",\"transaction_date_iso\":\"YYYY-MM-DD\"(ayer),\"payment_method_hint\":\"otro\"},\"confidence\":0.95}\n\nInput: \"cobré 200000 del laburo\"\n→ {\"intent\":\"log_income\",\"transaction\":{\"amount\":200000,\"description\":\"sueldo\",\"category_hint\":\"otros\",\"type\":\"income\",\"transaction_date_iso\":null,\"payment_method_hint\":\"otro\"},\"confidence\":0.92}\n\nInput: \"3500 cena para el viaje a bariloche\"\n→ {\"intent\":\"log_expense\",\"transaction\":{\"amount\":3500,\"description\":\"cena\",\"category_hint\":\"comida\",\"type\":\"expense\",\"group_hint\":\"viaje a bariloche\",\"transaction_date_iso\":null,\"payment_method_hint\":\"otro\"},\"confidence\":0.94}\n\nInput: \"creá un viaje a bariloche\"\n→ {\"intent\":\"create_group\",\"group\":{\"name\":\"Bariloche\",\"kind\":\"trip\",\"action\":\"create\"},\"confidence\":0.97}\n\nInput: \"qué viajes tengo abiertos\"\n→ {\"intent\":\"list_groups\",\"group\":{\"action\":\"list\"},\"confidence\":0.96}\n\nInput: \"qué categorías tengo\"\n→ {\"intent\":\"list_categories\",\"confidence\":0.97}\n\nInput: \"mostrame las categorías disponibles\"\n→ {\"intent\":\"list_categories\",\"confidence\":0.98}\n\nInput: \"presupuesto mensual de comida 80000\"\n→ {\"intent\":\"set_budget\",\"budget\":{\"category_hint\":\"comida\",\"amount\":80000,\"period\":\"monthly\"},\"confidence\":0.97}\n\nInput: \"no cuentes las transferencias en el reporte\"\n→ {\"intent\":\"toggle_category_exclusion\",\"category_action\":{\"category_hint\":\"transferencias\",\"action\":\"exclude\"},\"confidence\":0.93}\n\nInput: \"netflix 5500 mensual\"\n→ {\"intent\":\"set_recurring\",\"recurring\":{\"amount\":5500,\"description\":\"Netflix\",\"category_hint\":\"entretenimiento\",\"frequency\":\"monthly\",\"start_date_iso\":null},\"confidence\":0.96}\n\nInput: \"mandame reporte de abril\"\n→ {\"intent\":\"generate_report\",\"report\":{\"period\":\"last_month\"},\"confidence\":0.94}\n\nInput: \"borrá el último\"\n→ {\"intent\":\"delete_last\",\"confidence\":0.99}\n\nInput: \"ayuda\" / \"qué podés hacer\"\n→ {\"intent\":\"help\",\"confidence\":0.99}\n\nInput: \"gracias!\"\n→ {\"intent\":\"chat\",\"human_reply\":\"De nada 🙌\",\"confidence\":0.99}\n\nInput: \"qué fecha es hoy?\" / \"qué día es hoy\"\n→ {\"intent\":\"chat\",\"human_reply\":\"Hoy es <día y fecha en español calculado desde el contexto>\",\"confidence\":0.99}\n\nInput: \"cuál es la fecha de ayer?\" / \"qué día fue ayer?\"\n→ {\"intent\":\"chat\",\"human_reply\":\"Ayer fue <día y fecha en español, calculado restándole 1 día a la fecha actual>\",\"confidence\":0.99}\n\nInput: \"cambiá el último registro a ayer\" / \"ese último fue ayer no hoy\"\n→ {\"intent\":\"edit_last\",\"match\":{},\"transaction\":{\"transaction_date_iso\":\"<fecha de ayer YYYY-MM-DD>\"},\"confidence\":0.95}\n\nInput: \"el último fue de 5000 no 2000\"\n→ {\"intent\":\"edit_last\",\"match\":{},\"transaction\":{\"amount\":5000},\"confidence\":0.93}\n\nInput: \"el café de ayer fue 3000 no 2000\"\n→ {\"intent\":\"edit_last\",\"match\":{\"description_hint\":\"café\",\"date_iso\":\"<ayer>\",\"amount\":2000},\"transaction\":{\"amount\":3000},\"confidence\":0.94}\n\nInput: \"cambiá la fecha del supermercado a hoy\"\n→ {\"intent\":\"edit_last\",\"match\":{\"description_hint\":\"supermercado\"},\"transaction\":{\"transaction_date_iso\":\"<hoy>\"},\"confidence\":0.92}\n\nInput: \"borrá el café de ayer\"\n→ {\"intent\":\"delete_last\",\"match\":{\"description_hint\":\"café\",\"date_iso\":\"<ayer>\"},\"confidence\":0.96}\n\nInput: \"eliminá los 15000 del lunes\"\n→ {\"intent\":\"delete_last\",\"match\":{\"amount\":15000,\"date_iso\":\"<fecha del último lunes>\"},\"confidence\":0.94}\n\nInput: \"borrá el de transporte del 15\"\n→ {\"intent\":\"delete_last\",\"match\":{\"category_hint\":\"transporte\",\"date_iso\":\"<2026-04-15 si ese día tiene sentido>\"},\"confidence\":0.9}\n\nInput: \"por qué tengo X\" / \"explicame el total\"\n→ {\"intent\":\"query\",\"query\":{\"kind\":\"list_recent\",\"period\":\"this_month\"},\"human_reply\":\"Te paso el detalle.\",\"confidence\":0.85}\n\nInput: \"pague algo\"\n→ {\"intent\":\"unknown\",\"needs_clarification\":true,\"human_reply\":\"¿Cuánto y de qué?\",\"confidence\":0.4}\n\nInput: \"3000 transferencia\"\n→ {\"intent\":\"log_expense\",\"transaction\":{\"amount\":3000,\"description\":\"transferencia\",\"category_hint\":\"otros\",\"type\":\"expense\",\"payment_method_hint\":\"transferencia\",\"transaction_date_iso\":null},\"confidence\":0.7}\n\n[Si convState='awaiting_otros_confirmation'] Input: \"comida\"\n→ {\"intent\":\"confirm_no\",\"category_action\":{\"category_hint\":\"comida\",\"action\":\"resolve_category\"},\"confidence\":0.9}\n\n[Si convState='awaiting_otros_confirmation'] Input: \"ok dale\"\n→ {\"intent\":\"confirm_yes\",\"confidence\":0.99}\n\n[Si convState='awaiting_pdf_import'] Input: \"sí\"\n→ {\"intent\":\"confirm_yes\",\"confidence\":0.99}\n\n# REGLAS FINALES\n\n- NUNCA inventes datos. Si falta info → unknown + needs_clarification.\n- NUNCA inventes fechas pasadas. transaction_date_iso = null por default.\n- confidence < 0.6 → poné needs_clarification=true.\n- human_reply en español rioplatense, cálido, máximo 1-2 oraciones.\n- SOLO devolvé el JSON. Cero markdown, cero ```, cero texto fuera del JSON."
            },
            {
              "content": "={{ $json.combinedText }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "id": "n036",
      "name": "AI Classify",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5280,
        150
      ],
      "credentials": {
        "openAiApi": {
          "id": "0ErbOR5W4QIYaohV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw=$input.first().json;\nlet payload=raw.message?.content||raw.content||raw;\nif(typeof payload==='string'){try{payload=JSON.parse(payload);}catch(e){payload={intent:'unknown',human_reply:'No te entendí, ¿podés repetirlo?'};}}\nconst ctx=$('Concat').first().json;\nreturn [{ json:{ ...ctx, intent:payload.intent||'unknown', human_reply:payload.human_reply||'', needs_clarification:!!payload.needs_clarification, transaction:payload.transaction||{}, query:payload.query||{}, chart:payload.chart||{}, group:payload.group||{}, budget:payload.budget||{}, category_action:payload.category_action||{}, recurring:payload.recurring||{}, report:payload.report||{}, match:payload.match||{}, raw_ai:payload }}];"
      },
      "id": "n037",
      "name": "Parse AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5500,
        150
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "log_expense"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "log_expense"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "log_income"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "log_income"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "query"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "query"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "chart"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "chart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "delete_last"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_last"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "create_group"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "create_group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "list_groups"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list_groups"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r7",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "set_budget"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "set_budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r8",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "toggle_category_exclusion"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "toggle_category_exclusion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "set_recurring"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "set_recurring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r10",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "generate_report"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "generate_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r11",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "confirm_yes"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "confirm_yes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r12",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "confirm_no"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "confirm_no"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r13",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "help"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r14",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "chat"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r15",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "list_categories"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list_categories"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r16",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "edit_last"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "edit_last"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "fallback"
        }
      },
      "id": "n038",
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        5720,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM find_best_category($1::uuid, $2::text, $3::text);",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ ($json.transaction?.category_hint || $json.transaction?.description || '').toString() }},={{ $json.transaction?.type === 'income' ? 'income' : 'expense' }}"
        }
      },
      "id": "n039",
      "name": "Match Category",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (INSERT INTO categories (user_id, name, normalized_name, type, keywords, is_system) VALUES ($1::uuid, $2, normalize_text($2), $3, ARRAY[normalize_text($2)], FALSE) ON CONFLICT (user_id, normalized_name, type) DO UPDATE SET name = EXCLUDED.name RETURNING id, name) SELECT COALESCE($4::uuid, (SELECT id FROM ins)) AS category_id, COALESCE((SELECT name FROM categories WHERE id = $4::uuid), (SELECT name FROM ins)) AS category_name;",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }},={{ ($('Parse AI').first().json.transaction?.category_hint || 'Otros') }},={{ $('Parse AI').first().json.transaction?.type === 'income' ? 'income' : 'expense' }},={{ $json.category_id || null }}"
        }
      },
      "id": "n040",
      "name": "Ensure Category",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6160,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.category_name.toLowerCase() }}",
              "rightValue": "otros"
            }
          ]
        },
        "options": {}
      },
      "id": "n041",
      "name": "IF Is Otros",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6380,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT set_conv_state($1::uuid, 'awaiting_otros_confirmation', $2::jsonb, 300);",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }},={{ JSON.stringify({pending_tx: $('Parse AI').first().json.transaction, category_id: $json.category_id}) }}"
        }
      },
      "id": "n042",
      "name": "Set Conv Awaiting Otros",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6600,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT format_reply('confirm_otros') AS reply_text;",
        "options": {}
      },
      "id": "n043",
      "name": "Format Otros Question",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6820,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $json.reply_text }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "🤔"
            }
          ]
        },
        "options": {}
      },
      "id": "n044",
      "name": "Pack Otros Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7040,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM check_duplicate_tx($1::uuid, $2::numeric, $3::date, 60);",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }},={{ Number($('Parse AI').first().json.transaction?.amount || 0) }},={{ $('Parse AI').first().json.transaction?.transaction_date_iso ? String($('Parse AI').first().json.transaction?.transaction_date_iso).slice(0,10) : new Date().toISOString().slice(0,10) }}"
        }
      },
      "id": "n045",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6500,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "n046",
      "name": "IF Is Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6600,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT set_conv_state($1::uuid, 'awaiting_dup_confirmation', $2::jsonb, 300);",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }},={{ JSON.stringify({pending_tx: $('Parse AI').first().json.transaction, category_id: $('Ensure Category').first().json.category_id, existing_id: $json.id, existing_created: $json.created_at}) }}"
        }
      },
      "id": "n047",
      "name": "Save Dup Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6700,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "=⚠️ Ya tenés un gasto registrado de ${{ Number($('Check Duplicate').first().json.amount).toLocaleString('es-AR') }}{{ $('Check Duplicate').first().json.description ? ' (' + $('Check Duplicate').first().json.description + ')' : '' }} hoy. ¿Lo guardo igual? Respondé *sí* o *no*."
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "⚠️"
            }
          ]
        },
        "options": {}
      },
      "id": "n048",
      "name": "Pack Dup Question",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT CASE WHEN $2::text != '__none__' AND $2::text != '' THEN upsert_group($1::uuid, $2::text, 'event') ELSE NULL END AS group_id;",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }},={{ $('Parse AI').first().json.transaction?.group_hint || '__none__' }}"
        }
      },
      "id": "n049",
      "name": "Resolve Group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6700,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH msg AS (INSERT INTO messages (user_id, direction, whatsapp_message_id, content, intent, processed) VALUES ($1::uuid,'inbound',$2,$3,$4,TRUE) ON CONFLICT (whatsapp_message_id) DO UPDATE SET intent = EXCLUDED.intent, processed = TRUE RETURNING id) INSERT INTO transactions (user_id, category_id, group_id, message_id, type, amount, currency, description, raw_message, transaction_date, transaction_at, confidence_score, metadata) VALUES ($1::uuid, $5::uuid, NULLIF($6, 'null')::uuid, (SELECT id FROM msg), $7, $8::numeric, 'ARS', $9, $10, COALESCE(NULLIF($11, 'null')::date, CURRENT_DATE), NULLIF($13, 'null')::timestamptz, 0.85, REPLACE($12, '|', ',')::jsonb) RETURNING id, amount, description, transaction_date, category_id;",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }},={{ $('Parse AI').first().json.messageId }},={{ ($('Parse AI').first().json.combinedText || '').toString().replace(/,/g, ' ') }},={{ $('Parse AI').first().json.intent }},={{ $('Ensure Category').first().json.category_id }},={{ $json.group_id || null }},={{ $('Parse AI').first().json.transaction?.type === 'income' ? 'income' : 'expense' }},={{ Number($('Parse AI').first().json.transaction?.amount || 0) }},={{ ($('Parse AI').first().json.transaction?.description || $('Parse AI').first().json.combinedText || '').toString().replace(/,/g, ' ') }},={{ ($('Parse AI').first().json.combinedText || '').toString().replace(/,/g, ' ') }},={{ $('Parse AI').first().json.transaction?.transaction_date_iso ? String($('Parse AI').first().json.transaction?.transaction_date_iso).slice(0,10) : null }},={{ JSON.stringify($('Parse AI').first().json.raw_ai || {}).replace(/,/g, '|') }},={{ $('Parse AI').first().json.transaction?.transaction_date_iso && String($('Parse AI').first().json.transaction?.transaction_date_iso).length > 10 ? $('Parse AI').first().json.transaction?.transaction_date_iso : null }}"
        }
      },
      "id": "n050",
      "name": "Insert Tx",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6820,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT format_reply($1::text, $2::numeric, $3::text, $4::text, $5::date) AS reply_text;",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.transaction?.type === 'income' ? 'income_logged' : 'expense_logged' }},={{ $json.amount }},={{ $('Ensure Category').first().json.category_name }},={{ $('Parse AI').first().json.transaction?.description || '' }},={{ $json.transaction_date }}"
        }
      },
      "id": "n051",
      "name": "Format Expense Reply Q",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7040,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM check_budget_status($1::uuid, $2::uuid);",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }},={{ $('Insert Tx').first().json.category_id }}"
        }
      },
      "id": "n052",
      "name": "Check Budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7260,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $('Format Expense Reply Q').first().json.reply_text + ($json.should_alert ? ('\\n\\n' + ($json.level === 'over_budget' ? '⚠️ Te pasaste del presupuesto de ' + $json.category_name + ': $' + Number($json.total).toLocaleString('es-AR') + ' de $' + Number($json.budget_amount).toLocaleString('es-AR') : '🟡 Vas por $' + Number($json.total).toLocaleString('es-AR') + ' en ' + $json.category_name + ' este mes (limite $' + Number($json.budget_amount).toLocaleString('es-AR') + ')')) : '') }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.transaction?.type === 'income' ? '💰' : '✅' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n053",
      "name": "Pack Expense Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7480,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx=$input.first().json;\nconst q=ctx.query||{};\nconst period=q.period||'this_month';\nconst periodSql={today:\"transaction_date = CURRENT_DATE\",yesterday:\"transaction_date = CURRENT_DATE - INTERVAL '1 day'\",this_week:\"transaction_date >= DATE_TRUNC('week', CURRENT_DATE)\",this_month:\"transaction_date >= DATE_TRUNC('month', CURRENT_DATE)\",last_month:\"transaction_date >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND transaction_date < DATE_TRUNC('month', CURRENT_DATE)\",this_year:\"transaction_date >= DATE_TRUNC('year', CURRENT_DATE)\",all:\"TRUE\"}[period]||\"transaction_date >= DATE_TRUNC('month', CURRENT_DATE)\";\nlet sql,params;const userId=ctx.userId;const catHint=(q.category_hint||'').trim();const descHint=(q.description_hint||'').trim();\nif(q.kind==='find'){const hint=descHint||catHint||'';if(!hint){sql=`SELECT t.transaction_date::text AS d, t.amount, t.description, c.name AS cat, c.emoji FROM v_reportable_transactions t LEFT JOIN categories c ON c.id=t.category_id WHERE t.user_id=$1 AND ${periodSql} ORDER BY t.transaction_date DESC, t.created_at DESC LIMIT 15`;params=[userId];}else{sql=`SELECT t.transaction_date::text AS d, t.amount, t.description, c.name AS cat, c.emoji FROM v_reportable_transactions t LEFT JOIN categories c ON c.id=t.category_id WHERE t.user_id=$1 AND ${periodSql} AND (normalize_text(COALESCE(t.description,'')) % normalize_text($2) OR normalize_text(COALESCE(c.name,'')) % normalize_text($2)) ORDER BY t.transaction_date DESC, t.created_at DESC LIMIT 15`;params=[userId,hint];}}\nelse if(q.kind==='list_recent'){const descFilter=descHint?\" AND normalize_text(COALESCE(t.description,'')) % normalize_text($2)\":'';sql=`SELECT t.transaction_date::text AS d, t.amount, t.description, c.name AS cat, c.emoji FROM v_reportable_transactions t LEFT JOIN categories c ON c.id=t.category_id WHERE t.user_id=$1 AND t.type='expense' AND ${periodSql}${descFilter} ORDER BY t.transaction_date DESC, t.created_at DESC LIMIT 10`;params=descHint?[userId,descHint]:[userId];}\nelse if(q.kind==='by_category'){sql=`SELECT c.name AS category, c.emoji, SUM(t.amount) AS total, COUNT(*) AS n FROM v_reportable_transactions t LEFT JOIN categories c ON c.id=t.category_id WHERE t.user_id=$1 AND t.type='expense' AND ${periodSql} GROUP BY c.name, c.emoji ORDER BY total DESC`;params=[userId];}\nelse if(q.kind==='average'){sql=`SELECT AVG(amount) AS avg_amount, COUNT(*) AS n FROM v_reportable_transactions WHERE user_id=$1 AND type='expense' AND ${periodSql}`;params=[userId];}\nelse{if(catHint){sql=`SELECT COALESCE(SUM(t.amount),0) AS total, COUNT(*) AS n, c.name AS category, c.emoji FROM v_reportable_transactions t JOIN categories c ON c.id=t.category_id WHERE t.user_id=$1 AND t.type='expense' AND ${periodSql} AND c.normalized_name % normalize_text($2) GROUP BY c.name, c.emoji ORDER BY total DESC LIMIT 5`;params=[userId,catHint];}else{sql=`SELECT COALESCE(SUM(amount),0) AS total, COUNT(*) AS n FROM v_reportable_transactions WHERE user_id=$1 AND type='expense' AND ${periodSql}`;params=[userId];}}\nreturn [{json:{...ctx,sql,params,period}}];"
      },
      "id": "n054",
      "name": "Build Query SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5940,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {
          "queryReplacement": "={{ ($json.params || []).join(',') }}"
        }
      },
      "id": "n055",
      "name": "Run Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6160,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const ctx=$('Parse AI').first().json;const meta=$('Build Query SQL').first().json;const period=meta.period;const kind=meta.query?.kind||'total';const descHint=(meta.query?.description_hint||'').trim();const fmt=n=>Number(n||0).toLocaleString('es-AR',{minimumFractionDigits:0,maximumFractionDigits:2});const periodLabel=({today:'hoy',yesterday:'ayer',this_week:'esta semana',this_month:'este mes',last_month:'el mes pasado',this_year:'este año',all:'en total'})[period]||period;\nlet text='';\nconst isEmpty=!items.length||(items.length===1&&!items[0].json.amount&&(items[0].json.total==='0'||items[0].json.total===0||items[0].json.total===null||items[0].json.total===undefined)&&items[0].json.d===undefined&&items[0].json.avg_amount===undefined);\nif(isEmpty){\n  if(kind==='find')text=`🔍 No encontré gastos${descHint?' que coincidan con \"'+descHint+'\"':''} ${periodLabel}.`;\n  else text=`📭 No tengo registros para ${periodLabel} todavía.`;\n}\nelse if(items[0].json.d!==undefined){\n  const header=kind==='find'?(`🔍 Encontré ${items.length} ${items.length==1?'gasto':'gastos'}${descHint?' de \"'+descHint+'\"':''} ${periodLabel}:`):`🧾 Últimos movimientos ${periodLabel}:`;\n  text=header+'\\n'+items.map(i=>`${i.json.d} · ${i.json.emoji||''} ${i.json.cat||'—'} · $${fmt(i.json.amount)}${i.json.description?' — '+i.json.description:''}`).join('\\n');\n  if(kind==='find'){const total=items.reduce((s,i)=>s+Number(i.json.amount||0),0);text+=`\\n\\n*Total:* $${fmt(total)}`;}\n}\nelse if(items[0].json.category!==undefined){text=`📊 Gastos por categoría ${periodLabel}:\\n`+items.slice(0,10).map(i=>`${i.json.emoji||''} ${i.json.category||'—'}: $${fmt(i.json.total)} (${i.json.n})`).join('\\n');const total=items.reduce((s,i)=>s+Number(i.json.total||0),0);text+=`\\n\\n*Total:* $${fmt(total)}`;}\nelse if(items[0].json.avg_amount!==undefined){const r=items[0].json;text=`📈 Promedio ${periodLabel}: $${fmt(r.avg_amount)} (${r.n} mov).`;}\nelse if(items[0].json.total!==undefined){const r=items[0].json;text=`💸 Gastaste $${fmt(r.total)} ${periodLabel} (${r.n} ${r.n==1?'movimiento':'movimientos'}).`;}\nelse{text='No tengo registros.';}\nreturn [{json:{replyText:text,replyKind:'text',userId:ctx.userId,phone:ctx.phone,instance:ctx.instance,remoteJid:ctx.remoteJid,messageId:ctx.messageId,reactionEmoji:kind==='find'?'🔍':'📊'}}];"
      },
      "id": "n056",
      "name": "Format Query Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6380,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx=$input.first().json;const c=ctx.chart||{};const period=c.period||'this_month';const periodSql={today:\"transaction_date = CURRENT_DATE\",yesterday:\"transaction_date = CURRENT_DATE - INTERVAL '1 day'\",this_week:\"transaction_date >= DATE_TRUNC('week', CURRENT_DATE)\",this_month:\"transaction_date >= DATE_TRUNC('month', CURRENT_DATE)\",last_month:\"transaction_date >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND transaction_date < DATE_TRUNC('month', CURRENT_DATE)\",this_year:\"transaction_date >= DATE_TRUNC('year', CURRENT_DATE)\"}[period]||\"transaction_date >= DATE_TRUNC('month', CURRENT_DATE)\";\nlet sql;\nif(c.kind==='by_day'){sql=`SELECT transaction_date::text AS label, SUM(amount)::numeric AS value FROM v_reportable_transactions WHERE user_id=$1 AND type='expense' AND ${periodSql} GROUP BY transaction_date ORDER BY transaction_date`;}\nelse if(c.kind==='by_payment_method'){sql=`SELECT COALESCE(p.name,'Sin método') AS label, SUM(t.amount)::numeric AS value FROM v_reportable_transactions t LEFT JOIN payment_methods p ON p.id=t.payment_method_id WHERE t.user_id=$1 AND t.type='expense' AND ${periodSql} GROUP BY p.name ORDER BY value DESC`;}\nelse if(c.kind==='trend'){sql=`SELECT TO_CHAR(DATE_TRUNC('month', transaction_date),'YYYY-MM') AS label, SUM(amount)::numeric AS value FROM v_reportable_transactions WHERE user_id=$1 AND type='expense' AND transaction_date >= CURRENT_DATE - INTERVAL '6 months' GROUP BY 1 ORDER BY 1`;}\nelse{sql=`SELECT COALESCE(c.name,'Sin categoría') AS label, SUM(t.amount)::numeric AS value FROM v_reportable_transactions t LEFT JOIN categories c ON c.id=t.category_id WHERE t.user_id=$1 AND t.type='expense' AND ${periodSql} GROUP BY c.name ORDER BY value DESC LIMIT 12`;}\nreturn [{json:{...ctx,sql,kind:c.kind||'by_category',period}}];"
      },
      "id": "n057",
      "name": "Build Chart SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5940,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {
          "queryReplacement": "={{ $json.userId }}"
        }
      },
      "id": "n058",
      "name": "Run Chart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6160,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const ctx=$('Parse AI').first().json;const meta=$('Build Chart SQL').first().json;const periodLabel=({today:'hoy',yesterday:'ayer',this_week:'esta semana',this_month:'este mes',last_month:'el mes pasado',this_year:'este año'})[meta.period]||meta.period;\nif(!items.length||items.every(i=>!i.json.label)){return [{json:{replyKind:'text',replyText:`📭 No tengo gastos para ${periodLabel}. Mandame algunos primero.`,userId:ctx.userId,phone:ctx.phone,instance:ctx.instance,remoteJid:ctx.remoteJid,messageId:ctx.messageId,reactionEmoji:'📈'}}];}\nconst labels=items.map(i=>i.json.label);const values=items.map(i=>Number(i.json.value));const total=values.reduce((s,v)=>s+v,0);const isPie=meta.kind==='by_category'||meta.kind==='by_payment_method';const palette=['#FF6B6B','#4ECDC4','#FFD93D','#6BCB77','#4D96FF','#9D4EDD','#FF9F1C','#2EC4B6','#E71D36','#7209B7','#3A86FF','#FB5607'];const titleByKind=({by_category:'Gastos por categoría',by_payment_method:'Gastos por método de pago',by_day:'Gastos diarios',trend:'Tendencia mensual (6 meses)'})[meta.kind]||'Gastos';\nlet chart;\nif(isPie){chart={type:'doughnut',data:{labels,datasets:[{data:values,backgroundColor:palette}]},options:{plugins:{title:{display:true,text:`${titleByKind} — ${periodLabel}`},legend:{position:'right'}}}};}\nelse{chart={type:'bar',data:{labels,datasets:[{label:'Gasto',data:values,backgroundColor:palette[0]}]},options:{plugins:{title:{display:true,text:`${titleByKind} — ${periodLabel}`},legend:{display:false}},scales:{y:{beginAtZero:true}}}};}\nconst url='https://quickchart.io/chart?bkg=white&w=900&h=600&c='+encodeURIComponent(JSON.stringify(chart));const fmt=n=>Number(n||0).toLocaleString('es-AR');const caption=`${titleByKind} — ${periodLabel}\\nTotal: $${fmt(total)}`;\nreturn [{json:{replyKind:'image',imageUrl:url,replyText:caption,userId:ctx.userId,phone:ctx.phone,instance:ctx.instance,remoteJid:ctx.remoteJid,messageId:ctx.messageId,reactionEmoji:'📈'}}];"
      },
      "id": "n059",
      "name": "Build QuickChart URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6380,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH target AS (SELECT id FROM find_matching_tx($1::uuid, NULLIF($2,'')::text, NULLIF($3,'null')::date, NULLIF($4,'null')::numeric, NULLIF($5,'')::text, 1) LIMIT 1), deleted AS (DELETE FROM transactions WHERE id = (SELECT id FROM target) AND user_id = $1::uuid RETURNING amount, description, transaction_date) SELECT d.amount, d.description, d.transaction_date::text AS transaction_date, (d.amount IS NOT NULL) AS found FROM (SELECT NULL::numeric AS x) base LEFT JOIN deleted d ON TRUE;",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ ($json.match?.description_hint || '').toString() }},={{ $json.match?.date_iso || 'null' }},={{ $json.match?.amount || 'null' }},={{ ($json.match?.category_hint || '').toString() }}"
        }
      },
      "id": "n060",
      "name": "Delete Last",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const r=$input.first().json;const ctx=$('Parse AI').first().json;const base={replyKind:'text',userId:ctx.userId,phone:ctx.phone,instance:ctx.instance,remoteJid:ctx.remoteJid,messageId:ctx.messageId};if(!r||!r.found){return [{json:{...base,replyText:'😅 No encontré ese gasto para borrar. Probá dándome más detalle (monto, fecha o descripción).',reactionEmoji:'😅'}}];}const fmt=n=>Number(n||0).toLocaleString('es-AR',{minimumFractionDigits:2,maximumFractionDigits:2});const today=new Date();const yest=new Date(today);yest.setDate(yest.getDate()-1);const iso=d=>d.toISOString().slice(0,10);const txDate=String(r.transaction_date).slice(0,10);const dateLabel=txDate===iso(today)?'hoy':txDate===iso(yest)?'ayer':(()=>{const d=new Date(r.transaction_date+'T00:00:00');const days=['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];const months=['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];return `${days[d.getDay()]} ${d.getDate()} de ${months[d.getMonth()]}`;})();const desc=r.description?` — ${r.description}`:'';return [{json:{...base,replyText:`🗑️ Borrado: $${fmt(r.amount)}${desc} · ${dateLabel}.`,reactionEmoji:'🗑️'}}];"
      },
      "id": "n061",
      "name": "Pack Delete Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6160,
        640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH found AS (SELECT id FROM find_matching_tx($1::uuid, NULLIF($2,'')::text, NULLIF($3,'null')::date, NULLIF($4,'null')::numeric, NULLIF($5,'')::text, 1) LIMIT 1), updated AS (UPDATE transactions t SET transaction_date = COALESCE(NULLIF($6,'null')::date, t.transaction_date), amount = COALESCE(NULLIF($7,'null')::numeric, t.amount), description = COALESCE(NULLIF($8,''), t.description), updated_at = NOW() WHERE t.id = (SELECT id FROM found) AND t.user_id = $1::uuid RETURNING t.id, t.amount, t.description, t.transaction_date, t.category_id) SELECT u.id, u.amount, u.description, u.transaction_date::text AS transaction_date, c.name AS category_name, c.emoji AS category_emoji, (u.id IS NOT NULL) AS found FROM (SELECT NULL::uuid AS x) base LEFT JOIN updated u ON TRUE LEFT JOIN categories c ON c.id = u.category_id;",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ ($json.match?.description_hint || '').toString() }},={{ $json.match?.date_iso || 'null' }},={{ $json.match?.amount || 'null' }},={{ ($json.match?.category_hint || '').toString() }},={{ $json.transaction?.transaction_date_iso || 'null' }},={{ $json.transaction?.amount || 'null' }},={{ ($json.transaction?.description || '').toString() }}"
        }
      },
      "id": "n062",
      "name": "Edit Tx",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const r=$input.first().json;const ctx=$('Parse AI').first().json;const base={replyKind:'text',userId:ctx.userId,phone:ctx.phone,instance:ctx.instance,remoteJid:ctx.remoteJid,messageId:ctx.messageId};if(!r||!r.found){return [{json:{...base,replyText:'😅 No encontré ese gasto. Probá con más detalle (monto, fecha o descripción).',reactionEmoji:'😅'}}];}const fmt=n=>Number(n||0).toLocaleString('es-AR',{minimumFractionDigits:2,maximumFractionDigits:2});const today=new Date();const yest=new Date(today);yest.setDate(yest.getDate()-1);const iso=d=>d.toISOString().slice(0,10);const txDate=String(r.transaction_date).slice(0,10);const dateLabel=txDate===iso(today)?'hoy':txDate===iso(yest)?'ayer':(()=>{const d=new Date(r.transaction_date+'T00:00:00');const days=['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];const months=['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];return `${days[d.getDay()]} ${d.getDate()} de ${months[d.getMonth()]}`;})();const desc=r.description?` — ${r.description}`:'';const cat=r.category_name?` · ${r.category_emoji||''} ${r.category_name}`.trim():'';return [{json:{...base,replyText:`✏️ Listo, actualicé: $${fmt(r.amount)}${desc}${cat} · ${dateLabel}.`,reactionEmoji:'✏️'}}];"
      },
      "id": "n063",
      "name": "Format Edit Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6160,
        820
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, kind FROM expense_groups WHERE id = upsert_group($1::uuid, $2::text, $3::text);",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ $json.group?.name || 'Sin nombre' }},={{ $json.group?.kind || 'event' }}"
        }
      },
      "id": "n064",
      "name": "Create Group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "=🧳 Creé el {{ $json.kind }} *{{ $json.name }}*. Cuando registres gastos para esto, mencionalo (ej: \"3000 cena para {{ $json.name }}\") y los voy a agrupar acá."
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "🧳"
            }
          ]
        },
        "options": {}
      },
      "id": "n065",
      "name": "Pack Group Created",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        820
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM list_groups($1::uuid, true);",
        "options": {
          "queryReplacement": "={{ $json.userId }}"
        }
      },
      "id": "n066",
      "name": "List Groups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const ctx=$('Parse AI').first().json;const fmt=n=>Number(n||0).toLocaleString('es-AR');\nlet text;\nif(!items.length||!items[0].json.id){text='📭 No tenés grupos creados todavía. Probá: \"creá un viaje a bariloche\".';}\nelse{text='🧳 Tus grupos:\\n'+items.map(i=>{const j=i.json;return `${j.excluded?'🚫 ':''}${j.emoji||'•'} *${j.name}* (${j.kind}) — ${j.n} gastos · $${fmt(j.total)}`;}).join('\\n');}\nreturn [{json:{replyText:text,replyKind:'text',userId:ctx.userId,phone:ctx.phone,instance:ctx.instance,remoteJid:ctx.remoteJid,messageId:ctx.messageId,reactionEmoji:'📋'}}];"
      },
      "id": "n067",
      "name": "Format Groups List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6160,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM set_budget($1::uuid, $2::text, $3::numeric, $4::text);",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ $json.budget?.category_hint || '' }},={{ $json.budget?.amount || 0 }},={{ $json.budget?.period || 'monthly' }}"
        }
      },
      "id": "n068",
      "name": "Set Budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        1180
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $json.category_name ? '🎯 Listo, presupuesto ' + ($json.period === 'weekly' ? 'semanal' : $json.period === 'yearly' ? 'anual' : 'mensual') + ' de *' + $json.category_name + '* en $' + Number($json.amount).toLocaleString('es-AR') + '. Te aviso cuando estés cerca o te pases.' : '😅 No encontré esa categoría. Mandala como aparece en tus gastos.' }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "🎯"
            }
          ]
        },
        "options": {}
      },
      "id": "n069",
      "name": "Pack Budget Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM toggle_category_exclusion($1::uuid, $2::text);",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ $json.category_action?.category_hint || '' }}"
        }
      },
      "id": "n070",
      "name": "Toggle Cat Excl",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        1360
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $json.name ? ($json.excluded ? '🚫 Listo, *' + $json.name + '* deja de contar en los reportes.' : '✅ *' + $json.name + '* vuelve a contar en los reportes.') : '😅 No encontré esa categoría.' }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "👌"
            }
          ]
        },
        "options": {}
      },
      "id": "n071",
      "name": "Pack Toggle Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH cat AS (SELECT id FROM categories WHERE user_id=$1::uuid AND normalized_name % normalize_text($2::text) ORDER BY similarity(normalized_name, normalize_text($2::text)) DESC LIMIT 1) INSERT INTO recurring_transactions (user_id, category_id, type, amount, currency, description, frequency, next_occurrence, is_active) VALUES ($1::uuid, (SELECT id FROM cat), 'expense', $3::numeric, 'ARS', $4::text, $5::text, COALESCE($6::date, CURRENT_DATE), TRUE) RETURNING amount, description, frequency, next_occurrence;",
        "options": {
          "queryReplacement": "={{ $json.userId }},={{ $json.recurring?.category_hint || 'Otros' }},={{ $json.recurring?.amount || 0 }},={{ $json.recurring?.description || '' }},={{ $json.recurring?.frequency || 'monthly' }},={{ $json.recurring?.start_date_iso || null }}"
        }
      },
      "id": "n072",
      "name": "Set Recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        1540
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "=🔁 Listo, agendé recurrente: $({{ $json.amount }}) {{ $json.description ? '— ' + $json.description : '' }} cada {{ $json.frequency === 'daily' ? 'día' : $json.frequency === 'weekly' ? 'semana' : $json.frequency === 'biweekly' ? 'quincena' : $json.frequency === 'yearly' ? 'año' : 'mes' }}. Próxima carga: {{ $json.next_occurrence }}."
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "🔁"
            }
          ]
        },
        "options": {}
      },
      "id": "n073",
      "name": "Pack Recurring Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        1540
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx=$input.first().json;const r=ctx.report||{};const period=r.period||'this_month';const today=new Date();const fmt=d=>d.toISOString().slice(0,10);let s,e;\nif(period==='custom'&&r.start_date_iso&&r.end_date_iso){s=r.start_date_iso;e=r.end_date_iso;}\nelse if(period==='last_month'){const d=new Date(today.getFullYear(),today.getMonth()-1,1);s=fmt(d);e=fmt(new Date(today.getFullYear(),today.getMonth(),0));}\nelse if(period==='this_year'){s=`${today.getFullYear()}-01-01`;e=fmt(today);}\nelse if(period==='all'){s='2000-01-01';e=fmt(today);}\nelse{s=fmt(new Date(today.getFullYear(),today.getMonth(),1));e=fmt(today);}\nreturn [{json:{...ctx,startDate:s,endDate:e}}];"
      },
      "id": "n074",
      "name": "Calc Report Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5940,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/report-request",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"userId\": \"{{ $json.userId }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"instance\": \"{{ $json.instance }}\",\n  \"startDate\": \"{{ $json.startDate }}\",\n  \"endDate\": \"{{ $json.endDate }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n075",
      "name": "Trigger PDF Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        1720
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "=📄 Estoy armando tu reporte ({{ $('Calc Report Range').first().json.startDate }} → {{ $('Calc Report Range').first().json.endDate }}). Te lo mando en un toque."
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "📄"
            }
          ]
        },
        "options": {}
      },
      "id": "n076",
      "name": "Pack Report Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6380,
        1720
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT state, context FROM conversation_state WHERE user_id = $1::uuid LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.userId }}"
        }
      },
      "id": "n077",
      "name": "Get Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5780,
        1900
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "p1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_pdf_import"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "p2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_dup_confirmation"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "duplicate"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otros"
        }
      },
      "id": "n078",
      "name": "Switch Pending Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        5940,
        1900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH state AS (SELECT context FROM conversation_state WHERE user_id = $1::uuid AND state = 'awaiting_pdf_import' LIMIT 1), expenses AS (SELECT (e.value->>'amount')::numeric AS amount, e.value->>'description' AS description, e.value->>'category_hint' AS cat_hint, NULLIF(e.value->>'transaction_date_iso','')::date AS tx_date, e.value->>'merchant' AS merchant FROM state s, jsonb_array_elements(s.context->'expenses') e), with_cats AS (SELECT ex.*, COALESCE((SELECT id FROM categories c WHERE c.user_id=$1::uuid AND c.normalized_name = normalize_text(ex.cat_hint) LIMIT 1), (SELECT id FROM categories c WHERE c.user_id=$1::uuid AND c.normalized_name = normalize_text('Otros') LIMIT 1)) AS category_id FROM expenses ex), ins AS (INSERT INTO transactions (user_id, category_id, type, amount, currency, description, raw_message, transaction_date, confidence_score, metadata) SELECT $1::uuid, wc.category_id, 'expense', wc.amount, 'ARS', COALESCE(wc.description, wc.merchant, 'Importado de PDF'), '[pdf_import]', COALESCE(wc.tx_date, CURRENT_DATE), 0.7, jsonb_build_object('source','pdf_import','merchant',wc.merchant) FROM with_cats wc WHERE wc.amount > 0 RETURNING id), cleanup AS (SELECT clear_conv_state($1::uuid)) SELECT COUNT(*) AS imported_count, (SELECT SUM(amount) FROM expenses) AS total FROM ins;",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }}"
        }
      },
      "id": "n079",
      "name": "Bulk Insert PDF",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6160,
        1820
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "=✅ Importé *{{ $json.imported_count }}* gastos del PDF por un total de ${{ Number($json.total || 0).toLocaleString('es-AR') }}. Si querés revisarlos, pedime \"últimos movimientos\"."
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "📥"
            }
          ]
        },
        "options": {}
      },
      "id": "n080",
      "name": "Pack PDF Imported",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6380,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH state AS (SELECT context FROM conversation_state WHERE user_id = $1::uuid AND state = 'awaiting_dup_confirmation' LIMIT 1), ins AS (INSERT INTO transactions (user_id, category_id, type, amount, currency, description, raw_message, transaction_date, transaction_at, confidence_score, metadata) SELECT $1::uuid, (s.context->>'category_id')::uuid, 'expense', (s.context->'pending_tx'->>'amount')::numeric, 'ARS', s.context->'pending_tx'->>'description', '[duplicate confirmed]', COALESCE((s.context->'pending_tx'->>'transaction_date_iso')::date, CURRENT_DATE), CASE WHEN length(s.context->'pending_tx'->>'transaction_date_iso') > 10 THEN (s.context->'pending_tx'->>'transaction_date_iso')::timestamptz ELSE NULL END, 0.85, s.context FROM state s RETURNING amount, description, transaction_date), del AS (SELECT clear_conv_state($1::uuid)) SELECT * FROM ins;",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }}"
        }
      },
      "id": "n081",
      "name": "Insert Dup Confirmed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6160,
        1860
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH state AS (SELECT context FROM conversation_state WHERE user_id = $1::uuid AND state = 'awaiting_otros_confirmation' LIMIT 1), ins AS (INSERT INTO transactions (user_id, category_id, type, amount, currency, description, raw_message, transaction_date, confidence_score, metadata) SELECT $1::uuid, (s.context->>'category_id')::uuid, 'expense', (s.context->'pending_tx'->>'amount')::numeric, 'ARS', s.context->'pending_tx'->>'description', '[confirmed otros]', COALESCE((s.context->'pending_tx'->>'transaction_date_iso')::date, CURRENT_DATE), 0.85, s.context FROM state s RETURNING amount, description, transaction_date), del AS (SELECT clear_conv_state($1::uuid)) SELECT * FROM ins;",
        "options": {
          "queryReplacement": "={{ $('Parse AI').first().json.userId }}"
        }
      },
      "id": "n082",
      "name": "Resolve Pending Yes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6160,
        1980
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $json.amount ? '✅ Listo, lo guardé en *Otros*: $' + Number($json.amount).toLocaleString('es-AR') + ($json.description ? ' — ' + $json.description : '') : '😅 No tenía nada pendiente para confirmar.' }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "✅"
            }
          ]
        },
        "options": {}
      },
      "id": "n083",
      "name": "Pack Yes Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        1900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT clear_conv_state($1::uuid);",
        "options": {
          "queryReplacement": "={{ $json.userId }}"
        }
      },
      "id": "n084",
      "name": "Clear Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        2080
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "=👍 Cancelado. Si querés intentarlo de nuevo, escribime el gasto con la categoría que prefieras."
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Parse AI').first().json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "👍"
            }
          ]
        },
        "options": {}
      },
      "id": "n085",
      "name": "Pack No Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        2080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $json.human_reply || '👋 ¡Hola! Estoy para ayudarte con tus gastos.' }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "👋"
            }
          ]
        },
        "options": {}
      },
      "id": "n086",
      "name": "Chat Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5940,
        2260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, emoji, type, excluded_from_reports, is_active FROM categories WHERE user_id = $1::uuid AND is_active = TRUE ORDER BY type DESC, name;",
        "options": {
          "queryReplacement": "={{ $json.userId }}"
        }
      },
      "id": "n087",
      "name": "List Categories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5940,
        2620
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const ctx=$('Parse AI').first().json;\nif(!items.length||!items[0].json.name){return [{json:{replyText:'📭 No tenés categorías cargadas todavía.',replyKind:'text',userId:ctx.userId,phone:ctx.phone,instance:ctx.instance,remoteJid:ctx.remoteJid,messageId:ctx.messageId,reactionEmoji:'📋'}}];}\nconst expense=items.filter(i=>i.json.type==='expense');\nconst income=items.filter(i=>i.json.type==='income');\nconst fmt=arr=>arr.map(i=>{const j=i.json;return `${j.excluded_from_reports?'🚫 ':''}${j.emoji||'•'} ${j.name}`;}).join('\\n');\nlet text='📋 *Tus categorías:*';\nif(expense.length){text+='\\n\\n💸 *Gastos:*\\n'+fmt(expense);}\nif(income.length){text+='\\n\\n💰 *Ingresos:*\\n'+fmt(income);}\ntext+='\\n\\n_🚫 = excluida de reportes_';\nreturn [{json:{replyText:text,replyKind:'text',userId:ctx.userId,phone:ctx.phone,instance:ctx.instance,remoteJid:ctx.remoteJid,messageId:ctx.messageId,reactionEmoji:'📋'}}];"
      },
      "id": "n088",
      "name": "Format Categories List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6160,
        2620
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "=👋 Soy Chefin, tu bot de gastos.\n\n📝 *Registrar*\n• \"2500 café\" / \"15000 luz con débito\"\n• \"30k nafta ayer\" / \"cobré 200000\"\n\n📊 *Consultas*\n• \"cuánto gasté este mes\" / \"gastos en comida\"\n• \"últimos movimientos\"\n• \"mostrame el café de ayer\" / \"buscá los uber\"\n\n📈 *Gráficos*\n• \"gráfico por categoría\"\n• \"tendencia de los últimos 6 meses\"\n• \"gráfico de gastos de ayer\"\n\n✏️ *Editar / Borrar*\n• \"cambiá el último a ayer\"\n• \"el café de ayer fue 3000 no 2000\"\n• \"borrá el último\" / \"borrá el café de ayer\"\n• \"eliminá los 15000 del lunes\"\n\n🧳 *Grupos*\n• \"creá viaje a bariloche\"\n• \"3500 cena para el viaje\"\n• \"qué viajes tengo\"\n\n🎯 *Presupuestos*\n• \"presupuesto mensual de comida 80000\"\n• \"no cuentes transferencias\"\n\n🔁 *Recurrentes*\n• \"netflix 5500 mensual\"\n\n📄 *Reportes*\n• \"mandame reporte mensual\"\n\n🎙️ También entiendo audios y 📸 fotos de tickets."
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "text"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "📚"
            }
          ]
        },
        "options": {}
      },
      "id": "n089",
      "name": "Help Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5940,
        2440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $json.replyText }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "={{ $json.replyKind }}"
            },
            {
              "id": "iu",
              "name": "imageUrl",
              "type": "string",
              "value": "={{ $json.imageUrl || \"\" }}"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "={{ ['log_expense','log_income'].includes($('Parse AI').first()?.json?.intent) ? ($json.reactionEmoji || '✅') : '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n090",
      "name": "Save Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7300,
        1000
      ]
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "presence": "composing",
        "delay": 1600,
        "options_message": {}
      },
      "id": "n091",
      "name": "Send Presence",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7480,
        1000
      ],
      "credentials": {
        "evolutionApi": {
          "id": "FgeqqvxAqTER4oeD",
          "name": "Evolution account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Save Context').first().json.replyKind }}",
              "rightValue": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "n092",
      "name": "IF Image Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7700,
        1000
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "media": "={{ $('Save Context').first().json.imageUrl }}",
        "caption": "={{ $('Save Context').first().json.replyText }}",
        "options_message": {}
      },
      "id": "n093",
      "name": "Send Image",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7920,
        900
      ],
      "credentials": {
        "evolutionApi": {
          "id": "FgeqqvxAqTER4oeD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "messageText": "={{ $('Save Context').first().json.replyText }}",
        "options_message": {}
      },
      "id": "n094",
      "name": "Send Text",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7920,
        1100
      ],
      "credentials": {
        "evolutionApi": {
          "id": "FgeqqvxAqTER4oeD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict", "version": 1},
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {"type": "string", "operation": "notEmpty"},
              "leftValue": "={{ $('Save Context').first().json.reactionEmoji }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "n097",
      "name": "IF Should React",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [8050, 1000]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-reaction",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.remoteJid }}",
        "messageId": "={{ $('Save Context').first().json.messageId }}",
        "fromMe": false,
        "reaction": "={{ $('Save Context').first().json.reactionEmoji }}",
        "options_message": {}
      },
      "id": "n095",
      "name": "Send Reaction",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8140,
        1000
      ],
      "credentials": {
        "evolutionApi": {
          "id": "FgeqqvxAqTER4oeD",
          "name": "Evolution account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (user_id, direction, content, processed, raw_payload) VALUES ($1::uuid, 'outbound', $2, TRUE, $3::jsonb);",
        "options": {
          "queryReplacement": "={{ $('Save Context').first().json.userId }},={{ $('Save Context').first().json.replyText || '' }},={{ JSON.stringify($('Save Context').first().json) }}"
        }
      },
      "id": "n096",
      "name": "Log Outbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        8360,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Valid Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Inbound": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "IF Allowed Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Allowed Phone": {
      "main": [
        [
          {
            "node": "Switch Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Media Type": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision OCR": {
      "main": [
        [
          {
            "node": "Receipt to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Audio to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio to Binary": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "PDF to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Binary": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "AI Extract Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract Expenses": {
      "main": [
        [
          {
            "node": "Parse PDF Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipt to Text": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PDF Result": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Text": {
      "main": [
        [
          {
            "node": "Bootstrap User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bootstrap User": {
      "main": [
        [
          {
            "node": "Get Conv State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conv State": {
      "main": [
        [
          {
            "node": "Merge Ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Ctx": {
      "main": [
        [
          {
            "node": "Redis Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Check": {
      "main": [
        [
          {
            "node": "IF New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF New": {
      "main": [
        [
          {
            "node": "Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processed": {
      "main": [
        [
          {
            "node": "IF First Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF First Time": {
      "main": [
        [
          {
            "node": "Buffer Push",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Buffer Push": {
      "main": [
        [
          {
            "node": "Lock Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Token": {
      "main": [
        [
          {
            "node": "Lock Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Set": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Lock Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Get": {
      "main": [
        [
          {
            "node": "IF Won Race",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Won Race": {
      "main": [
        [
          {
            "node": "Buffer Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Get": {
      "main": [
        [
          {
            "node": "Buffer Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Delete": {
      "main": [
        [
          {
            "node": "Concat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat": {
      "main": [
        [
          {
            "node": "IF PDF Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF PDF Import": {
      "main": [
        [
          {
            "node": "Save PDF Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PDF Pending": {
      "main": [
        [
          {
            "node": "Pack PDF Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify": {
      "main": [
        [
          {
            "node": "Parse AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI": {
      "main": [
        [
          {
            "node": "Switch Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intent": {
      "main": [
        [
          {
            "node": "Match Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Match Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Query SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Chart SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Last",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Groups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Budget",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toggle Cat Excl",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Recurring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calc Report Range",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Categories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Tx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Category": {
      "main": [
        [
          {
            "node": "Ensure Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Category": {
      "main": [
        [
          {
            "node": "IF Is Otros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Otros": {
      "main": [
        [
          {
            "node": "Set Conv Awaiting Otros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Conv Awaiting Otros": {
      "main": [
        [
          {
            "node": "Format Otros Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Otros Question": {
      "main": [
        [
          {
            "node": "Pack Otros Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "IF Is Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Duplicate": {
      "main": [
        [
          {
            "node": "Save Dup Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Dup Pending": {
      "main": [
        [
          {
            "node": "Pack Dup Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Group": {
      "main": [
        [
          {
            "node": "Insert Tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Tx": {
      "main": [
        [
          {
            "node": "Format Expense Reply Q",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Expense Reply Q": {
      "main": [
        [
          {
            "node": "Check Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Budget": {
      "main": [
        [
          {
            "node": "Pack Expense Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Query SQL": {
      "main": [
        [
          {
            "node": "Run Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Query": {
      "main": [
        [
          {
            "node": "Format Query Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chart SQL": {
      "main": [
        [
          {
            "node": "Run Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Chart": {
      "main": [
        [
          {
            "node": "Build QuickChart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Last": {
      "main": [
        [
          {
            "node": "Pack Delete Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Tx": {
      "main": [
        [
          {
            "node": "Format Edit Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Group": {
      "main": [
        [
          {
            "node": "Pack Group Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Groups": {
      "main": [
        [
          {
            "node": "Format Groups List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Budget": {
      "main": [
        [
          {
            "node": "Pack Budget Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Cat Excl": {
      "main": [
        [
          {
            "node": "Pack Toggle Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Recurring": {
      "main": [
        [
          {
            "node": "Pack Recurring Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Report Range": {
      "main": [
        [
          {
            "node": "Trigger PDF Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger PDF Webhook": {
      "main": [
        [
          {
            "node": "Pack Report Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending": {
      "main": [
        [
          {
            "node": "Switch Pending Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Pending Type": {
      "main": [
        [
          {
            "node": "Bulk Insert PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Dup Confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Pending Yes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Insert PDF": {
      "main": [
        [
          {
            "node": "Pack PDF Imported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Dup Confirmed": {
      "main": [
        [
          {
            "node": "Pack Yes Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Pending Yes": {
      "main": [
        [
          {
            "node": "Pack Yes Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Pending": {
      "main": [
        [
          {
            "node": "Pack No Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Categories": {
      "main": [
        [
          {
            "node": "Format Categories List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Otros Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Expense Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Query Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build QuickChart URL": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Delete Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Edit Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Group Created": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Groups List": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Budget Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Toggle Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Recurring Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Report Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Yes Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack No Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Help Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack PDF Confirm": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack PDF Imported": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Categories List": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Dup Question": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Context": {
      "main": [
        [
          {
            "node": "Send Presence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Presence": {
      "main": [
        [
          {
            "node": "IF Image Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Image Reply": {
      "main": [
        [
          {
            "node": "Send Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image": {
      "main": [
        [
          {
            "node": "IF Should React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text": {
      "main": [
        [
          {
            "node": "IF Should React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should React": {
      "main": [
        [
          {
            "node": "Send Reaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reaction": {
      "main": [
        [
          {
            "node": "Log Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
