workflows/chefin-tools-v3.json
{
  "id": "chefin_tools_v3",
  "name": "Chefin Agent Tools v3",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "t001",
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst q = inp.query || {};\nconst merged = { ...q, ...inp };\n\nconst tool_name = merged.tool_name || '';\nconst user_id = merged.user_id || '';\nif (!user_id) throw new Error('Missing user_id');\nif (!tool_name) throw new Error('Missing tool_name');\n\n// 1) Try blob-style first\nlet params = merged.params;\nif (typeof params === 'string') {\n  try { params = JSON.parse(params); } catch { params = null; }\n}\nif (params && typeof params !== 'object') params = null;\n\n// 2) params_json legacy\nif (!params && typeof merged.params_json === 'string') {\n  try { params = JSON.parse(merged.params_json || '{}'); } catch { params = {}; }\n}\n\n// 3) Per-field flat (new design): collect everything except control fields\nif (!params) {\n  params = {};\n  const ctrl = new Set(['tool_name', 'user_id', 'query', 'params', 'params_json']);\n  for (const [k, v] of Object.entries(merged)) {\n    if (ctrl.has(k)) continue;\n    // Skip empty strings and 0 numbers (treated as \"field not provided\" defaults)\n    if (v === '' || v === null || v === undefined) continue;\n    if (typeof v === 'number' && v === 0 && k !== 'amount_delta' && k !== 'top_n') continue;\n    if (Array.isArray(v) && v.length === 0) continue;\n    if (typeof v === 'object' && !Array.isArray(v) && Object.keys(v).length === 0) continue;\n    params[k] = v;\n  }\n}\n\nif (!params || typeof params !== 'object') params = {};\n\n// Strip placeholder fields\n['_', 'dummy', 'action'].forEach(k => {\n  if (Object.prototype.hasOwnProperty.call(params, k) && (params[k] === true || params[k] === 'run' || params[k] === 'execute')) {\n    delete params[k];\n  }\n});\n\nreturn [{ json: { tool_name, user_id, params, params_json: JSON.stringify(params) } }];"
      },
      "id": "t002",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "query_transactions"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "query_transactions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "get_total"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "get_total"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "get_breakdown"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "get_breakdown"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "compare_periods"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "compare_periods"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "find_transactions"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "find_transactions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "find_duplicates"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "find_duplicates"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "bulk_preview"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "bulk_preview"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r7",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "bulk_delete"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "bulk_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r8",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "bulk_update"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "bulk_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "log_transaction"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "log_transaction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r10",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "update_transaction"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update_transaction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r11",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "delete_transaction"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_transaction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r12",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "list_categories"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list_categories"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r13",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "list_groups"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list_groups"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r14",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "list_budgets"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list_budgets"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r15",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "set_budget"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "set_budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r16",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "create_group"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "create_group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r17",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "toggle_category_exclusion"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "toggle_category_exclusion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r18",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "set_recurring"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "set_recurring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r19",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "remember_last_list"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "remember_last_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r20",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "get_last_list"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "get_last_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r21",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "set_conv_state"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "set_conv_state"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r22",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "clear_conv_state"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "clear_conv_state"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r23",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "generate_chart"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "generate_chart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r24",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "create_category"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "create_category"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r25",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "rename_category"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "rename_category"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r26",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "delete_category"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_category"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r27",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "list_recurring"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list_recurring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r28",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "update_recurring"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update_recurring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r29",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "pause_recurring"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pause_recurring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r30",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "resume_recurring"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "resume_recurring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r31",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "cancel_recurring"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cancel_recurring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r32",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "update_group"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update_group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r33",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "rename_group"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "rename_group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r34",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "close_group"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "close_group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r35",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "delete_group"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r36",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "delete_budget"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r37",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "pause_budget"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pause_budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r38",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "resume_budget"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "resume_budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r39",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "create_tag"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "create_tag"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r40",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "rename_tag"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "rename_tag"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r41",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "delete_tag"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete_tag"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r42",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "list_tags"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list_tags"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r43",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "tag_transactions"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "tag_transactions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r44",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "untag_transactions"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "untag_transactions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r45",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "suggest_tags"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "suggest_tags"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r46",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "get_settings"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "get_settings"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r47",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "update_settings"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update_settings"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r48",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "financial_advice"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "financial_advice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r49",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "remember_fact"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "remember_fact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r50",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "recall_memory"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "recall_memory"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r51",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "update_memory"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update_memory"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r52",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "forget_memory"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "forget_memory"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r53",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.tool_name }}",
                    "rightValue": "list_memories"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list_memories"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown"
        }
      },
      "id": "t003",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM query_tx_dynamic(\n        $1::uuid,\n        $2::jsonb,\n        COALESCE(NULLIF($2::jsonb->>'limit','')::int, 20),\n        COALESCE(NULLIF($2::jsonb->>'offset','')::int, 0)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t004",
      "name": "PG query_transactions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        -800
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'query_transactions', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nconst total = rows[0]?.total_count || 0;\nconst items = rows.map(r => ({\n  id: r.id, date: r.transaction_date, amount: Number(r.amount),\n  description: r.description, category: r.category_name, emoji: r.category_emoji,\n  type: r.type, payment_method: r.payment_method_name, group: r.group_name\n}));\nreturn [{ json: { ok: true, tool: 'query_transactions',\n  data: { items, total_count: Number(total), returned: items.length, has_more: items.length < Number(total) } } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'query_transactions', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t005",
      "name": "Fmt query_transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_total_dynamic($1::uuid, $2::jsonb);",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t006",
      "name": "PG get_total",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        -680
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'get_total', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'get_total', data: {\n  total: Number(r.total||0), count: Number(r.count||0),\n  period_start: r.period_start, period_end: r.period_end\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'get_total', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t007",
      "name": "Fmt get_total",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -680
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_breakdown_dynamic(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'dimension',''), 'category'),\n        $2::jsonb,\n        COALESCE(NULLIF($2::jsonb->>'top_n','')::int, 10)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t008",
      "name": "PG get_breakdown",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        -560
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'get_breakdown', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'get_breakdown', data: {\n  rows: rows.map(r => ({ label: r.label, emoji: r.emoji, total: Number(r.total),\n    count: Number(r.count), pct: Number(r.pct_of_total) })),\n  total_rows: rows.length\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'get_breakdown', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t009",
      "name": "Fmt get_breakdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM compare_periods(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'period_a',''), 'this_month'),\n        COALESCE(NULLIF($2::jsonb->>'period_b',''), 'last_month'),\n        COALESCE(NULLIF($2::jsonb->>'type',''), 'expense')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t010",
      "name": "PG compare_periods",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        -440
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'compare_periods', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'compare_periods', data: {\n  a: { label: r.label_a, total: Number(r.total_a), count: Number(r.count_a) },\n  b: { label: r.label_b, total: Number(r.total_b), count: Number(r.count_b) },\n  delta_abs: Number(r.delta_abs||0), delta_pct: r.delta_pct === null ? null : Number(r.delta_pct)\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'compare_periods', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t011",
      "name": "Fmt compare_periods",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM find_matching_tx_v2(\n        $1::uuid,\n        NULLIF($2::jsonb->>'description_contains','')::text,\n        NULLIF($2::jsonb->>'date','')::date,\n        NULLIF($2::jsonb->>'date_from','')::date,\n        NULLIF($2::jsonb->>'date_to','')::date,\n        NULLIF($2::jsonb->>'exact_amount','')::numeric,\n        NULLIF($2::jsonb->>'min_amount','')::numeric,\n        NULLIF($2::jsonb->>'max_amount','')::numeric,\n        NULLIF($2::jsonb->>'category','')::text,\n        NULLIF($2::jsonb->>'type','')::text,\n        NULLIF($2::jsonb->>'group_name','')::text,\n        COALESCE(NULLIF($2::jsonb->>'limit','')::int, 20)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t012",
      "name": "PG find_transactions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        -320
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'find_transactions', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nconst items = rows.map(r => ({\n  id: r.id, date: r.transaction_date, amount: Number(r.amount),\n  description: r.description, category: r.category_name, emoji: r.category_emoji,\n  type: r.type, group: r.group_name,\n  score: Number(r.score), match_reasons: r.match_reasons\n}));\nreturn [{ json: { ok: true, tool: 'find_transactions',\n  data: { matches: items, count: items.length, ambiguous: items.length > 1 && items.every(x => x.score >= (items[0].score - 0.05)) } } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'find_transactions', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t013",
      "name": "Fmt find_transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM find_potential_duplicates(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'window_days','')::int, 7),\n        COALESCE(NULLIF($2::jsonb->>'min_repetitions','')::int, 2)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t014",
      "name": "PG find_duplicates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'find_duplicates', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'find_duplicates', data: {\n  clusters: rows.map(r => ({\n    cluster_id: r.cluster_id, count: Number(r.tx_count),\n    total_amount: Number(r.total_amount), sample_amount: Number(r.sample_amount),\n    sample_category: r.sample_category, sample_description: r.sample_description,\n    earliest_date: r.earliest_date, latest_date: r.latest_date,\n    transaction_ids: r.transaction_ids\n  })), cluster_count: rows.length\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'find_duplicates', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t015",
      "name": "Fmt find_duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM bulk_preview($1::uuid, $2::jsonb);",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t016",
      "name": "PG bulk_preview",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'bulk_preview', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'bulk_preview', data: {\n  count: Number(r.would_match_count||0),\n  total: Number(r.would_match_total||0),\n  ids: r.sample_ids || [],\n  preview: r.preview || []\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'bulk_preview', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t017",
      "name": "Fmt bulk_preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM bulk_delete_by_ids(\n        $1::uuid,\n        ARRAY(SELECT jsonb_array_elements_text($2::jsonb->'ids'))::uuid[]\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t018",
      "name": "PG bulk_delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        40
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'bulk_delete', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'bulk_delete', data: {\n  deleted_count: Number(r.deleted_count||0),\n  deleted_total: Number(r.deleted_total||0),\n  deleted_ids: r.deleted_ids || []\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'bulk_delete', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t019",
      "name": "Fmt bulk_delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        40
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM bulk_update_by_ids(\n        $1::uuid,\n        ARRAY(SELECT jsonb_array_elements_text($2::jsonb->'ids'))::uuid[],\n        NULLIF($2::jsonb->>'new_category_id','')::uuid,\n        NULLIF($2::jsonb->>'new_date','')::date,\n        NULLIF($2::jsonb->>'new_group_id','')::uuid,\n        NULLIF($2::jsonb->>'amount_delta','')::numeric,\n        NULLIF($2::jsonb->>'set_excluded','')::boolean,\n        NULLIF($2::jsonb->>'new_category_hint',''),\n        COALESCE(($2::jsonb->>'create_category_if_missing')::boolean, false)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t020",
      "name": "PG bulk_update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'bulk_update', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'bulk_update', data: {\n  updated_count: Number(r.updated_count||0), updated_ids: r.updated_ids || []\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'bulk_update', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t021",
      "name": "Fmt bulk_update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH p AS (SELECT $2::jsonb AS j),\n    cat AS (\n        SELECT\n            CASE\n                WHEN COALESCE(((SELECT j->>'create_category_if_missing' FROM p))::boolean, false)\n                THEN (SELECT category_id FROM resolve_or_create_category(\n                    $1::uuid,\n                    COALESCE(NULLIF((SELECT j->>'category_hint' FROM p),''), 'Otros'),\n                    COALESCE(NULLIF((SELECT j->>'type' FROM p),''), 'expense')\n                ))\n                ELSE (SELECT category_id FROM find_best_category(\n                    $1::uuid,\n                    COALESCE(NULLIF((SELECT j->>'category_hint' FROM p),''), NULLIF((SELECT j->>'description' FROM p),'')),\n                    COALESCE(NULLIF((SELECT j->>'type' FROM p),''), 'expense')\n                ))\n            END AS category_id,\n            CASE\n                WHEN COALESCE(((SELECT j->>'create_category_if_missing' FROM p))::boolean, false)\n                THEN (SELECT category_name FROM resolve_or_create_category(\n                    $1::uuid,\n                    COALESCE(NULLIF((SELECT j->>'category_hint' FROM p),''), 'Otros'),\n                    COALESCE(NULLIF((SELECT j->>'type' FROM p),''), 'expense')\n                ))\n                ELSE (SELECT category_name FROM find_best_category(\n                    $1::uuid,\n                    COALESCE(NULLIF((SELECT j->>'category_hint' FROM p),''), NULLIF((SELECT j->>'description' FROM p),'')),\n                    COALESCE(NULLIF((SELECT j->>'type' FROM p),''), 'expense')\n                ))\n            END AS category_name,\n            1::numeric AS score\n    ),\n    dup AS (\n        SELECT id, amount, description, transaction_date\n        FROM check_duplicate_tx(\n            $1::uuid,\n            ((SELECT j->>'amount' FROM p))::numeric,\n            COALESCE(NULLIF((SELECT j->>'date' FROM p),'')::date, CURRENT_DATE),\n            60\n        )\n        WHERE NOT COALESCE(((SELECT j->>'skip_dup_check' FROM p))::boolean, false)\n    ),\n    grp AS (\n        SELECT CASE\n            WHEN NULLIF((SELECT j->>'group_hint' FROM p),'') IS NULL THEN NULL\n            ELSE upsert_group($1::uuid, (SELECT j->>'group_hint' FROM p), 'event')\n        END AS gid\n    ),\n    pm AS (\n        SELECT id FROM payment_methods\n        WHERE user_id=$1::uuid\n          AND normalize_text(name) % normalize_text(COALESCE((SELECT j->>'payment_method_hint' FROM p), ''))\n        ORDER BY similarity(normalize_text(name), normalize_text(COALESCE((SELECT j->>'payment_method_hint' FROM p),''))) DESC\n        LIMIT 1\n    ),\n    ins AS (\n        INSERT INTO transactions (user_id, type, amount, description, category_id,\n            payment_method_id, group_id, transaction_date)\n        SELECT\n            $1::uuid,\n            COALESCE(NULLIF((SELECT j->>'type' FROM p),''),'expense'),\n            ((SELECT j->>'amount' FROM p))::numeric,\n            NULLIF((SELECT j->>'description' FROM p),''),\n            (SELECT category_id FROM cat),\n            (SELECT id FROM pm),\n            (SELECT gid FROM grp),\n            COALESCE(NULLIF((SELECT j->>'date' FROM p),'')::date, CURRENT_DATE)\n        WHERE NOT EXISTS (SELECT 1 FROM dup)\n        RETURNING id, amount, description, transaction_date, category_id\n    )\n    SELECT\n        (SELECT id FROM ins) AS id,\n        (SELECT amount FROM ins) AS amount,\n        (SELECT description FROM ins) AS description,\n        (SELECT transaction_date FROM ins) AS transaction_date,\n        (SELECT c.name FROM categories c WHERE c.id=(SELECT category_id FROM ins)) AS category_name,\n        (SELECT c.emoji FROM categories c WHERE c.id=(SELECT category_id FROM ins)) AS category_emoji,\n        (SELECT category_id FROM cat) AS matched_category_id,\n        (SELECT category_name FROM cat) AS matched_category_name,\n        (SELECT score FROM cat) AS match_score,\n        (SELECT id FROM dup) AS duplicate_of_id,\n        (SELECT amount FROM dup) AS duplicate_of_amount,\n        (SELECT description FROM dup) AS duplicate_of_description;",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t022",
      "name": "PG log_transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'log_transaction', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (r.duplicate_of_id) {\n  return [{ json: { ok: true, tool: 'log_transaction', data: {\n    needs_confirmation: 'duplicate',\n    duplicate_of: { id: r.duplicate_of_id, amount: Number(r.duplicate_of_amount),\n      description: r.duplicate_of_description }\n  } } }];\n}\nreturn [{ json: { ok: true, tool: 'log_transaction', data: {\n  inserted: true,\n  transaction: { id: r.id, amount: Number(r.amount), description: r.description,\n    date: r.transaction_date, category: r.category_name, emoji: r.category_emoji },\n  category_match_score: Number(r.match_score || 0)\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'log_transaction', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t023",
      "name": "Fmt log_transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM update_tx(\n        $1::uuid,\n        ($2::jsonb->>'transaction_id')::uuid,\n        NULLIF($2::jsonb->>'new_date','')::date,\n        NULLIF($2::jsonb->>'new_amount','')::numeric,\n        NULLIF($2::jsonb->>'new_description',''),\n        NULLIF($2::jsonb->>'new_category_id','')::uuid,\n        NULLIF($2::jsonb->>'new_category_hint',''),\n        COALESCE(($2::jsonb->>'create_category_if_missing')::boolean, false)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t024",
      "name": "PG update_transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'update_transaction', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.id) {\n  return [{ json: { ok: false, tool: 'update_transaction', error: 'Transaction not found or not owned by user' } }];\n}\nreturn [{ json: { ok: true, tool: 'update_transaction', data: {\n  id: r.id, amount: Number(r.amount), description: r.description,\n  date: r.transaction_date, category: r.category_name\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'update_transaction', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t025",
      "name": "Fmt update_transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM bulk_delete_by_ids(\n        $1::uuid,\n        ARRAY[($2::jsonb->>'transaction_id')::uuid]::uuid[]\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t026",
      "name": "PG delete_transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'delete_transaction', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nconst cnt = Number(r.deleted_count||0);\nif (!cnt) return [{ json: { ok: false, tool: 'delete_transaction', error: 'Transaction not found' } }];\nreturn [{ json: { ok: true, tool: 'delete_transaction', data: {\n  deleted_id: (r.deleted_ids||[])[0], deleted_total: Number(r.deleted_total||0)\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'delete_transaction', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t027",
      "name": "Fmt delete_transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM list_categories_with_counts(\n        $1::uuid,\n        NULLIF($2::jsonb->>'type',''),\n        COALESCE(NULLIF($2::jsonb->>'include_excluded','')::boolean, false)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t028",
      "name": "PG list_categories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'list_categories', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'list_categories', data: {\n  categories: rows.map(r => ({ id: r.id, name: r.name, emoji: r.emoji, type: r.type,\n    excluded: r.excluded, tx_count: Number(r.tx_count), total: Number(r.total_amount) }))\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'list_categories', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t029",
      "name": "Fmt list_categories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM list_groups($1::uuid, TRUE);",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "t030",
      "name": "PG list_groups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'list_groups', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'list_groups', data: {\n  groups: rows.map(r => ({ id: r.id, name: r.name, kind: r.kind, emoji: r.emoji,\n    total: Number(r.total||0), count: Number(r.n||0), excluded: r.excluded }))\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'list_groups', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t031",
      "name": "Fmt list_groups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.id, b.amount, b.period, c.name AS category_name, c.emoji AS category_emoji,\n            COALESCE(s.spent, 0) AS spent, b.is_active\n     FROM budgets b\n     LEFT JOIN categories c ON c.id = b.category_id\n     LEFT JOIN LATERAL (\n         SELECT SUM(t.amount) AS spent\n         FROM v_reportable_transactions t\n         WHERE t.user_id = b.user_id AND t.type = 'expense'\n           AND t.category_id = b.category_id\n           AND t.transaction_date >= DATE_TRUNC(b.period::text, CURRENT_DATE)\n     ) s ON TRUE\n     WHERE b.user_id = $1::uuid AND b.is_active = TRUE;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "t032",
      "name": "PG list_budgets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        880
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'list_budgets', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'list_budgets', data: {\n  budgets: rows.map(r => ({ id: r.id, category: r.category_name, emoji: r.category_emoji,\n    amount: Number(r.amount), period: r.period, spent: Number(r.spent||0),\n    pct: r.amount > 0 ? Math.round(Number(r.spent||0) / Number(r.amount) * 100) : 0 }))\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'list_budgets', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t033",
      "name": "Fmt list_budgets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM set_budget(\n        $1::uuid,\n        NULLIF($2::jsonb->>'category_hint',''),\n        ($2::jsonb->>'amount')::numeric,\n        COALESCE(NULLIF($2::jsonb->>'period',''), 'monthly')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t034",
      "name": "PG set_budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'set_budget', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'set_budget', data: {\n  category: r.category_name || null, amount: Number(r.amount||0), period: r.period\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'set_budget', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t035",
      "name": "Fmt set_budget",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, kind FROM expense_groups WHERE id = upsert_group(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'name',''), 'Sin nombre'),\n        COALESCE(NULLIF($2::jsonb->>'kind',''), 'event')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t036",
      "name": "PG create_group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1120
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'create_group', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'create_group', data: { name: r.name, kind: r.kind } } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'create_group', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t037",
      "name": "Fmt create_group",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM toggle_category_exclusion(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'category_hint',''), '')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t038",
      "name": "PG toggle_category_exclusion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1240
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'toggle_category_exclusion', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.name) return [{ json: { ok: false, tool: 'toggle_category_exclusion', error: 'Category not found' } }];\nreturn [{ json: { ok: true, tool: 'toggle_category_exclusion', data: {\n  category: r.name, excluded: r.excluded\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'toggle_category_exclusion', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t039",
      "name": "Fmt toggle_category_exclusion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH p AS (SELECT $2::jsonb AS j)\n     INSERT INTO recurring_transactions (user_id, type, amount, description, category_id,\n        frequency, start_date, is_active)\n     SELECT $1::uuid,\n            'expense',\n            ((SELECT j->>'amount' FROM p))::numeric,\n            NULLIF((SELECT j->>'description' FROM p),''),\n            (SELECT category_id FROM find_best_category(\n                $1::uuid,\n                COALESCE(NULLIF((SELECT j->>'description' FROM p),''), NULLIF((SELECT j->>'category_hint' FROM p),'')),\n                'expense'\n            )),\n            COALESCE(NULLIF((SELECT j->>'frequency' FROM p),''), 'monthly'),\n            COALESCE(NULLIF((SELECT j->>'start_date' FROM p),'')::date, CURRENT_DATE),\n            TRUE\n     RETURNING id, amount, description, frequency, start_date;",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t040",
      "name": "PG set_recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1360
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'set_recurring', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'set_recurring', data: {\n  id: r.id, amount: Number(r.amount), description: r.description,\n  frequency: r.frequency, start_date: r.start_date\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'set_recurring', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t041",
      "name": "Fmt set_recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT remember_last_list(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'kind',''), 'transactions'),\n        COALESCE($2::jsonb->'items', '[]'::jsonb),\n        COALESCE($2::jsonb->'filters_applied', '{}'::jsonb),\n        COALESCE(NULLIF($2::jsonb->>'ttl_seconds','')::int, 600)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t042",
      "name": "PG remember_last_list",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1480
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'remember_last_list', error: String(first.error || first.message || 'SQL error') } }];\n  }\nreturn [{ json: { ok: true, tool: 'remember_last_list', data: { saved: true } } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'remember_last_list', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t043",
      "name": "Fmt remember_last_list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_last_list($1::uuid);",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "t044",
      "name": "PG get_last_list",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1600
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'get_last_list', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.kind) return [{ json: { ok: true, tool: 'get_last_list', data: { exists: false } } }];\nreturn [{ json: { ok: true, tool: 'get_last_list', data: {\n  exists: true, kind: r.kind, items: r.items || [],\n  shown_at: r.shown_at, filters: r.filters_applied, fresh: r.is_fresh\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'get_last_list', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t045",
      "name": "Fmt get_last_list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT set_conv_state(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'state',''), ''),\n        COALESCE($2::jsonb->'context', '{}'::jsonb),\n        COALESCE(NULLIF($2::jsonb->>'ttl_seconds','')::int, 600)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t046",
      "name": "PG set_conv_state",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1720
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'set_conv_state', error: String(first.error || first.message || 'SQL error') } }];\n  }\nreturn [{ json: { ok: true, tool: 'set_conv_state', data: { saved: true } } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'set_conv_state', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t047",
      "name": "Fmt set_conv_state",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1720
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM conversation_state WHERE user_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "t048",
      "name": "PG clear_conv_state",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1840
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'clear_conv_state', error: String(first.error || first.message || 'SQL error') } }];\n  }\nreturn [{ json: { ok: true, tool: 'clear_conv_state', data: { cleared: true } } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'clear_conv_state', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t049",
      "name": "Fmt clear_conv_state",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_breakdown_dynamic(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'dimension',''), 'category'),\n        $2::jsonb,\n        COALESCE(NULLIF($2::jsonb->>'top_n','')::int, 10)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t050",
      "name": "PG generate_chart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        1960
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rawRows = $input.all().map(i => i.json);\nconst params = $('Normalize Input').first().json.params || {};\nconst kind = params.kind || params.dimension || 'by_category';\nconst period = params.period || 'this_month';\nconst periodLabel = ({this_month:'este mes',last_month:'el mes pasado',this_week:'esta semana',this_year:'este año',today:'hoy',yesterday:'ayer',all:'en total'})[period] || period;\n// Filter rows with null/empty label or zero/null value — happens when there are no transactions\nconst rows = rawRows.filter(r => r && r.label && Number(r.total) > 0);\nif (!rows.length) {\n  return [{ json: { ok: true, tool: 'generate_chart', data: { has_data: false, caption: '📭 No tengo datos para graficar ' + periodLabel + '. Cargá algunos gastos primero.' } } }];\n}\nconst labels = rows.map(r => r.label);\nconst values = rows.map(r => Number(r.total));\nconst total = values.reduce((s,v) => s+v, 0);\nconst palette = ['#FF6B6B','#4ECDC4','#FFD93D','#6BCB77','#4D96FF','#9D4EDD','#FF9F1C','#2EC4B6','#E71D36','#7209B7','#3A86FF','#FB5607'];\nconst titleByKind = ({by_category:'Gastos por categoría',category:'Gastos por categoría',by_payment_method:'Gastos por método de pago',payment_method:'Gastos por método de pago',by_day:'Gastos diarios',day:'Gastos diarios',trend:'Tendencia mensual'})[kind] || 'Gastos';\nconst isPie = ['by_category','category','by_payment_method','payment_method'].includes(kind);\nconst chart = isPie\n  ? { type:'doughnut', data:{ labels, datasets:[{ data: values, backgroundColor: palette }] }, options:{ plugins:{ title:{display:true, text: titleByKind+' — '+periodLabel}, legend:{position:'right'} } } }\n  : { type:'bar', data:{ labels, datasets:[{ label:'Gasto', data: values, backgroundColor: palette[0] }] }, options:{ plugins:{ title:{display:true, text: titleByKind+' — '+periodLabel}, legend:{display:false} }, scales:{ y:{beginAtZero:true} } } };\nconst url = 'https://quickchart.io/chart?bkg=white&w=900&h=600&c=' + encodeURIComponent(JSON.stringify(chart));\nconst fmt = n => Number(n||0).toLocaleString('es-AR');\nreturn [{ json: { ok: true, tool: 'generate_chart', data: {\n  has_data: true, image_url: url,\n  caption: titleByKind + ' — ' + periodLabel + '\\nTotal: $' + fmt(total)\n} } }];"
      },
      "id": "t051",
      "name": "Fmt generate_chart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1960
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM resolve_or_create_category(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'name',''), 'Otros'),\n        COALESCE(NULLIF($2::jsonb->>'type',''), 'expense')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t052",
      "name": "PG create_category",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        2080
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'create_category', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.category_id) {\n  return [{ json: { ok: false, tool: 'create_category', error: 'No se pudo crear la categoría' } }];\n}\nreturn [{ json: { ok: true, tool: 'create_category', data: {\n  id: r.category_id, name: r.category_name, was_created: !!r.was_created\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'create_category', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t053",
      "name": "Fmt create_category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2080
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rename_category(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'old_name',''), ''),\n        COALESCE(NULLIF($2::jsonb->>'new_name',''), '')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t054",
      "name": "PG rename_category",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        2200
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'rename_category', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.renamed) {\n  return [{ json: { ok: false, tool: 'rename_category',\n    error: 'No encontré la categoría \"' + (r?.old_name || '') + '\". Mirá list_categories.' } }];\n}\nreturn [{ json: { ok: true, tool: 'rename_category', data: {\n  id: r.category_id, old_name: r.old_name, new_name: r.new_name\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'rename_category', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t055",
      "name": "Fmt rename_category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM delete_category(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'name',''), ''),\n        NULLIF($2::jsonb->>'merge_into','')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t056",
      "name": "PG delete_category",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        2320
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'delete_category', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.deactivated) {\n  return [{ json: { ok: false, tool: 'delete_category',\n    error: 'No encontré la categoría. Mirá list_categories.' } }];\n}\nreturn [{ json: { ok: true, tool: 'delete_category', data: {\n  id: r.category_id, name: r.category_name, merged_into: r.merged_into || null,\n  moved_transactions: Number(r.moved_transactions || 0)\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'delete_category', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t057",
      "name": "Fmt delete_category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM list_recurring(\n        $1::uuid,\n        COALESCE(($2::jsonb->>'active_only')::boolean, true)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t058",
      "name": "PG list_recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        2440
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'list_recurring', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'list_recurring', data: {\n  recurring: rows.map(r => ({\n    id: r.id, type: r.type, amount: Number(r.amount), description: r.description,\n    frequency: r.frequency, next_occurrence: r.next_occurrence,\n    last_occurrence: r.last_occurrence, end_date: r.end_date, is_active: r.is_active,\n    category: r.category_name, emoji: r.category_emoji,\n    payment_method: r.payment_method_name\n  }))\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'list_recurring', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t059",
      "name": "Fmt list_recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM update_recurring(\n        $1::uuid,\n        ($2::jsonb->>'recurring_id')::uuid,\n        NULLIF($2::jsonb->>'new_amount','')::numeric,\n        NULLIF($2::jsonb->>'new_description',''),\n        NULLIF($2::jsonb->>'new_frequency',''),\n        NULLIF($2::jsonb->>'new_category_hint',''),\n        NULLIF($2::jsonb->>'new_next_occurrence','')::date,\n        NULLIF($2::jsonb->>'new_end_date','')::date,\n        COALESCE(($2::jsonb->>'create_category_if_missing')::boolean, false)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t060",
      "name": "PG update_recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        2560
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'update_recurring', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.id) return [{ json: { ok: false, tool: 'update_recurring',\n  error: 'No encontré la recurrente o no es tuya' } }];\nreturn [{ json: { ok: true, tool: 'update_recurring', data: {\n  id: r.id, amount: Number(r.amount), description: r.description, frequency: r.frequency,\n  next_occurrence: r.next_occurrence, end_date: r.end_date, is_active: r.is_active,\n  category: r.category_name\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'update_recurring', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t061",
      "name": "Fmt update_recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM pause_recurring($1::uuid, ($2::jsonb->>'recurring_id')::uuid);",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t062",
      "name": "PG pause_recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        2680
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'pause_recurring', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.paused) return [{ json: { ok: false, tool: 'pause_recurring',\n  error: 'No encontré la recurrente o no es tuya' } }];\nreturn [{ json: { ok: true, tool: 'pause_recurring', data: {\n  id: r.id, description: r.description, was_active: !!r.was_active\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'pause_recurring', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t063",
      "name": "Fmt pause_recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2680
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM resume_recurring($1::uuid, ($2::jsonb->>'recurring_id')::uuid);",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t064",
      "name": "PG resume_recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        2800
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'resume_recurring', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.resumed) return [{ json: { ok: false, tool: 'resume_recurring',\n  error: 'No encontré la recurrente o no es tuya' } }];\nreturn [{ json: { ok: true, tool: 'resume_recurring', data: {\n  id: r.id, description: r.description\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'resume_recurring', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t065",
      "name": "Fmt resume_recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM cancel_recurring($1::uuid, ($2::jsonb->>'recurring_id')::uuid);",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t066",
      "name": "PG cancel_recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        2920
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'cancel_recurring', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.cancelled) return [{ json: { ok: false, tool: 'cancel_recurring',\n  error: 'No encontré la recurrente o no es tuya' } }];\nreturn [{ json: { ok: true, tool: 'cancel_recurring', data: {\n  id: r.id, description: r.description\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'cancel_recurring', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t067",
      "name": "Fmt cancel_recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2920
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM update_group(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'name',''), ''),\n        NULLIF($2::jsonb->>'new_name',''),\n        NULLIF($2::jsonb->>'new_kind',''),\n        NULLIF($2::jsonb->>'new_emoji',''),\n        NULLIF($2::jsonb->>'new_starts_at','')::date,\n        NULLIF($2::jsonb->>'new_ends_at','')::date\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t068",
      "name": "PG update_group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        3040
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'update_group', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.id) return [{ json: { ok: false, tool: 'update_group',\n  error: 'No encontré el grupo' } }];\nreturn [{ json: { ok: true, tool: 'update_group', data: {\n  id: r.id, name: r.name, kind: r.kind, emoji: r.emoji,\n  starts_at: r.starts_at, ends_at: r.ends_at, is_active: r.is_active\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'update_group', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t069",
      "name": "Fmt update_group",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rename_group(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'old_name',''), ''),\n        COALESCE(NULLIF($2::jsonb->>'new_name',''), '')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t070",
      "name": "PG rename_group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        3160
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'rename_group', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.renamed) return [{ json: { ok: false, tool: 'rename_group',\n  error: 'No encontré el grupo \"' + (r?.old_name || '') + '\"' } }];\nreturn [{ json: { ok: true, tool: 'rename_group', data: {\n  id: r.id, old_name: r.old_name, new_name: r.new_name\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'rename_group', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t071",
      "name": "Fmt rename_group",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM close_group(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'name',''), '')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t072",
      "name": "PG close_group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        3280
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'close_group', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.closed) return [{ json: { ok: false, tool: 'close_group',\n  error: 'No encontré el grupo' } }];\nreturn [{ json: { ok: true, tool: 'close_group', data: {\n  id: r.id, name: r.name, ends_at: r.ends_at\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'close_group', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t073",
      "name": "Fmt close_group",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM delete_group(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'name',''), ''),\n        NULLIF($2::jsonb->>'reassign_to_name',''),\n        COALESCE(($2::jsonb->>'unassign')::boolean, false)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t074",
      "name": "PG delete_group",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        3400
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'delete_group', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.deleted) return [{ json: { ok: false, tool: 'delete_group',\n  error: 'No encontré el grupo' } }];\nreturn [{ json: { ok: true, tool: 'delete_group', data: {\n  id: r.id, name: r.name, moved_transactions: Number(r.moved_transactions || 0),\n  reassigned_to: r.reassigned_to || null\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'delete_group', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t075",
      "name": "Fmt delete_group",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM delete_budget(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'category_hint',''), ''),\n        NULLIF($2::jsonb->>'period','')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t076",
      "name": "PG delete_budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'delete_budget', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nconst cnt = Number(r?.deleted_count || 0);\nif (!cnt) return [{ json: { ok: false, tool: 'delete_budget',\n  error: 'No encontré un presupuesto activo para esa categoría' } }];\nreturn [{ json: { ok: true, tool: 'delete_budget', data: {\n  deleted_count: cnt, category: r.category_name\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'delete_budget', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t077",
      "name": "Fmt delete_budget",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM pause_budget(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'category_hint',''), ''),\n        NULLIF($2::jsonb->>'period','')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t078",
      "name": "PG pause_budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        3640
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'pause_budget', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nconst cnt = Number(r?.paused_count || 0);\nif (!cnt) return [{ json: { ok: false, tool: 'pause_budget',\n  error: 'No encontré un presupuesto activo para esa categoría' } }];\nreturn [{ json: { ok: true, tool: 'pause_budget', data: {\n  paused_count: cnt, category: r.category_name\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'pause_budget', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t079",
      "name": "Fmt pause_budget",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM resume_budget(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'category_hint',''), ''),\n        NULLIF($2::jsonb->>'period','')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t080",
      "name": "PG resume_budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        3760
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'resume_budget', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nconst cnt = Number(r?.resumed_count || 0);\nif (!cnt) return [{ json: { ok: false, tool: 'resume_budget',\n  error: 'No encontré un presupuesto pausado para esa categoría' } }];\nreturn [{ json: { ok: true, tool: 'resume_budget', data: {\n  resumed_count: cnt, category: r.category_name\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'resume_budget', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t081",
      "name": "Fmt resume_budget",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM create_tag(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'name',''), ''),\n        NULLIF($2::jsonb->>'color','')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t082",
      "name": "PG create_tag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        3880
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'create_tag', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.tag_id) return [{ json: { ok: false, tool: 'create_tag',\n  error: 'No se pudo crear el tag' } }];\nreturn [{ json: { ok: true, tool: 'create_tag', data: {\n  id: r.tag_id, name: r.tag_name, was_created: !!r.was_created\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'create_tag', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t083",
      "name": "Fmt create_tag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rename_tag(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'old_name',''), ''),\n        COALESCE(NULLIF($2::jsonb->>'new_name',''), '')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t084",
      "name": "PG rename_tag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4000
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'rename_tag', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.renamed) return [{ json: { ok: false, tool: 'rename_tag',\n  error: 'No encontré el tag \"' + (r?.old_name || '') + '\"' } }];\nreturn [{ json: { ok: true, tool: 'rename_tag', data: {\n  id: r.tag_id, old_name: r.old_name, new_name: r.new_name\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'rename_tag', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t085",
      "name": "Fmt rename_tag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM delete_tag(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'name',''), '')\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t086",
      "name": "PG delete_tag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4120
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'delete_tag', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.deleted) return [{ json: { ok: false, tool: 'delete_tag',\n  error: 'No encontré el tag' } }];\nreturn [{ json: { ok: true, tool: 'delete_tag', data: {\n  id: r.tag_id, name: r.tag_name,\n  untagged_transactions: Number(r.untagged_transactions || 0)\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'delete_tag', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t087",
      "name": "Fmt delete_tag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM list_tags($1::uuid);",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "t088",
      "name": "PG list_tags",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4240
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'list_tags', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'list_tags', data: {\n  tags: rows.map(r => ({ id: r.id, name: r.name, color: r.color,\n    tx_count: Number(r.tx_count || 0), total: Number(r.total_amount || 0) }))\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'list_tags', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t089",
      "name": "Fmt list_tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tag_transactions(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'tag_name',''), ''),\n        ARRAY(SELECT jsonb_array_elements_text($2::jsonb->'tx_ids'))::uuid[],\n        COALESCE(($2::jsonb->>'create_if_missing')::boolean, true)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t090",
      "name": "PG tag_transactions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4360
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'tag_transactions', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'tag_transactions', data: {\n  id: r.tag_id, name: r.tag_name,\n  tagged_count: Number(r.tagged_count || 0),\n  was_created: !!r.was_created\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'tag_transactions', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t091",
      "name": "Fmt tag_transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM untag_transactions(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'tag_name',''), ''),\n        ARRAY(SELECT jsonb_array_elements_text($2::jsonb->'tx_ids'))::uuid[]\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t092",
      "name": "PG untag_transactions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4480
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'untag_transactions', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'untag_transactions', data: {\n  untagged_count: Number(r.untagged_count || 0)\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'untag_transactions', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t093",
      "name": "Fmt untag_transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM suggest_tags(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'description',''), ''),\n        NULLIF($2::jsonb->>'amount','')::numeric,\n        COALESCE(NULLIF($2::jsonb->>'limit','')::int, 5)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t094",
      "name": "PG suggest_tags",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4600
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'suggest_tags', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'suggest_tags', data: {\n  suggestions: rows.map(r => ({ id: r.tag_id, name: r.tag_name,\n    score: Number(r.score || 0), uses: Number(r.sample_uses || 0) }))\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'suggest_tags', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t095",
      "name": "Fmt suggest_tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_user_settings($1::uuid);",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "t096",
      "name": "PG get_settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4720
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'get_settings', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r) return [{ json: { ok: false, tool: 'get_settings', error: 'Usuario no encontrado' } }];\nreturn [{ json: { ok: true, tool: 'get_settings', data: {\n  name: r.name, phone: r.phone_number, currency: r.preferred_currency,\n  daily_summary_enabled: !!r.daily_summary_enabled,\n  daily_summary_hour: Number(r.daily_summary_hour || 0),\n  weekly_summary_enabled: !!r.weekly_summary_enabled,\n  onboarded: !!r.onboarded\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'get_settings', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t097",
      "name": "Fmt get_settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4720
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM update_user_settings(\n        $1::uuid,\n        NULLIF($2::jsonb->>'name',''),\n        NULLIF($2::jsonb->>'preferred_currency',''),\n        NULLIF($2::jsonb->>'daily_summary_enabled','')::boolean,\n        NULLIF($2::jsonb->>'daily_summary_hour','')::int,\n        NULLIF($2::jsonb->>'weekly_summary_enabled','')::boolean\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t098",
      "name": "PG update_settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4840
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'update_settings', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'update_settings', data: {\n  name: r.name, currency: r.preferred_currency,\n  daily_summary_enabled: !!r.daily_summary_enabled,\n  daily_summary_hour: Number(r.daily_summary_hour || 0),\n  weekly_summary_enabled: !!r.weekly_summary_enabled\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'update_settings', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t099",
      "name": "Fmt update_settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4840
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM compute_financial_advice(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'mode',''), 'savings_capacity'),\n        NULLIF($2::jsonb->>'goal_amount','')::numeric,\n        NULLIF($2::jsonb->>'monthly_saving_override','')::numeric,\n        NULLIF($2::jsonb->>'monthly_income_override','')::numeric,\n        NULLIF($2::jsonb->>'monthly_expense_override','')::numeric,\n        COALESCE(NULLIF($2::jsonb->>'lookback_months','')::int, 3),\n        COALESCE(NULLIF($2::jsonb->>'extra_monthly_saving','')::numeric, 0)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t100",
      "name": "PG financial_advice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        4960
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'financial_advice', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r) return [{ json: { ok: false, tool: 'financial_advice', error: 'sin resultado' } }];\nconst numOrNull = v => (v === null || v === undefined || v === '') ? null : Number(v);\nreturn [{ json: { ok: true, tool: 'financial_advice', data: {\n  mode: r.mode,\n  avg_monthly_income: numOrNull(r.avg_monthly_income),\n  avg_monthly_expense: numOrNull(r.avg_monthly_expense),\n  monthly_saving: numOrNull(r.monthly_saving),\n  savings_rate_pct: numOrNull(r.savings_rate_pct),\n  months_used: numOrNull(r.months_used),\n  months_to_goal: numOrNull(r.months_to_goal),\n  target_date: r.target_date || null,\n  affordable: (r.affordable === null || r.affordable === undefined) ? null : !!r.affordable,\n  runway_months: numOrNull(r.runway_months),\n  projected_month_total_expense: numOrNull(r.projected_month_total_expense),\n  projected_month_total_income: numOrNull(r.projected_month_total_income),\n  note: r.note || ''\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'financial_advice', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t101",
      "name": "Fmt financial_advice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        4960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.params.content || '') }},\n  \"encoding_format\": \"float\"\n}",
        "options": {}
      },
      "id": "t102",
      "name": "Embed remember_fact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        5080
      ],
      "credentials": {
        "openAiApi": {
          "id": "0ErbOR5W4QIYaohV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst inp = $('Normalize Input').first().json;\nconst emb = resp?.data?.[0]?.embedding;\nif (!Array.isArray(emb)) {\n  return [{ json: { ok: false, tool: 'remember_fact', error: 'embedding API failed: ' + JSON.stringify(resp).slice(0, 200) } }];\n}\n// Formato literal de pgvector: '[1.2,3.4,...]' (sin espacios para no inflar SQL)\nconst embStr = '[' + emb.join(',') + ']';\nreturn [{ json: { ...inp, embedding: embStr } }];"
      },
      "id": "t103",
      "name": "Pack Embedding remember_fact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        5080
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM add_memory_chunk(\n        $1::uuid,\n        COALESCE(NULLIF($2::jsonb->>'kind',''), 'fact'),\n        $2::jsonb->>'content',\n        $3::vector(1536),\n        COALESCE(\n            CASE WHEN ($2::jsonb->>'metadata') IS NOT NULL\n                 AND length(trim($2::jsonb->>'metadata')) > 0\n                 AND ($2::jsonb->>'metadata') <> '{}'\n            THEN ($2::jsonb->>'metadata')::jsonb\n            ELSE '{}'::jsonb END,\n            '{}'::jsonb\n        )\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }},={{ $json.embedding }}"
        }
      },
      "id": "t104",
      "name": "PG remember_fact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        5080
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.ok === false && first.error) return [{ json: first }];\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'remember_fact', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nreturn [{ json: { ok: true, tool: 'remember_fact', data: {\n  id: r.id, was_created: !!r.was_created, content: r.content, kind: r.kind\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'remember_fact', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t105",
      "name": "Fmt remember_fact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        5080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.params.new_content || '') }},\n  \"encoding_format\": \"float\"\n}",
        "options": {}
      },
      "id": "t106",
      "name": "Embed update_memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        5320
      ],
      "credentials": {
        "openAiApi": {
          "id": "0ErbOR5W4QIYaohV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst inp = $('Normalize Input').first().json;\nconst emb = resp?.data?.[0]?.embedding;\nif (!Array.isArray(emb)) {\n  return [{ json: { ok: false, tool: 'update_memory', error: 'embedding API failed: ' + JSON.stringify(resp).slice(0, 200) } }];\n}\n// Formato literal de pgvector: '[1.2,3.4,...]' (sin espacios para no inflar SQL)\nconst embStr = '[' + emb.join(',') + ']';\nreturn [{ json: { ...inp, embedding: embStr } }];"
      },
      "id": "t107",
      "name": "Pack Embedding update_memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        5320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM update_memory_chunk(\n        $1::uuid,\n        ($2::jsonb->>'memory_id')::uuid,\n        $2::jsonb->>'new_content',\n        $3::vector(1536),\n        NULLIF($2::jsonb->>'kind',''),\n        CASE WHEN ($2::jsonb->>'metadata') IS NOT NULL\n             AND length(trim($2::jsonb->>'metadata')) > 0\n             AND ($2::jsonb->>'metadata') <> '{}'\n        THEN ($2::jsonb->>'metadata')::jsonb\n        ELSE NULL END\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }},={{ $json.embedding }}"
        }
      },
      "id": "t108",
      "name": "PG update_memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        5320
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.ok === false && first.error) return [{ json: first }];\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'update_memory', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.updated) {\n  return [{ json: { ok: false, tool: 'update_memory', error: 'No encontré ese recuerdo o no es tuyo' } }];\n}\nreturn [{ json: { ok: true, tool: 'update_memory', data: {\n  id: r.id, content: r.content, kind: r.kind\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'update_memory', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t109",
      "name": "Fmt update_memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        5320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.params.query || '') }},\n  \"encoding_format\": \"float\"\n}",
        "options": {}
      },
      "id": "t110",
      "name": "Embed recall_memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        5200
      ],
      "credentials": {
        "openAiApi": {
          "id": "0ErbOR5W4QIYaohV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst inp = $('Normalize Input').first().json;\nconst emb = resp?.data?.[0]?.embedding;\nif (!Array.isArray(emb)) {\n  return [{ json: { ok: false, tool: 'recall_memory', error: 'embedding API failed: ' + JSON.stringify(resp).slice(0, 200) } }];\n}\n// Formato literal de pgvector: '[1.2,3.4,...]' (sin espacios para no inflar SQL)\nconst embStr = '[' + emb.join(',') + ']';\nreturn [{ json: { ...inp, embedding: embStr } }];"
      },
      "id": "t111",
      "name": "Pack Embedding recall_memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        5200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM search_memory_chunks(\n        $1::uuid,\n        $3::vector(1536),\n        COALESCE(NULLIF($2::jsonb->>'k','')::int, 5),\n        NULLIF($2::jsonb->>'kind',''),\n        COALESCE(NULLIF($2::jsonb->>'min_score','')::real, 0.5)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }},={{ $json.embedding }}"
        }
      },
      "id": "t112",
      "name": "PG recall_memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        5200
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.ok === false && first.error) return [{ json: first }];\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'recall_memory', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'recall_memory', data: {\n  matches: rows.map(r => ({\n    id: r.id, kind: r.kind, content: r.content,\n    metadata: r.metadata, similarity: Number(r.similarity || 0),\n    created_at: r.created_at, recall_count: Number(r.recall_count || 0)\n  })),\n  count: rows.length\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'recall_memory', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t113",
      "name": "Fmt recall_memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        5200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM forget_memory_chunk(\n        $1::uuid,\n        ($2::jsonb->>'memory_id')::uuid\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t114",
      "name": "PG forget_memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        5440
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'forget_memory', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst r = $input.first().json;\nif (!r || !r.forgot) {\n  return [{ json: { ok: false, tool: 'forget_memory', error: 'No encontré ese recuerdo o no es tuyo' } }];\n}\nreturn [{ json: { ok: true, tool: 'forget_memory', data: { id: r.id, forgot: !!r.forgot } } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'forget_memory', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t115",
      "name": "Fmt forget_memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        5440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM list_memory_chunks(\n        $1::uuid,\n        NULLIF($2::jsonb->>'kind',''),\n        COALESCE(NULLIF($2::jsonb->>'limit','')::int, 20)\n    );",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.params_json }}"
        }
      },
      "id": "t116",
      "name": "PG list_memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        5560
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const first = $input.first()?.json || {};\n  if (first.error || first.message?.includes?.('error')) {\n    return [{ json: { ok: false, tool: 'list_memories', error: String(first.error || first.message || 'SQL error') } }];\n  }\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, tool: 'list_memories', data: {\n  memories: rows.map(r => ({\n    id: r.id, kind: r.kind, content: r.content, metadata: r.metadata,\n    created_at: r.created_at, recall_count: Number(r.recall_count || 0)\n  })),\n  count: rows.length\n} } }];\n} catch (e) {\n  return [{ json: { ok: false, tool: 'list_memories', error: 'Format error: ' + (e?.message || String(e)) } }];\n}"
      },
      "id": "t117",
      "name": "Fmt list_memories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        5560
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nreturn [{ json: { ok: false, tool: inp.tool_name, error: 'Unknown tool: ' + inp.tool_name } }];"
      },
      "id": "t118",
      "name": "Unknown Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        5800
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = $input.first().json;\nreturn [{ json: out }];"
      },
      "id": "t119",
      "name": "Wrap Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "PG query_transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG get_total",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG get_breakdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG compare_periods",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG find_transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG find_duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG bulk_preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG bulk_delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG bulk_update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG log_transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG update_transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG delete_transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG list_categories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG list_groups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG list_budgets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG set_budget",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG create_group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG toggle_category_exclusion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG set_recurring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG remember_last_list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG get_last_list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG set_conv_state",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG clear_conv_state",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG generate_chart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG create_category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG rename_category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG delete_category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG list_recurring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG update_recurring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG pause_recurring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG resume_recurring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG cancel_recurring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG update_group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG rename_group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG close_group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG delete_group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG delete_budget",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG pause_budget",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG resume_budget",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG create_tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG rename_tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG delete_tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG list_tags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG tag_transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG untag_transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG suggest_tags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG get_settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG update_settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG financial_advice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embed remember_fact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embed recall_memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embed update_memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG forget_memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG list_memories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG query_transactions": {
      "main": [
        [
          {
            "node": "Fmt query_transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG get_total": {
      "main": [
        [
          {
            "node": "Fmt get_total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG get_breakdown": {
      "main": [
        [
          {
            "node": "Fmt get_breakdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG compare_periods": {
      "main": [
        [
          {
            "node": "Fmt compare_periods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG find_transactions": {
      "main": [
        [
          {
            "node": "Fmt find_transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG find_duplicates": {
      "main": [
        [
          {
            "node": "Fmt find_duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG bulk_preview": {
      "main": [
        [
          {
            "node": "Fmt bulk_preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG bulk_delete": {
      "main": [
        [
          {
            "node": "Fmt bulk_delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG bulk_update": {
      "main": [
        [
          {
            "node": "Fmt bulk_update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG log_transaction": {
      "main": [
        [
          {
            "node": "Fmt log_transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG update_transaction": {
      "main": [
        [
          {
            "node": "Fmt update_transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG delete_transaction": {
      "main": [
        [
          {
            "node": "Fmt delete_transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG list_categories": {
      "main": [
        [
          {
            "node": "Fmt list_categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG list_groups": {
      "main": [
        [
          {
            "node": "Fmt list_groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG list_budgets": {
      "main": [
        [
          {
            "node": "Fmt list_budgets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG set_budget": {
      "main": [
        [
          {
            "node": "Fmt set_budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG create_group": {
      "main": [
        [
          {
            "node": "Fmt create_group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG toggle_category_exclusion": {
      "main": [
        [
          {
            "node": "Fmt toggle_category_exclusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG set_recurring": {
      "main": [
        [
          {
            "node": "Fmt set_recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG remember_last_list": {
      "main": [
        [
          {
            "node": "Fmt remember_last_list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG get_last_list": {
      "main": [
        [
          {
            "node": "Fmt get_last_list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG set_conv_state": {
      "main": [
        [
          {
            "node": "Fmt set_conv_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG clear_conv_state": {
      "main": [
        [
          {
            "node": "Fmt clear_conv_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG generate_chart": {
      "main": [
        [
          {
            "node": "Fmt generate_chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG create_category": {
      "main": [
        [
          {
            "node": "Fmt create_category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG rename_category": {
      "main": [
        [
          {
            "node": "Fmt rename_category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG delete_category": {
      "main": [
        [
          {
            "node": "Fmt delete_category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG list_recurring": {
      "main": [
        [
          {
            "node": "Fmt list_recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG update_recurring": {
      "main": [
        [
          {
            "node": "Fmt update_recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG pause_recurring": {
      "main": [
        [
          {
            "node": "Fmt pause_recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG resume_recurring": {
      "main": [
        [
          {
            "node": "Fmt resume_recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG cancel_recurring": {
      "main": [
        [
          {
            "node": "Fmt cancel_recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG update_group": {
      "main": [
        [
          {
            "node": "Fmt update_group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG rename_group": {
      "main": [
        [
          {
            "node": "Fmt rename_group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG close_group": {
      "main": [
        [
          {
            "node": "Fmt close_group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG delete_group": {
      "main": [
        [
          {
            "node": "Fmt delete_group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG delete_budget": {
      "main": [
        [
          {
            "node": "Fmt delete_budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG pause_budget": {
      "main": [
        [
          {
            "node": "Fmt pause_budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG resume_budget": {
      "main": [
        [
          {
            "node": "Fmt resume_budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG create_tag": {
      "main": [
        [
          {
            "node": "Fmt create_tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG rename_tag": {
      "main": [
        [
          {
            "node": "Fmt rename_tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG delete_tag": {
      "main": [
        [
          {
            "node": "Fmt delete_tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG list_tags": {
      "main": [
        [
          {
            "node": "Fmt list_tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG tag_transactions": {
      "main": [
        [
          {
            "node": "Fmt tag_transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG untag_transactions": {
      "main": [
        [
          {
            "node": "Fmt untag_transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG suggest_tags": {
      "main": [
        [
          {
            "node": "Fmt suggest_tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG get_settings": {
      "main": [
        [
          {
            "node": "Fmt get_settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG update_settings": {
      "main": [
        [
          {
            "node": "Fmt update_settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG financial_advice": {
      "main": [
        [
          {
            "node": "Fmt financial_advice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed remember_fact": {
      "main": [
        [
          {
            "node": "Pack Embedding remember_fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Embedding remember_fact": {
      "main": [
        [
          {
            "node": "PG remember_fact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fmt remember_fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG remember_fact": {
      "main": [
        [
          {
            "node": "Fmt remember_fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed update_memory": {
      "main": [
        [
          {
            "node": "Pack Embedding update_memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Embedding update_memory": {
      "main": [
        [
          {
            "node": "PG update_memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fmt update_memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG update_memory": {
      "main": [
        [
          {
            "node": "Fmt update_memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed recall_memory": {
      "main": [
        [
          {
            "node": "Pack Embedding recall_memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Embedding recall_memory": {
      "main": [
        [
          {
            "node": "PG recall_memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fmt recall_memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG recall_memory": {
      "main": [
        [
          {
            "node": "Fmt recall_memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG forget_memory": {
      "main": [
        [
          {
            "node": "Fmt forget_memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG list_memories": {
      "main": [
        [
          {
            "node": "Fmt list_memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt query_transactions": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt get_total": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt get_breakdown": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt compare_periods": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt find_transactions": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt find_duplicates": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt bulk_preview": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt bulk_delete": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt bulk_update": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt log_transaction": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt update_transaction": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt delete_transaction": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt list_categories": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt list_groups": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt list_budgets": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt set_budget": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt create_group": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt toggle_category_exclusion": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt set_recurring": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt remember_last_list": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt get_last_list": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt set_conv_state": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt clear_conv_state": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt generate_chart": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt create_category": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt rename_category": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt delete_category": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt list_recurring": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt update_recurring": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt pause_recurring": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt resume_recurring": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt cancel_recurring": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt update_group": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt rename_group": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt close_group": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt delete_group": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt delete_budget": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt pause_budget": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt resume_budget": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt create_tag": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt rename_tag": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt delete_tag": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt list_tags": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt tag_transactions": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt untag_transactions": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt suggest_tags": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt get_settings": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt update_settings": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt financial_advice": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt remember_fact": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt update_memory": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt recall_memory": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt forget_memory": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt list_memories": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Tool": {
      "main": [
        [
          {
            "node": "Wrap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}