workflows/Chefin_fixed.json
{
  "name": "Chefin Agent v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chefin",
        "options": {}
      },
      "id": "fd20a805-6596-4d95-8531-ada80348fd66",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        736
      ],
      "webhookId": "b8b4a1c2-3e1f-4a3b-9d99-c8c2c2c2c2c2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert"
            },
            {
              "id": "c2",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "39ffdf60-e442-4dba-b20a-d3d7c298ce49",
      "name": "IF Valid Inbound",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -528,
        736
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "instance",
              "type": "string",
              "value": "={{ $json.body.instance }}"
            },
            {
              "id": "a2",
              "name": "messageId",
              "type": "string",
              "value": "={{ $json.body.data.key.id }}"
            },
            {
              "id": "a3",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $json.body.data.key.remoteJid }}"
            },
            {
              "id": "a4",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "id": "a5",
              "name": "pushName",
              "type": "string",
              "value": "={{ $json.body.data.pushName || '' }}"
            },
            {
              "id": "a6",
              "name": "messageType",
              "type": "string",
              "value": "={{ $json.body.data.messageType }}"
            },
            {
              "id": "a7",
              "name": "text",
              "type": "string",
              "value": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}"
            },
            {
              "id": "a8",
              "name": "caption",
              "type": "string",
              "value": "={{ $json.body.data.message?.imageMessage?.caption || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d84ad078-a06e-4b2f-ba6b-95ca6cfb992b",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ ($env.ALLOWED_PHONES || '').split(',').map(p => p.trim()).filter(p => p).includes($json.phone) }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "803b8e34-68f5-457a-8e62-097bcd19689e",
      "name": "IF Allowed Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -96,
        736
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "documentMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "text"
        }
      },
      "id": "ef27e0fa-a829-453d-b9a6-d21227100cbb",
      "name": "Switch Media Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        144,
        736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "6965c39f-e05d-4568-9101-21c992f4114d",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": {\"type\":\"json_object\"},\n  \"temperature\": 0.1, \"max_tokens\": 1500,\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"Sos un experto leyendo tickets argentinos. Devolvé JSON con: {is_receipt:bool, merchant, amount(número), currency:'ARS', transaction_date_iso, payment_method_hint, category_hint, description, confidence(0-1), human_reply}. Si no es un comprobante, is_receipt=false. amount=TOTAL final.\"},\n    {\"role\":\"user\",\"content\":[\n      {\"type\":\"text\",\"text\":\"Caption: {{ $('Extract Fields').first().json.caption || '(ninguno)' }}\"},\n      {\"type\":\"image_url\",\"image_url\":{\"url\":\"data:{{ $json.mimetype || 'image/jpeg' }};base64,{{ $json.base64 }}\"}}\n    ]}\n  ]\n}",
        "options": {}
      },
      "id": "eceb9819-00ea-459b-9925-e71db2588a01",
      "name": "Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "yWzjxEHJ670U5FFO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp=$input.first().json;const ctx=$('Extract Fields').first().json;\nlet payload;try{payload=JSON.parse(resp.choices?.[0]?.message?.content||'{}');}catch{payload={is_receipt:false,human_reply:'No pude leer el comprobante.'};}\nlet syntheticText;\nif(payload.is_receipt && Number(payload.amount) > 0){\n  const dateOnly = payload.transaction_date_iso ? String(payload.transaction_date_iso).slice(0,10) : '';\n  const desc = payload.description || (payload.merchant ? 'pago a '+payload.merchant : 'comprobante');\n  const parts = ['pagué', String(payload.amount), 'de', payload.category_hint||'otros'];\n  if(payload.payment_method_hint) parts.push('con', payload.payment_method_hint);\n  if(dateOnly) parts.push('el', dateOnly);\n  parts.push('—', desc);\n  syntheticText = parts.join(' ');\n} else { syntheticText = payload.human_reply || 'No pude leer el comprobante.'; }\nreturn [{ json: { text: syntheticText, phone: ctx.phone, remoteJid: ctx.remoteJid, instance: ctx.instance, messageId: ctx.messageId, pushName: ctx.pushName, receipt_data: payload } }];"
      },
      "id": "77e76edd-3f8b-4416-8ade-d32eecb26de3",
      "name": "Receipt to Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "fc6e090e-f0a8-4045-80c3-e6d78f1f8e5c",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const ctx=$('Extract Fields').first().json;\nconst b64=item.base64||'';if(!b64)throw new Error('Empty audio base64');\nconst buf=Buffer.from(b64,'base64');\nconst bin=await this.helpers.prepareBinaryData(buf,'audio.ogg',item.mimetype||'audio/ogg');\nreturn [{ json:{phone:ctx.phone,remoteJid:ctx.remoteJid,instance:ctx.instance,messageId:ctx.messageId,pushName:ctx.pushName}, binary:{data:bin} }];"
      },
      "id": "2de75542-5a35-4576-90c4-01acc80e028f",
      "name": "Audio to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        736
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "id": "d5f7fa99-e2cf-4578-ba18-48a47f33aeb7",
      "name": "Whisper Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        736
      ],
      "credentials": {
        "openAiApi": {
          "id": "yWzjxEHJ670U5FFO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "b0dee17a-19e5-4738-9eb7-7c8f7ab5757b",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const ctx=$('Extract Fields').first().json;\nconst b64=item.base64||'';if(!b64)throw new Error('Empty PDF base64');\nconst buf=Buffer.from(b64,'base64');\nconst bin=await this.helpers.prepareBinaryData(buf,'document.pdf','application/pdf');\nreturn [{ json:{phone:ctx.phone,remoteJid:ctx.remoteJid,instance:ctx.instance,messageId:ctx.messageId,pushName:ctx.pushName}, binary:{data:bin} }];"
      },
      "id": "3fa6e6d7-d1d1-49e8-8a38-89e408af314a",
      "name": "PDF to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        928
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "cd4de097-1f7a-47ef-ac0a-f84a3a033511",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const ctx=$('Extract Fields').first().json;\nconst txt = (item.text || '').slice(0, 4000);\nreturn [{ json: { text: 'Adjunté un PDF. Contenido relevante:\\n\\n' + txt, phone: ctx.phone, remoteJid: ctx.remoteJid, instance: ctx.instance, messageId: ctx.messageId, pushName: ctx.pushName } }];"
      },
      "id": "fab75d24-1240-41be-9dd7-e01b75dd07d4",
      "name": "PDF Stub Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        928
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "a2",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.phone }}"
            },
            {
              "id": "a3",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.remoteJid }}"
            },
            {
              "id": "a4",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.instance }}"
            },
            {
              "id": "a5",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.messageId }}"
            },
            {
              "id": "a6",
              "name": "pushName",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.pushName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "becc3c2e-cf77-4b9b-a335-0c2607579af3",
      "name": "Pass Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        736
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT bootstrap_user($1::text, $2::text) AS user_id;",
        "options": {
          "queryReplacement": "={{ $json.phone }},={{ $json.pushName }}"
        }
      },
      "id": "32c15214-ab2d-48f8-99f5-8178f7f3baef",
      "name": "Bootstrap User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -768,
        1120
      ],
      "credentials": {
        "postgres": {
          "id": "33eKBVY731z1Ef4s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cs.state AS conv_state, cs.context AS conv_context, u.onboarded FROM users u LEFT JOIN conversation_state cs ON cs.user_id=u.id AND cs.expires_at > NOW() WHERE u.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "7d31a3ea-bd1f-4d78-8169-56dbde621bca",
      "name": "Get Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -544,
        1120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "33eKBVY731z1Ef4s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Bootstrap User').first().json.user_id }}"
            },
            {
              "id": "t",
              "name": "text",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.text }}"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.messageId }}"
            },
            {
              "id": "pn",
              "name": "pushName",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.pushName }}"
            },
            {
              "id": "cs",
              "name": "convState",
              "type": "string",
              "value": "={{ $json.conv_state || '' }}"
            },
            {
              "id": "cc",
              "name": "convContext",
              "type": "object",
              "value": "={{ $json.conv_context || {} }}"
            },
            {
              "id": "ob",
              "name": "onboarded",
              "type": "boolean",
              "value": "={{ $json.onboarded || false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90ff342a-bb2b-48f3-9bd1-93c1bef19db9",
      "name": "Merge Ctx",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=processed:{{ $json.messageId }}",
        "expire": true,
        "ttl": 3600
      },
      "id": "8877cc42-8329-48c0-b9e2-977487bc0e35",
      "name": "Mark Processed",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -112,
        1120
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ Number($json.procCount) }}",
              "rightValue": 1
            }
          ]
        },
        "options": {}
      },
      "id": "e17d366a-caea-4b25-9a3d-753c487baa8b",
      "name": "IF First Time",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        112,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer:{{ $('Merge Ctx').first().json.phone }}",
        "messageData": "={{ $('Merge Ctx').first().json.text }}",
        "tail": true
      },
      "id": "bfe62157-3c05-41b1-81fb-496ed398ba01",
      "name": "Buffer Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        336,
        1120
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lt",
              "name": "lockToken",
              "type": "string",
              "value": "={{ $now.toMillis() + '-' + Math.random().toString(36).slice(2,10) }}"
            },
            {
              "id": "ph",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Merge Ctx').first().json.phone }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "48740cfc-c5eb-4d55-9541-3a46aa6d3938",
      "name": "Lock Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=lock:{{ $json.phone }}",
        "value": "={{ $json.lockToken }}",
        "expire": true,
        "ttl": 30
      },
      "id": "5118f050-ef77-4232-9a5a-ee95ff8dfcd6",
      "name": "Lock Set",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        768,
        1120
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "61d0f3eb-58be-49c1-aac4-297d1f5911fd",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        1120
      ],
      "webhookId": "7e7eaba2-f851-4e37-8748-2c03cc8144aa"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "currentLock",
        "key": "=lock:{{ $('Lock Token').first().json.phone }}",
        "options": {}
      },
      "id": "5314af2f-561b-46b7-82bf-40b3538bc51a",
      "name": "Lock Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1216,
        1120
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.currentLock }}",
              "rightValue": "={{ $('Lock Token').first().json.lockToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0f212dce-cb10-40f8-961a-1940cf6b1f7f",
      "name": "IF Won Race",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "bufferedMessages",
        "key": "=buffer:{{ $('Lock Token').first().json.phone }}",
        "keyType": "list",
        "options": {}
      },
      "id": "b36fb3e7-4426-4bc6-9051-5ddc6b920094",
      "name": "Buffer Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1648,
        1120
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer:{{ $('Lock Token').first().json.phone }}"
      },
      "id": "8949a57a-efae-4148-b7bc-196409032531",
      "name": "Buffer Delete",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        1120
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buf=$input.first().json.bufferedMessages||[];\nconst ctx=$('Merge Ctx').first().json;\nconst combined=buf.filter(Boolean).map(s=>String(s).trim()).join(' \\n ').trim();\nreturn [{ json:{ userId:ctx.userId, phone:ctx.phone, remoteJid:ctx.remoteJid, instance:ctx.instance, messageId:ctx.messageId, pushName:ctx.pushName, combinedText:combined, bufferLength:buf.length, convState:ctx.convState, convContext:ctx.convContext, onboarded:ctx.onboarded }}];"
      },
      "id": "d6a84d53-0b22-4dbd-a57c-f9c46835a281",
      "name": "Concat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        1488
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0.2
        }
      },
      "id": "04f56803-e3d3-45f0-96ce-a299e70dc05d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -496,
        1680
      ],
      "credentials": {
        "openAiApi": {
          "id": "yWzjxEHJ670U5FFO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Concat').first().json.userId }}",
        "contextWindowLength": 12
      },
      "id": "f525fa43-c808-478c-b32c-9181749bd495",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -272,
        1680
      ],
      "credentials": {
        "postgres": {
          "id": "33eKBVY731z1Ef4s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply_text\": \"Hola! ¿en qué te ayudo?\",\n  \"reply_kind\": \"text\",\n  \"image_url\": \"\",\n  \"should_react\": false,\n  \"reaction_emoji\": \"\"\n}"
      },
      "id": "8ef9c774-b5af-4924-8de9-b07c15de75f6",
      "name": "Reply Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -48,
        1680
      ]
    },
    {
      "parameters": {
        "name": "query_transactions",
        "description": "Lista transacciones con filtros y paginación. Úsala para \"mostrame los movs\", \"los últimos\", \"todos los gastos del mes\". Filtros opcionales: period, category, description_contains, exact_amount, min_amount, max_amount, type (expense/income/both), group_name, payment_method, sort (date_desc default). Devuelve items con id, date, amount, description, category, emoji.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "query_transactions",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "7351722f-a091-49e2-a2a4-b2fa0affe37b",
      "name": "tool: query_transactions",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -688,
        1888
      ]
    },
    {
      "parameters": {
        "name": "get_total",
        "description": "Total y count de gastos/ingresos en un período. Para \"cuánto gasté\", \"total del mes\", \"cuánto en comida\". Filtros: period (default this_month), type (default expense), category, group_name.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "get_total",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "8aa6eac7-5e18-4e7e-9e48-cff4ebccd7e1",
      "name": "tool: get_total",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -496,
        1888
      ]
    },
    {
      "parameters": {
        "name": "get_breakdown",
        "description": "Desglose agrupado por dimensión. Para \"en qué gasté más\", \"por categoría\", \"por método de pago\", \"por día\". Params: dimension (category|day|week|month|payment_method|group), period (default this_month), type (default expense), top_n (default 10).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "get_breakdown",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f77f4cc2-eb71-4f58-9fe6-ae9b5eb1e811",
      "name": "tool: get_breakdown",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -288,
        1888
      ]
    },
    {
      "parameters": {
        "name": "compare_periods",
        "description": "Compara totales entre dos períodos. Para \"este mes vs el pasado\", \"estoy gastando más que antes\". Params: period_a, period_b (mismos enums), type (expense/income).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "compare_periods",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "df1f6fdc-916f-436d-804d-7fcea34667b3",
      "name": "tool: compare_periods",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -96,
        1888
      ]
    },
    {
      "parameters": {
        "name": "find_transactions",
        "description": "Busca transacciones específicas para luego borrarlas/editarlas. Devuelve TODAS las que matchean con score y match_reasons. Filtros determinísticos AND: exact_amount, date, date_from, date_to, min_amount, max_amount, type. Filtros fuzzy (rankean): description_contains, category, group_name. Llamá esta antes de cualquier delete/update por hint.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "find_transactions",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "1fb8566b-4517-4e17-a23c-d332cc693120",
      "name": "tool: find_transactions",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        112,
        1888
      ]
    },
    {
      "parameters": {
        "name": "find_duplicates",
        "description": "Detecta gastos repetidos (mismo monto + categoría dentro de N días). Para \"elimina los repetidos\", \"tengo gastos duplicados\". Params: window_days (default 7), min_repetitions (default 2). Devuelve clusters con sus transaction_ids.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "find_duplicates",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "e6659e7a-e115-41a0-8953-ebbd214b078a",
      "name": "tool: find_duplicates",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        304,
        1888
      ]
    },
    {
      "parameters": {
        "name": "bulk_preview",
        "description": "Cuenta y muestra preview ANTES de borrar/editar masivo. Acepta los mismos filtros que query_transactions. Devuelve count, total, ids, preview (10 sample). USALA OBLIGATORIAMENTE antes de bulk_delete por criterio.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "bulk_preview",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "d6364650-42aa-4ae0-8f4f-41ee6ec7bae9",
      "name": "tool: bulk_preview",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        512,
        1888
      ]
    },
    {
      "parameters": {
        "name": "bulk_delete",
        "description": "Borra múltiples transacciones por una lista explícita de UUIDs. Solo usar después de bulk_preview + confirmación del usuario. Params: ids (array de UUIDs).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "bulk_delete",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "c7b56168-55cc-487d-bc45-65af64c071a2",
      "name": "tool: bulk_delete",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        704,
        1888
      ]
    },
    {
      "parameters": {
        "name": "bulk_update",
        "description": "Actualiza múltiples transacciones por UUIDs. Params: ids (array), new_category_id?, new_date?, new_group_id?, amount_delta?, set_excluded?.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "bulk_update",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "249ccb59-e08f-4381-851f-c003bc894d8e",
      "name": "tool: bulk_update",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        912,
        1888
      ]
    },
    {
      "parameters": {
        "name": "log_transaction",
        "description": "Registra UN gasto o ingreso nuevo. Params: amount (number), description, category_hint, type (expense|income, default expense), date (YYYY-MM-DD opcional), payment_method_hint (efectivo|debito|credito|transferencia|mercado_pago|otro), group_hint (nombre de viaje/evento opcional), skip_dup_check (bool, solo si el usuario confirmó duplicado). Devuelve needs_confirmation:duplicate si detectó uno.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "log_transaction",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "c8b0ee23-e9fe-40cd-95f3-230da0700767",
      "name": "tool: log_transaction",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1104,
        1888
      ]
    },
    {
      "parameters": {
        "name": "update_transaction",
        "description": "Edita UNA transacción por UUID exacto. Params: transaction_id (UUID), new_date?, new_amount?, new_description?, new_category_id?.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "update_transaction",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "a2c79cc3-a3da-4aea-a8b1-2d004fbdb232",
      "name": "tool: update_transaction",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1312,
        1888
      ]
    },
    {
      "parameters": {
        "name": "delete_transaction",
        "description": "Borra UNA transacción por UUID. Params: transaction_id (UUID). Para borrar varias usá bulk_delete.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "delete_transaction",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "8e1fd259-1357-4ae9-b48b-d100fb4ea242",
      "name": "tool: delete_transaction",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1504,
        1888
      ]
    },
    {
      "parameters": {
        "name": "list_categories",
        "description": "Lista todas las categorías del usuario con sus emojis y conteos. Params: type (expense|income|both opcional), include_excluded (bool).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "list_categories",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "515c1266-d218-4ab2-9a0c-0aa11bc7b80f",
      "name": "tool: list_categories",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -688,
        2080
      ]
    },
    {
      "parameters": {
        "name": "list_groups",
        "description": "Lista grupos (viajes/eventos/proyectos) con totales.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "list_groups",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f9ba58a5-a8ea-4b58-a254-1d54d88bd53a",
      "name": "tool: list_groups",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -496,
        2080
      ]
    },
    {
      "parameters": {
        "name": "list_budgets",
        "description": "Lista presupuestos activos con consumo actual y % usado.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "list_budgets",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f983a912-357d-4028-813c-046f3921618d",
      "name": "tool: list_budgets",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -288,
        2080
      ]
    },
    {
      "parameters": {
        "name": "set_budget",
        "description": "Crea o actualiza un presupuesto para una categoría. Params: category_hint, amount (number), period (weekly|monthly|yearly).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "set_budget",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "b1fd21be-c7f1-4bce-b6eb-976a86538100",
      "name": "tool: set_budget",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -96,
        2080
      ]
    },
    {
      "parameters": {
        "name": "create_group",
        "description": "Crea un grupo (viaje/evento/proyecto). Params: name, kind (trip|event|emergency|project|other).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "create_group",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "1cf9b4c9-6af6-4c2b-8e1d-4ece8b88eeb7",
      "name": "tool: create_group",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        112,
        2080
      ]
    },
    {
      "parameters": {
        "name": "toggle_category_exclusion",
        "description": "Excluye/incluye una categoría de los reportes. Params: category_hint.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "toggle_category_exclusion",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "16b7e38a-2c68-462b-8c2f-996455990a75",
      "name": "tool: toggle_category_exclusion",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        304,
        2080
      ]
    },
    {
      "parameters": {
        "name": "set_recurring",
        "description": "Crea una transacción recurrente (Netflix, alquiler, etc). Params: amount, description, category_hint, frequency (daily|weekly|biweekly|monthly|yearly), start_date?.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "set_recurring",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "b0393f25-3f6d-45f3-b8cd-3b959bf91b7d",
      "name": "tool: set_recurring",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        512,
        2080
      ]
    },
    {
      "parameters": {
        "name": "remember_last_list",
        "description": "Guarda la última lista mostrada al usuario para resolver referencias deícticas (\"el primero\", \"esos dos\"). LLAMALA después de query_transactions / find_transactions cuando muestres una lista. Params: kind, items (array con id+position), filters_applied, ttl_seconds (default 600).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "remember_last_list",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "5cd203e6-624e-4970-bdd3-88ddc81c44b4",
      "name": "tool: remember_last_list",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        704,
        2080
      ]
    },
    {
      "parameters": {
        "name": "get_last_list",
        "description": "Recupera la última lista mostrada al usuario. Devuelve items y si está fresca. Llamala cuando el usuario use deícticos.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "get_last_list",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "6918dba6-83b9-47f9-8b7d-aef965fd431e",
      "name": "tool: get_last_list",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        912,
        2080
      ]
    },
    {
      "parameters": {
        "name": "set_conv_state",
        "description": "Setea estado conversacional pendiente (ej. awaiting_bulk_delete antes de confirmar). Params: state, context (objeto), ttl_seconds (default 600).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "set_conv_state",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "6fd27dc6-c03b-4d76-9625-22a1ee871098",
      "name": "tool: set_conv_state",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1104,
        2080
      ]
    },
    {
      "parameters": {
        "name": "clear_conv_state",
        "description": "Limpia el estado conversacional. Llamala después de resolver una confirmación.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "clear_conv_state",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "4d54d59c-5614-409f-8432-5cf754a894de",
      "name": "tool: clear_conv_state",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1312,
        2080
      ]
    },
    {
      "parameters": {
        "name": "generate_chart",
        "description": "Genera un gráfico (URL de imagen) con datos del usuario. Params: dimension (category|day|payment_method), period, type. Devuelve image_url + caption. Cuando uses esta tool, en tu reply final usá reply_kind=\"image\" e image_url.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "chefin_tools_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "generate_chart",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ $fromAI('params', 'JSON object with tool parameters', 'json') }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "cd78a788-7185-48ad-bd67-dde7898ae6dc",
      "name": "tool: generate_chart",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1504,
        2080
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Concat').first().json.combinedText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Sos **Chefin**, asistente conversacional experto en finanzas personales para WhatsApp en español rioplatense (Argentina).\n\n# CONTEXTO DE LA CONVERSACIÓN\n- Fecha y hora actual: {{ $now.toFormat('yyyy-MM-dd HH:mm') }} (America/Argentina/Buenos_Aires)\n- Día de la semana: {{ $now.toFormat('EEEE') }}\n- Estado de conversación previo: {{ $json.convState || 'ninguno' }}\n- Contexto previo: {{ JSON.stringify($json.convContext || {}) }}\n- Onboarded: {{ $json.onboarded }}\n\n# TU MISIÓN\nResolvés CUALQUIER duda del usuario sobre sus finanzas usando las tools disponibles. Podés encadenar varias tools antes de responder. Sos riguroso con datos destructivos: nunca borrás ni editás sin confirmación cuando hay ambigüedad o son varios items.\n\n# TOOLS DISPONIBLES\nCada tool toma JSON; consultá las descripciones de cada una para entender los parámetros. Algunas reglas globales:\n- `user_id` se inyecta automáticamente — NO lo pongas en `params`.\n- Períodos válidos: today | yesterday | this_week | this_month | last_month | this_year | all | custom.\n- Para búsquedas con DATOS ESPECÍFICOS (monto exacto, fecha exacta, descripción concreta), el período default es `all` salvo que el usuario diga lo contrario.\n- Para totales/resúmenes sin tiempo especificado, default `this_month`.\n\n# ESTRATEGIA DE RAZONAMIENTO\n\n## Para CONSULTAS (lectura)\n1. Si el usuario menciona texto deíctico (\"esos\", \"el primero\", \"los de 3300 que mostraste\") → llamá `get_last_list` PRIMERO.\n2. Para preguntas tipo \"cuánto gasté X\" → `get_total`.\n3. Para \"en qué gasté más / desglosá\" → `get_breakdown` con dimension=category.\n4. Para \"comparame mes a mes\" / \"gasté más que el pasado\" → `compare_periods`.\n5. Para \"mostrame los últimos / los movs\" → `query_transactions`.\n6. Para \"buscame los café / los uber / los de 5000\" → `find_transactions` con filtros determinísticos cuando sean exactos.\n7. Después de mostrar una lista de transacciones (>1 item), llamá `remember_last_list` con sus ids para resolver referencias deícticas en el siguiente turno.\n\n## Para REGISTRO (gasto/ingreso nuevo)\n- Llamá `log_transaction`. Si la tool devuelve `needs_confirmation: 'duplicate'` → preguntá al usuario si quiere registrar de todas formas (y si dice sí, volvés a llamar con `skip_dup_check: true`).\n\n## Para BORRAR / EDITAR\n- 1 transacción específica con monto+fecha exactos:\n  1. `find_transactions` para obtener candidatos con sus ids.\n  2. Si devuelve UN solo match → ejecutás `delete_transaction` o `update_transaction` directo.\n  3. Si devuelve VARIOS matches → mostrás la lista numerada al usuario, llamás `remember_last_list`, pedís que aclare cuál.\n- \"el último\" (sin específicos) → `query_transactions` ordenado por date_desc + límite 1.\n- BULK delete por criterio (\"borrá todos los café del mes pasado\"):\n  1. `bulk_preview` con los filtros para obtener count + sample + ids.\n  2. Mostrás al usuario: \"Voy a borrar N gastos por $X. ¿Confirmás?\". Llamás `set_conv_state` con state='awaiting_bulk_delete' y context={ids:[...]}.\n  3. Cuando responda \"sí\" → `bulk_delete` con esos ids exactos. Llamás `clear_conv_state`.\n- \"Eliminá los gastos repetidos\" → `find_duplicates` → mostrás los clusters → confirmás → `bulk_delete` con los ids elegidos.\n\n## Para CHARLA / FECHAS / IDENTIDAD\n- \"qué fecha es hoy?\" → respondé directo desde el contexto, SIN tools.\n- \"hola / gracias / cómo andás\" → respondé natural, SIN tools.\n- \"ayuda / qué podés hacer\" → enumerá brevemente: registrar, consultar, borrar, editar, gráficos, presupuestos, recurrentes, reportes.\n\n## Para GRÁFICOS\n- \"gráfico de gastos / torta / por categoría\" → `generate_chart` con dimension. Devolverá image_url + caption.\n\n# ESTILO DE RESPUESTA (FORMATO FINAL)\nSIEMPRE devolvé tu respuesta como JSON con esta estructura. Es la ÚNICA forma de responder al usuario:\n\n{\n  \"reply_text\": \"<mensaje en español rioplatense, max 1500 chars salvo que sea una lista>\",\n  \"reply_kind\": \"text\" | \"image\",\n  \"image_url\": \"<URL si reply_kind=image>\",\n  \"should_react\": false,\n  \"reaction_emoji\": \"\"\n}\n\nReglas de formato:\n- Listas de transacciones: numerá del 1 al N con formato `N. AAAA-MM-DD · 💸 categoría · $monto — descripción`. Después de la lista decí algo útil tipo \"Decime cuál querés borrar/editar\".\n- Totales: `💸 Gastaste $X en período (N movs).`\n- Breakdowns: lista vertical con %.\n- Comparativas: `Este mes: $X (N) · Mes pasado: $Y (M) · Diferencia: +Δ%`.\n- Confirmaciones bulk: muestra preview de hasta 5 items, total, count, y \"¿confirmás? (sí/no)\".\n- Si NO hay datos: mensaje empático, breve.\n- 1 mensaje por turno. Si supera 1500 chars el wrapper lo parte solo.\n\nReacciones (`should_react: true`):\n- SOLO cuando acabás de loggear gasto (✅) o ingreso (💰), borrar (🗑️), editar (✏️) o generar gráfico (📈).\n- Para queries, charla, ayuda, listas, búsquedas → `should_react: false`.\n\n# LÉXICO ARGENTINO (no afecta clasificación)\nMuletillas que ignorás al clasificar pero respondés en tono natural:\n- \"cucha\", \"che\", \"dale\", \"loco/a\", \"boludo/a\", \"mirá\", \"fijate\", \"viste\", \"ahre\"\n- Diminutivos: \"cafecito\"=café, \"lukita\"=mil pesos\n- Plata = dinero. Luca = mil (\"3 lucas\"=3000). Palo = millón. K=mil (\"30k\"=30000). M=millón.\n\n# FORMATO DE NÚMEROS Y FECHAS (ARGENTINO)\n- Montos en respuestas: `$2.000,50` (punto como separador de miles, coma como decimal). Ejemplo: `$11.900,00`.\n- Fechas en respuestas: relativas si aplica (\"hoy\", \"ayer\", \"el lunes\"); absolutas como \"27 de abril\".\n- Fechas en parámetros de tools: SIEMPRE ISO `YYYY-MM-DD`.\n- Si el usuario dice \"27 de abril\" sin año, asumí el año actual.\n- Si el usuario dice \"el lunes pasado\", calculalo desde la fecha de contexto.\n\n# ESTADOS CONVERSACIONALES HEREDADOS DE V1\nSi `convState` viene con uno de estos valores legacy del workflow viejo, manejalo igual:\n- `awaiting_otros_confirmation`: el usuario confirma o aclara la categoría de un gasto pendiente.\n- `awaiting_dup_confirmation`: el usuario confirma si registra un gasto duplicado.\n- `awaiting_pdf_import`: el usuario confirma importar gastos del PDF.\nCuando el usuario contesta \"sí/dale/ok\" y hay un `convState` activo → tomá la acción pendiente con el contexto que viene en `convContext`. Cuando contesta \"no/cancelá\" → `clear_conv_state` y avisá.\n\n# EJEMPLOS DE RAZONAMIENTO\n\n**Usuario**: \"Mostrame todos mis movimientos\"\n- Tool: `query_transactions({\"period\":\"all\",\"limit\":20})` → devuelve N items.\n- Si N>0: `remember_last_list({\"kind\":\"transactions\",\"items\":[{position:1,id:..,...}]})` con los ids.\n- Reply: lista numerada con los items + breve resumen del total.\n\n**Usuario**: \"borrá los 3300 del 27 de abril\"\n- Tool: `find_transactions({\"exact_amount\":3300,\"date\":\"2026-04-27\"})` → devuelve 3 matches.\n- Reply numerada con los 3 + `remember_last_list` con sus ids + \"Decime cuál(es) borrar (1, 2, 3 o todos)\".\n- NUNCA borrás directo si hay >1 candidato.\n\n**Usuario** (después): \"borrá los 2 primeros\"\n- Tool: `get_last_list` → recuperás items.\n- Tool: `bulk_delete({\"ids\":[items[0].id, items[1].id]})`.\n- Reply: \"Borré 2 movs por $6.600. Quedó 1 transferencia de $3.300 del 27/04.\"\n\n**Usuario**: \"elimina los gastos repetidos\"\n- Tool: `find_duplicates({\"window_days\":7,\"min_repetitions\":2})` → devuelve clusters.\n- Reply con los clusters + `remember_last_list({kind:'duplicate_clusters',items:[...]})` + \"¿Borro estos? Decime cuáles (1, 2, todos) o 'no' para cancelar\".\n- Cuando confirme → `bulk_delete` con los ids.\n\n**Usuario**: \"gasté más este mes que el pasado?\"\n- Tool: `compare_periods({\"period_a\":\"this_month\",\"period_b\":\"last_month\"})`.\n- Reply: \"Este mes: $X (N movs). Mes pasado: $Y (M movs). +Δ% más.\"\n\n**Usuario**: \"Cuál fue mi último gasto?\"\n- Tool: `query_transactions({\"period\":\"all\",\"limit\":1,\"sort\":\"date_desc\",\"type\":\"expense\"})`.\n- Reply: descripción del item + \"¿querés borrarlo o editarlo?\"\n\n**Usuario**: \"el último gasto fue de 5000 no de 2000\"\n- Tool: `query_transactions({\"period\":\"all\",\"limit\":1,\"sort\":\"date_desc\",\"exact_amount\":2000})` → encuentra el item.\n- Tool: `update_transaction({\"transaction_id\":id,\"new_amount\":5000})`.\n- Reply: \"Listo, lo cambié a $5.000,00.\" con `should_react: true, reaction_emoji: \"✏️\"`.\n\n**Usuario**: \"tomé 2500 de café\"\n- Tool: `log_transaction({\"amount\":2500,\"description\":\"café\",\"category_hint\":\"comida\",\"type\":\"expense\"})`.\n- Si retorna `needs_confirmation:duplicate` → preguntá si registra igual.\n- Si `inserted:true` → reply confirmando + `should_react: true, reaction_emoji: \"✅\"`.\n\n**Usuario**: \"gracias!\"\n- Sin tools. Reply breve. `should_react: false`.\n\n**Usuario**: \"qué fecha es hoy?\"\n- Sin tools. Usás la fecha del contexto. Formato: \"Hoy es lunes 29 de abril de 2026\".\n\n**Usuario**: \"que quedo?\" (mensaje ambiguo, sin contexto)\n- Sin tools. Reply breve pidiendo aclaración: \"¿A qué te referís? Si querés saber tu saldo del mes te lo digo, decime 'cuanto gasté'.\"\n- NO mandes 2 mensajes.\n\n# REGLAS FINALES\n- NUNCA inventes datos. Si no tenés certeza, llamá una tool o pedí aclaración.\n- NUNCA inventes UUIDs. Solo usás los que te devuelven las tools.\n- NUNCA mostrás UUIDs al usuario.\n- Si una tool devuelve `ok: false`, leé el error y avisás al usuario en términos amables.\n- Sos breve, directo y cálido. Nada de párrafos largos para preguntas simples.\n- Si el usuario hace varias preguntas en un mismo turno, respondelas todas en UN solo mensaje (jamás mandés 2 mensajes para una pregunta).\n- Si el usuario contradice una respuesta tuya anterior (\"me decís 4 movs y mostrás 2\"), revisá tu razonamiento, releé las tools que llamaste, y corregí sin inventar.\n- Si una operación destructiva afecta >3 items, SIEMPRE pasá por preview + confirmación.\n- Cuando el usuario te ataca o se enoja, reconocelo brevemente, NO te disculpes en exceso, y resolvé el problema.",
          "maxIterations": 8,
          "returnIntermediateSteps": false
        }
      },
      "id": "628a5894-e533-4234-89b6-d54e77eff555",
      "name": "Chefin Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -224,
        1488
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet payload = raw.output || raw;\nif (typeof payload === 'string') {\n  try { payload = JSON.parse(payload); } catch { payload = { reply_text: payload, reply_kind: 'text' }; }\n}\nconst ctx = $('Concat').first().json;\nconst replyText = (payload.reply_text || '').trim() || '😅 No supe qué responderte. ¿Lo repetimos?';\nconst replyKind = payload.reply_kind === 'image' && payload.image_url ? 'image' : 'text';\nconst shouldReact = !!payload.should_react;\nconst emoji = (payload.reaction_emoji || '').toString().slice(0, 4);\nreturn [{ json: {\n  replyText, replyKind,\n  imageUrl: replyKind === 'image' ? (payload.image_url || '') : '',\n  shouldReact, reactionEmoji: shouldReact ? (emoji || '✅') : '',\n  userId: ctx.userId, phone: ctx.phone, instance: ctx.instance,\n  remoteJid: ctx.remoteJid, messageId: ctx.messageId\n} }];"
      },
      "id": "edcf092a-f7c7-49ae-a199-7be5d9e1ca06",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        1488
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst MAX = 1500;\nconst txt = ctx.replyText || '';\nfunction chunk(s) {\n  if (s.length <= MAX) return [s];\n  const parts = [];\n  let buf = '';\n  for (const para of s.split(/\\n\\n/)) {\n    const candidate = buf ? buf + '\\n\\n' + para : para;\n    if (candidate.length > MAX && buf) { parts.push(buf); buf = para; }\n    else if (candidate.length > MAX) { // single para > MAX → hard split\n      for (let i = 0; i < para.length; i += MAX) parts.push(para.slice(i, i + MAX));\n      buf = '';\n    } else buf = candidate;\n  }\n  if (buf) parts.push(buf);\n  return parts;\n}\nconst pieces = chunk(txt);\nreturn pieces.map((p, idx) => ({ json: {\n  ...ctx, replyText: p, chunkIndex: idx, chunkCount: pieces.length,\n  // image only on first chunk; reaction only on last\n  replyKind: (idx === 0 ? ctx.replyKind : 'text'),\n  imageUrl: (idx === 0 ? ctx.imageUrl : ''),\n  shouldReact: ctx.shouldReact && idx === pieces.length - 1,\n  reactionEmoji: (ctx.shouldReact && idx === pieces.length - 1) ? ctx.reactionEmoji : ''\n} }));"
      },
      "id": "84733b38-859e-43c5-b8dd-ee3d4bd661f6",
      "name": "Chunk Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1488
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $json.replyText }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "={{ $json.replyKind }}"
            },
            {
              "id": "iu",
              "name": "imageUrl",
              "type": "string",
              "value": "={{ $json.imageUrl }}"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "={{ $json.reactionEmoji || \"\" }}"
            },
            {
              "id": "sr",
              "name": "shouldReact",
              "type": "boolean",
              "value": "={{ Boolean($json.shouldReact) }}"
            },
            {
              "id": "cidx",
              "name": "chunkIndex",
              "type": "number",
              "value": "={{ $json.chunkIndex || 0 }}"
            },
            {
              "id": "ccnt",
              "name": "chunkCount",
              "type": "number",
              "value": "={{ $json.chunkCount || 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b625c09-37eb-41ca-bf92-2361ccad3911",
      "name": "Save Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        1488
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Save Context').first().json.replyKind }}",
              "rightValue": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "c94a1565-c9f6-45d0-b3aa-b172e2e84971",
      "name": "IF Image Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1056,
        1488
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $('Save Context').first().json.reactionEmoji }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "0d6a5d52-6123-498e-8f61-b49ab1bdba0d",
      "name": "IF Should React",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1504,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (user_id, direction, content, processed, raw_payload) VALUES ($1::uuid, 'outbound', $2, TRUE, $3::jsonb);",
        "options": {
          "queryReplacement": "={{ $('Save Context').first().json.userId }},={{ $('Save Context').first().json.replyText || '' }},={{ JSON.stringify($('Save Context').first().json) }}"
        }
      },
      "id": "b596eec9-5d68-4db4-9c2c-a5d8dbb6f338",
      "name": "Log Outbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1936,
        1488
      ],
      "credentials": {
        "postgres": {
          "id": "33eKBVY731z1Ef4s",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "media": "={{ $('Save Context').first().json.imageUrl }}",
        "caption": "={{ $('Save Context').first().json.replyText }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1280,
        1392
      ],
      "id": "3cd06462-ebb1-4566-9fe9-58b5ce5de419",
      "name": "Send Image",
      "credentials": {
        "evolutionApi": {
          "id": "aodcaexLnhx89vQH",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "messageText": "={{ $('Save Context').first().json.replyText }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1280,
        1568
      ],
      "id": "217a08f5-be8a-40fb-8dfd-8c1e4010ffb5",
      "name": "Send Text",
      "credentials": {
        "evolutionApi": {
          "id": "aodcaexLnhx89vQH",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "delay": 1600
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        832,
        1488
      ],
      "id": "4374eb8d-69b5-474e-a545-a8db62da295b",
      "name": "Send Presence",
      "credentials": {
        "evolutionApi": {
          "id": "aodcaexLnhx89vQH",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-reaction",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.remoteJid }}",
        "messageId": "={{ $('Save Context').first().json.messageId }}",
        "fromMe": false,
        "reaction": "{{ $('Save Context').first().json.reactionEmoji || '✅' }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1728,
        1376
      ],
      "id": "e791c360-9add-4815-8b39-fa8e0d0cd12d",
      "name": "Send Reaction1",
      "credentials": {
        "evolutionApi": {
          "id": "aodcaexLnhx89vQH",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Valid Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Inbound": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "IF Allowed Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Allowed Phone": {
      "main": [
        [
          {
            "node": "Switch Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Media Type": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision OCR": {
      "main": [
        [
          {
            "node": "Receipt to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Audio to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio to Binary": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "PDF to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Binary": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "PDF Stub Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipt to Text": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Stub Text": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Text": {
      "main": [
        [
          {
            "node": "Bootstrap User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bootstrap User": {
      "main": [
        [
          {
            "node": "Get Conv State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conv State": {
      "main": [
        [
          {
            "node": "Merge Ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Ctx": {
      "main": [
        [
          {
            "node": "Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processed": {
      "main": [
        [
          {
            "node": "IF First Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF First Time": {
      "main": [
        [
          {
            "node": "Buffer Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Push": {
      "main": [
        [
          {
            "node": "Lock Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Token": {
      "main": [
        [
          {
            "node": "Lock Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Set": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Lock Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Get": {
      "main": [
        [
          {
            "node": "IF Won Race",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Won Race": {
      "main": [
        [
          {
            "node": "Buffer Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Get": {
      "main": [
        [
          {
            "node": "Buffer Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Delete": {
      "main": [
        [
          {
            "node": "Concat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat": {
      "main": [
        [
          {
            "node": "Chefin Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reply Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "tool: query_transactions": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: get_total": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: get_breakdown": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: compare_periods": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: find_transactions": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: find_duplicates": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: bulk_preview": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: bulk_delete": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: bulk_update": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: log_transaction": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: update_transaction": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: delete_transaction": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: list_categories": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: list_groups": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: list_budgets": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: set_budget": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: create_group": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: toggle_category_exclusion": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: set_recurring": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: remember_last_list": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: get_last_list": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: set_conv_state": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: clear_conv_state": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: generate_chart": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chefin Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Chunk Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should React": {
      "main": [
        [
          {
            "node": "Send Reaction1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Context": {
      "main": [
        [
          {
            "node": "Send Presence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Image Reply": {
      "main": [
        [
          {
            "node": "Send Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image": {
      "main": [
        [
          {
            "node": "IF Should React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text": {
      "main": [
        [
          {
            "node": "IF Should React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Presence": {
      "main": [
        [
          {
            "node": "IF Image Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reaction1": {
      "main": [
        [
          {
            "node": "Log Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9646036-00a6-43a9-9671-28a41711f851",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffd8d87eee45b45d9d477dc15de2a876d3f5cca56f9cc124ffdf011b7dbd68ec"
  },
  "id": "DcZB3rMPujem4Z5E",
  "tags": []
}