workflows/chefin-cron-v3.json
{
  "id": "chefin_cron_v3",
  "name": "Chefin Cron v3 (consolidated)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 22 * * *"
            }
          ]
        }
      },
      "id": "c001",
      "name": "Cron Daily 22:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 21 * * 0"
            }
          ]
        }
      },
      "id": "c002",
      "name": "Cron Sunday 21:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * *"
            }
          ]
        }
      },
      "id": "c003",
      "name": "Cron Daily 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 3 * * *"
            }
          ]
        }
      },
      "id": "c004",
      "name": "Cron Daily 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9,13,17,21 * * *"
            }
          ]
        }
      },
      "id": "c005",
      "name": "Cron Every 4h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {},
      "id": "c006",
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "j",
              "name": "job_name",
              "type": "string",
              "value": "daily_summary"
            }
          ]
        },
        "options": {}
      },
      "id": "c007",
      "name": "Pick Job",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        1000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.job_name }}",
                    "rightValue": "daily_summary"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "daily_summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.job_name }}",
                    "rightValue": "weekly_summary"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "weekly_summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.job_name }}",
                    "rightValue": "recurring"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "recurring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.job_name }}",
                    "rightValue": "cleanup"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cleanup"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.job_name }}",
                    "rightValue": "budget_alerts"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "budget_alerts"
            }
          ]
        },
        "options": {}
      },
      "id": "c008",
      "name": "Dispatch Manual",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        440,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_cron_start($1::text, '{}'::jsonb) AS run_id;",
        "options": {
          "queryReplacement": "=daily_summary"
        }
      },
      "id": "c009",
      "name": "Log Start: daily_summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, u.phone_number AS phone, u.name,\n                   ds.total, ds.n, ds.top_category, ds.top_amount\n            FROM users u\n            CROSS JOIN LATERAL daily_summary(u.id) ds\n            WHERE u.daily_summary_enabled = TRUE AND u.is_active = TRUE;",
        "options": {}
      },
      "id": "c010",
      "name": "Daily Summary Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const total = Number(j.total || 0);\n  const n = Number(j.n || 0);\n  const fmt = x => Number(x||0).toLocaleString('es-AR');\n  let text;\n  if (n === 0) {\n    const opts = [\n      '🧘 Hoy no anotaste gastos. Buen día para la billetera.',\n      '🎉 Día sin gastos registrados. ¡Bien ahí!',\n      '✨ Hoy no me llegó nada. Si te olvidaste algo, lo podés cargar ahora.'\n    ];\n    text = opts[Math.floor(Math.random()*opts.length)];\n  } else {\n    let body = `📊 *Resumen de hoy*\\nGastaste $${fmt(total)} en ${n} ${n===1?'movimiento':'movimientos'}`;\n    if (j.top_category) body += `\\nMás fuerte: ${j.top_category} ($${fmt(j.top_amount)})`;\n    text = body;\n  }\n  out.push({ json: {\n    job_name: 'daily_summary',\n    user_id: j.user_id, phone: j.phone,\n    instance: 'chefin',\n    remoteJid: j.phone + '@s.whatsapp.net',\n    replyText: text\n  }});\n}\nreturn out;"
      },
      "id": "c011",
      "name": "Format Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_cron_start($1::text, '{}'::jsonb) AS run_id;",
        "options": {
          "queryReplacement": "=weekly_summary"
        }
      },
      "id": "c012",
      "name": "Log Start: weekly_summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH this_week AS (\n  SELECT u.id AS user_id, u.phone_number, u.name,\n         COALESCE(SUM(t.amount),0) AS this_total, COUNT(t.*) AS this_n\n  FROM users u\n  LEFT JOIN v_reportable_transactions t\n    ON t.user_id = u.id AND t.type = 'expense'\n   AND t.transaction_date >= DATE_TRUNC('week', CURRENT_DATE)\n  WHERE u.weekly_summary_enabled = TRUE AND u.is_active = TRUE\n  GROUP BY u.id, u.phone_number, u.name\n),\nlast_week AS (\n  SELECT u.id AS user_id, COALESCE(SUM(t.amount),0) AS last_total\n  FROM users u\n  LEFT JOIN v_reportable_transactions t\n    ON t.user_id = u.id AND t.type = 'expense'\n   AND t.transaction_date >= DATE_TRUNC('week', CURRENT_DATE - INTERVAL '1 week')\n   AND t.transaction_date <  DATE_TRUNC('week', CURRENT_DATE)\n  GROUP BY u.id\n),\ntop_cat AS (\n  SELECT DISTINCT ON (t.user_id) t.user_id, c.name AS category, SUM(t.amount) AS amt\n  FROM v_reportable_transactions t\n  LEFT JOIN categories c ON c.id = t.category_id\n  WHERE t.type = 'expense' AND t.transaction_date >= DATE_TRUNC('week', CURRENT_DATE)\n  GROUP BY t.user_id, c.name\n  ORDER BY t.user_id, amt DESC\n)\nSELECT tw.user_id, tw.phone_number AS phone, tw.name,\n       tw.this_total, tw.this_n,\n       lw.last_total, tc.category AS top_category, tc.amt AS top_amount\nFROM this_week tw\nLEFT JOIN last_week lw USING (user_id)\nLEFT JOIN top_cat tc USING (user_id);",
        "options": {}
      },
      "id": "c013",
      "name": "Weekly Summary Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nconst fmt = n => Number(n||0).toLocaleString('es-AR');\nfor (const it of items) {\n  const j = it.json;\n  const t = Number(j.this_total||0), l = Number(j.last_total||0);\n  let trend = '';\n  if (l > 0) {\n    const pct = Math.round(((t - l) / l) * 100);\n    if (pct > 5) trend = `\\n📈 ${pct}% más que la semana pasada ($${fmt(l)})`;\n    else if (pct < -5) trend = `\\n📉 ${Math.abs(pct)}% menos que la semana pasada ($${fmt(l)})`;\n    else trend = '\\n📊 Similar a la semana pasada.';\n  }\n  let body;\n  if (Number(j.this_n) === 0) {\n    body = '🌿 *Resumen semanal*\\nEsta semana no registraste gastos.';\n  } else {\n    body = `📅 *Resumen semanal*\\nGastaste $${fmt(t)} en ${j.this_n} ${j.this_n==1?'movimiento':'movimientos'}${trend}`;\n    if (j.top_category) body += `\\nMás fuerte: ${j.top_category} ($${fmt(j.top_amount)})`;\n  }\n  out.push({ json: {\n    job_name: 'weekly_summary',\n    user_id: j.user_id, phone: j.phone,\n    instance: 'chefin',\n    remoteJid: j.phone + '@s.whatsapp.net',\n    replyText: body\n  }});\n}\nreturn out;"
      },
      "id": "c014",
      "name": "Format Weekly Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_cron_start($1::text, '{}'::jsonb) AS run_id;",
        "options": {
          "queryReplacement": "=recurring"
        }
      },
      "id": "c015",
      "name": "Log Start: recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM process_due_recurring();",
        "options": {}
      },
      "id": "c016",
      "name": "Process Due Recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json.out_transaction_id);\nconst out = [];\nconst fmt = n => Number(n||0).toLocaleString('es-AR');\nfor (const it of items) {\n  const j = it.json;\n  out.push({ json: {\n    job_name: 'recurring',\n    user_id: j.out_user_id, phone: j.out_phone,\n    instance: 'chefin',\n    remoteJid: j.out_phone + '@s.whatsapp.net',\n    replyText: `🔁 Cargué tu gasto recurrente: $${fmt(j.out_amount)} de ${j.out_category_name||'sin categoría'}${j.out_description?' — '+j.out_description:''}`\n  }});\n}\nreturn out;"
      },
      "id": "c017",
      "name": "Format Recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_cron_start($1::text, '{}'::jsonb) AS run_id;",
        "options": {
          "queryReplacement": "=cleanup"
        }
      },
      "id": "c018",
      "name": "Log Start: cleanup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n        purge_old_chat_history(30) AS chats_purged,\n        purge_expired_conv_states() AS states_purged,\n        (SELECT COUNT(*)::INT FROM cron_runs WHERE started_at < NOW() - INTERVAL '90 days') AS old_cron_runs;",
        "options": {}
      },
      "id": "c019",
      "name": "Cleanup Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first()?.json || {};\nconst summary = {\n  chats_purged: Number(r.chats_purged||0),\n  states_purged: Number(r.states_purged||0),\n  old_cron_runs: Number(r.old_cron_runs||0)\n};\n// No messages to send — return synthetic record so Log End has data\nreturn [{ json: { job_name: 'cleanup', skip_send: true, summary }}];"
      },
      "id": "c020",
      "name": "Format Cleanup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_cron_start($1::text, '{}'::jsonb) AS run_id;",
        "options": {
          "queryReplacement": "=budget_alerts"
        }
      },
      "id": "c021",
      "name": "Log Start: budget_alerts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM pending_budget_alerts();",
        "options": {}
      },
      "id": "c022",
      "name": "Pending Alerts Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json.user_id);\nconst fmt = n => Number(n||0).toLocaleString('es-AR', { minimumFractionDigits: 0, maximumFractionDigits: 2 });\nconst periodLabel = p => ({ weekly:'esta semana', monthly:'este mes', yearly:'este año' })[p] || p;\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const spent     = Number(j.spent || 0);\n  const amount    = Number(j.amount || 0);\n  const pct       = Number(j.pct || 0);\n  const remaining = Number(j.remaining_amount || 0);\n  const daysRem   = Number(j.days_remaining || 0);\n  const safeDaily = Number(j.safe_daily || 0);\n  const catLabel  = (j.category_emoji ? j.category_emoji + ' ' : '') + '*' + j.category_name + '*';\n  const pl        = periodLabel(j.period);\n  let body;\n  switch (j.level) {\n    case 'over_critical':\n      body = `🔴 *Te pasaste fuerte de ${catLabel}* (${pl})\\nLlevás *$${fmt(spent)}* / *$${fmt(amount)}* (*${pct}%*).\\nFaltan *${daysRem} días* — para no escalar más, frená esta categoría hasta el cierre del período.`;\n      break;\n    case 'over_budget':\n      body = `🟠 *Te pasaste de ${catLabel}* (${pl})\\nLlevás *$${fmt(spent)}* / *$${fmt(amount)}* (*${pct}%*).\\nQuedan *${daysRem} días* — cualquier gasto extra suma sobre el exceso.`;\n      break;\n    case 'near_budget':\n      body = `🟡 *Vas cerca del límite de ${catLabel}* (${pl})\\nLlevás *$${fmt(spent)}* / *$${fmt(amount)}* (*${pct}%*).\\nTe quedan *$${fmt(remaining)}* para *${daysRem} días* = *$${fmt(safeDaily)}/día*.`;\n      break;\n    case 'pacing_warn':\n    default:\n      body = `🟢 *Heads up — ${catLabel}* (${pl})\\nLlevás *$${fmt(spent)}* / *$${fmt(amount)}* (*${pct}%*) y vas adelantado en el período.\\nPara no pasarte: *$${fmt(remaining)}* para *${daysRem} días* = *$${fmt(safeDaily)}/día*.`;\n      break;\n  }\n  out.push({ json: {\n    job_name: 'budget_alerts',\n    user_id: j.user_id, phone: j.phone,\n    instance: 'chefin',\n    remoteJid: j.phone + '@s.whatsapp.net',\n    replyText: body,\n    _budget_id: j.budget_id, _level: j.level\n  }});\n}\nreturn out;"
      },
      "id": "c023",
      "name": "Format Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        800
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "c024",
      "name": "Merge Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              },
              "leftValue": "={{ Boolean($json.skip_send) }}",
              "rightValue": false
            },
            {
              "id": "c2",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.replyText }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "c025",
      "name": "Filter Sendable",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c026",
      "name": "Loop Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.remoteJid || ($json.phone + \"@s.whatsapp.net\") }}",
        "messageText": "={{ $json.replyText }}",
        "options_message": {}
      },
      "id": "c027",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1980,
        200
      ],
      "credentials": {
        "evolutionApi": {
          "id": "FgeqqvxAqTER4oeD",
          "name": "Evolution account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT CASE\n        WHEN $1::text = 'budget_alerts' AND $2 IS NOT NULL AND $3 IS NOT NULL\n        THEN (SELECT mark_budget_alert_sent($2::uuid, $3::uuid, $4::text))\n        ELSE NULL END AS marked;",
        "options": {
          "queryReplacement": "={{ $json.job_name }},={{ $json.user_id }},={{ $json._budget_id || '' }},={{ $json._level || '' }}"
        }
      },
      "id": "c028",
      "name": "Mark Sent (if budget)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 400,
        "unit": "ms"
      },
      "id": "c029",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2420,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stats = {};\nfor (const it of items) {\n  const job = it.json.job_name || 'unknown';\n  stats[job] = stats[job] || { processed: 0 };\n  stats[job].processed += 1;\n}\nreturn Object.entries(stats).map(([job, s]) => ({ json: { job_name: job, items_processed: s.processed, items_sent: s.processed } }));"
      },
      "id": "c030",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO cron_runs (job_name, finished_at, items_processed, items_sent, success)\n            VALUES ($1::text, NOW(), $2::int, $3::int, TRUE);",
        "options": {
          "queryReplacement": "={{ $json.job_name }},={{ $json.items_processed || 0 }},={{ $json.items_sent || 0 }}"
        }
      },
      "id": "c031",
      "name": "Log End",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO cron_runs (job_name, finished_at, items_processed, success, metadata)\n            VALUES ('cleanup', NOW(), 0, TRUE, $1::jsonb);",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.summary || {}) }}"
        }
      },
      "id": "c032",
      "name": "Log End Cleanup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "f8CCpjEZRkcHEaJI",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 30 21 * * *" } ] }
      },
      "id": "c033",
      "name": "Cron Daily 21:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ 0, 1200 ]
    },
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 0 10 1 * *" } ] }
      },
      "id": "c034",
      "name": "Cron Monthly Digest 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ 0, 1400 ]
    },
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 0 11 1 * *" } ] }
      },
      "id": "c035",
      "name": "Cron Monthly Subs 11:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ 0, 1600 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_cron_start($1::text, '{}'::jsonb) AS run_id;",
        "options": { "queryReplacement": "=anomalies" }
      },
      "id": "c036",
      "name": "Log Start: anomalies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [ 660, 1200 ],
      "credentials": { "postgres": { "id": "f8CCpjEZRkcHEaJI", "name": "Postgres account" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claim_anomalies_for_cron();",
        "options": {}
      },
      "id": "c037",
      "name": "Claim Anomalies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [ 880, 1200 ],
      "credentials": { "postgres": { "id": "f8CCpjEZRkcHEaJI", "name": "Postgres account" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json && i.json.user_id);\nconst fmt = n => Number(n||0).toLocaleString('es-AR', { minimumFractionDigits: 0, maximumFractionDigits: 2 });\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const cat = j.category_name || 'sin categoría';\n  const desc = j.description ? ` (_${j.description}_)` : '';\n  const mult = Number(j.multiplier || 0);\n  const baseline = Number(j.baseline || 0);\n  const amount = Number(j.amount || 0);\n  const body = `🚨 *Gasto fuera de lo normal*\\nHoy gastaste *$${fmt(amount)}* en *${cat}*${desc} — *${mult.toFixed(1)}x* tu promedio (*$${fmt(baseline)}*).\\n¿Es correcto? Decime *no* si fue un error y lo borro.`;\n  out.push({ json: {\n    job_name: 'anomalies',\n    user_id: j.user_id, phone: j.phone,\n    instance: 'chefin',\n    remoteJid: j.phone + '@s.whatsapp.net',\n    replyText: body\n  }});\n}\nreturn out;"
      },
      "id": "c038",
      "name": "Format Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1100, 1200 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_cron_start($1::text, '{}'::jsonb) AS run_id;",
        "options": { "queryReplacement": "=monthly_digest" }
      },
      "id": "c039",
      "name": "Log Start: monthly_digest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [ 660, 1400 ],
      "credentials": { "postgres": { "id": "f8CCpjEZRkcHEaJI", "name": "Postgres account" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claim_monthly_digests_for_cron();",
        "options": {}
      },
      "id": "c040",
      "name": "Claim Digests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [ 880, 1400 ],
      "credentials": { "postgres": { "id": "f8CCpjEZRkcHEaJI", "name": "Postgres account" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "Content-Type", "value": "application/json" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.5,\n  \"max_tokens\": 700,\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"Sos Chefin. Generás un resumen mensual conversacional, en español rioplatense (Argentina), para WhatsApp. Usá *negrita* para datos clave (montos, categorías, % cambios) y _cursiva_ para descripciones o notas. Tono cálido, directo, no condescendiente. Máximo 1500 chars. Estructura: 1) encabezado con el mes en *negrita*, 2) 2-3 párrafos cortos con la historia (qué subió/bajó vs el mes anterior, qué se nota en los datos, suscripciones nuevas si aparecen), 3) UNA recomendación accionable concreta al final. Si en el JSON `cashflow` viene `null`, NO menciones ingresos, saldo, ni 'cuánto te queda', NO sugieras cargar ingresos. Hacés el resumen solo con gastos. Devolvé SOLO el texto del mensaje, sin JSON ni explicaciones extra.\"},\n    {\"role\":\"user\",\"content\":\"Datos del mes para el resumen:\\n{{ JSON.stringify($json.snapshot) }}\"}\n  ]\n}",
        "options": {}
      },
      "id": "c041",
      "name": "Generate Digest LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1100, 1400 ],
      "credentials": { "openAiApi": { "id": "yWzjxEHJ670U5FFO", "name": "OpenAI account" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fmt = n => Number(n||0).toLocaleString('es-AR', { minimumFractionDigits: 0, maximumFractionDigits: 2 });\nconst out = [];\nfor (const it of items) {\n  const j = it.json || {};\n  // 'Claim Digests' produce { user_id, phone, period_key, snapshot } — pero después del HTTP node, eso queda en el item original.\n  // Buscamos el snapshot via Claim Digests, y el text via la respuesta de OpenAI.\n  const claim = (typeof $('Claim Digests') !== 'undefined') ? ($('Claim Digests').all()[$itemIndex]?.json || {}) : j;\n  const snap = claim.snapshot || j.snapshot || {};\n  const userId = claim.user_id || j.user_id;\n  const phone  = claim.phone   || j.phone;\n  const periodKey = claim.period_key || j.period_key || (snap.period_key || 'último mes');\n  const monthLabel = snap.month_label || periodKey;\n  let body = '';\n  // Intento usar la respuesta de OpenAI\n  const llmText = j?.choices?.[0]?.message?.content;\n  if (typeof llmText === 'string' && llmText.trim().length > 30) {\n    body = llmText.trim();\n  } else {\n    // Fallback determinístico\n    const t = snap.totals || {};\n    const exp = Number(t.expenses_this || 0);\n    const expPrev = Number(t.expenses_prev || 0);\n    const delta = expPrev > 0 ? Math.round((exp - expPrev) / expPrev * 100) : null;\n    const trend = delta === null ? '' : (delta >= 0 ? ` (*+${delta}%* vs mes anterior)` : ` (*${delta}%* vs mes anterior)`);\n    body = `📅 *Resumen de ${monthLabel}*\\nGastaste *$${fmt(exp)}* en _${t.count_this||0} movimientos_${trend}.`;\n    if (Array.isArray(snap.by_category) && snap.by_category.length > 0) {\n      const top = snap.by_category.slice(0, 3).map((c,i) => `${i+1}. *${c.category||'sin'}* — *$${fmt(c.this_month||0)}*`).join('\\n');\n      body += `\\n\\n*Top categorías:*\\n${top}`;\n    }\n    if (snap.has_income && snap.cashflow) {\n      body += `\\n\\n*Saldo del mes:* *$${fmt(snap.cashflow.net||0)}* (ingresos *$${fmt(snap.cashflow.income||0)}* - gastos *$${fmt(snap.cashflow.expenses||0)}*).`;\n    }\n  }\n  if (!userId || !phone) continue;\n  out.push({ json: {\n    job_name: 'monthly_digest',\n    user_id: userId, phone,\n    instance: 'chefin',\n    remoteJid: phone + '@s.whatsapp.net',\n    replyText: body\n  }});\n}\nreturn out;"
      },
      "id": "c042",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1320, 1400 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_cron_start($1::text, '{}'::jsonb) AS run_id;",
        "options": { "queryReplacement": "=subscriptions" }
      },
      "id": "c043",
      "name": "Log Start: subscriptions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [ 660, 1600 ],
      "credentials": { "postgres": { "id": "f8CCpjEZRkcHEaJI", "name": "Postgres account" } },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claim_new_subscriptions_for_cron();",
        "options": {}
      },
      "id": "c044",
      "name": "Claim Subscriptions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [ 880, 1600 ],
      "credentials": { "postgres": { "id": "f8CCpjEZRkcHEaJI", "name": "Postgres account" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json && i.json.user_id && Number(i.json.new_count || 0) > 0);\nconst fmt = n => Number(n||0).toLocaleString('es-AR', { minimumFractionDigits: 0, maximumFractionDigits: 2 });\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const list = (j.items || []).slice(0, 6).map((s, i) => {\n    const desc = s.description || s.category || 'recurrente';\n    return `${i+1}. _${desc}_ · *$${fmt(s.avg_amount)}* · *${s.cadence || 'mensual'}* · próximo *${s.next_date || '—'}*`;\n  }).join('\\n');\n  const body = `🔍 *Suscripciones nuevas detectadas* (~*$${fmt(j.monthly_total)}*/mes):\\n${list}\\n\\nSi querés que las marque como recurrentes en el sistema, decime cuáles.`;\n  out.push({ json: {\n    job_name: 'subscriptions',\n    user_id: j.user_id, phone: j.phone,\n    instance: 'chefin',\n    remoteJid: j.phone + '@s.whatsapp.net',\n    replyText: body\n  }});\n}\nreturn out;"
      },
      "id": "c045",
      "name": "Format Subscriptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1100, 1600 ]
    }
  ],
  "connections": {
    "Manual Test": {
      "main": [
        [
          {
            "node": "Pick Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Job": {
      "main": [
        [
          {
            "node": "Dispatch Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Daily 22:00": {
      "main": [
        [
          {
            "node": "Log Start: daily_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Manual": {
      "main": [
        [
          {
            "node": "Log Start: daily_summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Start: weekly_summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Start: recurring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Start: cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Start: budget_alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Start: daily_summary": {
      "main": [
        [
          {
            "node": "Daily Summary Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Summary Query": {
      "main": [
        [
          {
            "node": "Format Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Sunday 21:00": {
      "main": [
        [
          {
            "node": "Log Start: weekly_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Start: weekly_summary": {
      "main": [
        [
          {
            "node": "Weekly Summary Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Summary Query": {
      "main": [
        [
          {
            "node": "Format Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Daily 06:00": {
      "main": [
        [
          {
            "node": "Log Start: recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Start: recurring": {
      "main": [
        [
          {
            "node": "Process Due Recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Due Recurring": {
      "main": [
        [
          {
            "node": "Format Recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Daily 03:00": {
      "main": [
        [
          {
            "node": "Log Start: cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Start: cleanup": {
      "main": [
        [
          {
            "node": "Cleanup Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Postgres": {
      "main": [
        [
          {
            "node": "Format Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Every 4h": {
      "main": [
        [
          {
            "node": "Log Start: budget_alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Start: budget_alerts": {
      "main": [
        [
          {
            "node": "Pending Alerts Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending Alerts Query": {
      "main": [
        [
          {
            "node": "Format Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Summary": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Weekly Summary": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Recurring": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alerts": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Daily 21:30": {
      "main": [
        [ { "node": "Log Start: anomalies", "type": "main", "index": 0 } ]
      ]
    },
    "Log Start: anomalies": {
      "main": [
        [ { "node": "Claim Anomalies", "type": "main", "index": 0 } ]
      ]
    },
    "Claim Anomalies": {
      "main": [
        [ { "node": "Format Anomalies", "type": "main", "index": 0 } ]
      ]
    },
    "Format Anomalies": {
      "main": [
        [ { "node": "Merge Outputs", "type": "main", "index": 0 } ]
      ]
    },
    "Cron Monthly Digest 10:00": {
      "main": [
        [ { "node": "Log Start: monthly_digest", "type": "main", "index": 0 } ]
      ]
    },
    "Log Start: monthly_digest": {
      "main": [
        [ { "node": "Claim Digests", "type": "main", "index": 0 } ]
      ]
    },
    "Claim Digests": {
      "main": [
        [ { "node": "Generate Digest LLM", "type": "main", "index": 0 } ]
      ]
    },
    "Generate Digest LLM": {
      "main": [
        [ { "node": "Format Digest", "type": "main", "index": 0 } ]
      ]
    },
    "Format Digest": {
      "main": [
        [ { "node": "Merge Outputs", "type": "main", "index": 0 } ]
      ]
    },
    "Cron Monthly Subs 11:00": {
      "main": [
        [ { "node": "Log Start: subscriptions", "type": "main", "index": 0 } ]
      ]
    },
    "Log Start: subscriptions": {
      "main": [
        [ { "node": "Claim Subscriptions", "type": "main", "index": 0 } ]
      ]
    },
    "Claim Subscriptions": {
      "main": [
        [ { "node": "Format Subscriptions", "type": "main", "index": 0 } ]
      ]
    },
    "Format Subscriptions": {
      "main": [
        [ { "node": "Merge Outputs", "type": "main", "index": 0 } ]
      ]
    },
    "Merge Outputs": {
      "main": [
        [
          {
            "node": "Filter Sendable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Sendable": {
      "main": [
        [
          {
            "node": "Loop Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Batches": {
      "main": [
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Mark Sent (if budget)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sent (if budget)": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Loop Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stats": {
      "main": [
        [
          {
            "node": "Log End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cleanup": {
      "main": [
        [
          {
            "node": "Log End Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}