workflows/Chefin_fixed.json
{
  "name": "Chefin Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chefin",
        "options": {}
      },
      "id": "d4d92fbc-cc13-4be8-89a7-a4c26fee4262",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1168,
        2928
      ],
      "webhookId": "b8b4a1c2-3e1f-4a3b-9d99-c8c2c2c2c2c2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert"
            },
            {
              "id": "c2",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "5bd419c9-4239-4987-bfd0-208d5c4e70a8",
      "name": "IF Valid Inbound",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -944,
        2928
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "instance",
              "type": "string",
              "value": "={{ $json.body.instance }}"
            },
            {
              "id": "a2",
              "name": "messageId",
              "type": "string",
              "value": "={{ $json.body.data.key.id }}"
            },
            {
              "id": "a3",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $json.body.data.key.remoteJid }}"
            },
            {
              "id": "a4",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "id": "a5",
              "name": "pushName",
              "type": "string",
              "value": "={{ $json.body.data.pushName || '' }}"
            },
            {
              "id": "a6",
              "name": "messageType",
              "type": "string",
              "value": "={{ $json.body.data.messageType }}"
            },
            {
              "id": "a7",
              "name": "text",
              "type": "string",
              "value": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}"
            },
            {
              "id": "a8",
              "name": "caption",
              "type": "string",
              "value": "={{ $json.body.data.message?.imageMessage?.caption || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c38f1355-2323-4c71-9561-abe50edb9b09",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        2928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ ($env.ALLOWED_PHONES || '').split(',').map(p => p.trim()).filter(p => p).includes($json.phone) }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "e119db3c-6915-4897-9a7e-3000f9acb2cf",
      "name": "IF Allowed Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -512,
        2928
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "documentMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "text"
        }
      },
      "id": "e2589196-00a9-4f5f-b881-a67961ac5824",
      "name": "Switch Media Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -288,
        2928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "f750277d-a8fa-49fb-a515-2be974b8c8a5",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        2720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": {\"type\":\"json_object\"},\n  \"temperature\": 0.1, \"max_tokens\": 1500,\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"Sos un experto leyendo tickets argentinos. Devolvé JSON con: {is_receipt:bool, merchant, amount(número), currency:'ARS', transaction_date_iso, payment_method_hint, category_hint, description, confidence(0-1), human_reply}. Si no es un comprobante, is_receipt=false. amount=TOTAL final.\"},\n    {\"role\":\"user\",\"content\":[\n      {\"type\":\"text\",\"text\":\"Caption: {{ $('Extract Fields').first().json.caption || '(ninguno)' }}\"},\n      {\"type\":\"image_url\",\"image_url\":{\"url\":\"data:{{ $json.mimetype || 'image/jpeg' }};base64,{{ $json.base64 }}\"}}\n    ]}\n  ]\n}",
        "options": {}
      },
      "id": "f94c8f26-b57e-4a1f-bb33-aa1db08594f0",
      "name": "Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        2720
      ],
      "credentials": {
        "openAiApi": {
          "id": "yWzjxEHJ670U5FFO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp=$input.first().json;const ctx=$('Extract Fields').first().json;\nlet payload;try{payload=JSON.parse(resp.choices?.[0]?.message?.content||'{}');}catch{payload={is_receipt:false,human_reply:'No pude leer el comprobante.'};}\nlet syntheticText;\nif(payload.is_receipt && Number(payload.amount) > 0){\n  const dateOnly = payload.transaction_date_iso ? String(payload.transaction_date_iso).slice(0,10) : '';\n  const desc = payload.description || (payload.merchant ? 'pago a '+payload.merchant : 'comprobante');\n  const parts = ['pagué', String(payload.amount), 'de', payload.category_hint||'otros'];\n  if(payload.payment_method_hint) parts.push('con', payload.payment_method_hint);\n  if(dateOnly) parts.push('el', dateOnly);\n  parts.push('—', desc);\n  syntheticText = parts.join(' ');\n} else { syntheticText = payload.human_reply || 'No pude leer el comprobante.'; }\nreturn [{ json: { text: syntheticText, phone: ctx.phone, remoteJid: ctx.remoteJid, instance: ctx.instance, messageId: ctx.messageId, pushName: ctx.pushName, receipt_data: payload } }];"
      },
      "id": "5a15a651-3942-4df3-b5cb-1a78f12c1b11",
      "name": "Receipt to Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        2720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "8137550d-66fe-4df1-9457-288f16baa401",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        2928
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const ctx=$('Extract Fields').first().json;\nconst b64=item.base64||'';if(!b64)throw new Error('Empty audio base64');\nconst buf=Buffer.from(b64,'base64');\nconst bin=await this.helpers.prepareBinaryData(buf,'audio.ogg',item.mimetype||'audio/ogg');\nreturn [{ json:{phone:ctx.phone,remoteJid:ctx.remoteJid,instance:ctx.instance,messageId:ctx.messageId,pushName:ctx.pushName}, binary:{data:bin} }];"
      },
      "id": "13ac5975-b5e6-4395-9ca5-ebe71365740f",
      "name": "Audio to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        2928
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "id": "07778098-a042-4ae0-9533-56dd8e25cf8a",
      "name": "Whisper Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        384,
        2928
      ],
      "credentials": {
        "openAiApi": {
          "id": "yWzjxEHJ670U5FFO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/chat/getBase64FromMediaMessage/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=ddc0c55de962f185e21f5bb18e1233b1f443417772e1f4c16c8a630bf902fcef"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": { \"key\": { \"id\": \"{{ $json.messageId }}\" } },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "11e22bca-e877-48fd-bd22-6722f0b7b761",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        3120
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const ctx=$('Extract Fields').first().json;\nconst b64=item.base64||'';if(!b64)throw new Error('Empty PDF base64');\nconst buf=Buffer.from(b64,'base64');\nconst bin=await this.helpers.prepareBinaryData(buf,'document.pdf','application/pdf');\nreturn [{ json:{phone:ctx.phone,remoteJid:ctx.remoteJid,instance:ctx.instance,messageId:ctx.messageId,pushName:ctx.pushName}, binary:{data:bin} }];"
      },
      "id": "49aadf92-8208-4874-b0e7-5ce5b5fed401",
      "name": "PDF to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        3120
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f9fb653f-a270-4ee9-958e-2a1c6ab9731e",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        3120
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const ctx=$('Extract Fields').first().json;\nconst txt = (item.text || '').slice(0, 4000);\nreturn [{ json: { text: 'Adjunté un PDF. Contenido relevante:\\n\\n' + txt, phone: ctx.phone, remoteJid: ctx.remoteJid, instance: ctx.instance, messageId: ctx.messageId, pushName: ctx.pushName } }];"
      },
      "id": "2d6de3b7-65d9-40a1-8496-2de45fc03606",
      "name": "PDF Stub Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        3120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "a2",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.phone }}"
            },
            {
              "id": "a3",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.remoteJid }}"
            },
            {
              "id": "a4",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.instance }}"
            },
            {
              "id": "a5",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.messageId }}"
            },
            {
              "id": "a6",
              "name": "pushName",
              "type": "string",
              "value": "={{ $('Extract Fields').first().json.pushName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9733de71-3eda-40d3-a153-28788b463019",
      "name": "Pass Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        2928
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT bootstrap_user($1::text, $2::text) AS user_id;",
        "options": {
          "queryReplacement": "={{ $json.phone }},={{ $json.pushName }}"
        }
      },
      "id": "4f1e8287-87bb-497b-9362-3c9dd856239e",
      "name": "Bootstrap User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1376,
        3408
      ],
      "credentials": {
        "postgres": {
          "id": "33eKBVY731z1Ef4s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cs.state AS conv_state, cs.context AS conv_context, u.onboarded FROM users u LEFT JOIN conversation_state cs ON cs.user_id=u.id AND cs.expires_at > NOW() WHERE u.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "11cf2688-5b62-4045-a9df-ba1031867275",
      "name": "Get Conv State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1152,
        3408
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "33eKBVY731z1Ef4s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Bootstrap User').first().json.user_id }}"
            },
            {
              "id": "t",
              "name": "text",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.text }}"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.messageId }}"
            },
            {
              "id": "pn",
              "name": "pushName",
              "type": "string",
              "value": "={{ $('Pass Text').first().json.pushName }}"
            },
            {
              "id": "cs",
              "name": "convState",
              "type": "string",
              "value": "={{ $json.conv_state || '' }}"
            },
            {
              "id": "cc",
              "name": "convContext",
              "type": "object",
              "value": "={{ $json.conv_context || {} }}"
            },
            {
              "id": "ob",
              "name": "onboarded",
              "type": "boolean",
              "value": "={{ $json.onboarded || false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aff6a5c5-1564-4566-a714-3f596873793d",
      "name": "Merge Ctx",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        3408
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "alreadyProcessed",
        "key": "=processed:{{ $json.messageId }}",
        "options": {}
      },
      "id": "98400dfc-bd6d-4d41-8744-f423a387fbf1",
      "name": "Redis Check",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -720,
        3408
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "empty"
              },
              "leftValue": "={{ $json.alreadyProcessed }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8689cd19-146b-407b-b6b9-c51656620001",
      "name": "IF First Time",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -496,
        3408
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=processed:{{ $json.messageId }}",
        "value": "1",
        "expire": true,
        "ttl": 3600
      },
      "id": "25da57a1-9cfa-46d1-8185-40c91e8a0a5b",
      "name": "Mark Processed",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -272,
        3312
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer:{{ $('Merge Ctx').first().json.phone }}",
        "messageData": "={{ $('Merge Ctx').first().json.text }}",
        "tail": true
      },
      "id": "e36f1b01-db01-4f0e-961c-21888f92aa4c",
      "name": "Buffer Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -48,
        3312
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lt",
              "name": "lockToken",
              "type": "string",
              "value": "={{ $now.toMillis() + '-' + Math.random().toString(36).slice(2,10) }}"
            },
            {
              "id": "ph",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Merge Ctx').first().json.phone }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "57249ff0-31b8-4723-9124-252907345a9a",
      "name": "Lock Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        3488
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=lock:{{ $json.phone }}",
        "value": "={{ $json.lockToken }}",
        "expire": true,
        "ttl": 30
      },
      "id": "17bfc49f-3516-46ea-be5b-0f668bbe4b4a",
      "name": "Lock Set",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        160,
        3408
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 6
      },
      "id": "98852ebb-c2a2-4589-ae9f-e59dd004f7e4",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        3408
      ],
      "webhookId": "7e7eaba2-f851-4e37-8748-2c03cc8144aa"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "currentLock",
        "key": "=lock:{{ $('Lock Token').first().json.phone }}",
        "options": {}
      },
      "id": "5f3b1350-3762-48ee-b9c3-dc2545a45afb",
      "name": "Lock Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        608,
        3408
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.currentLock }}",
              "rightValue": "={{ $('Lock Token').first().json.lockToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bdb1fde1-7f0c-4bc8-8946-872e27d1b4f1",
      "name": "IF Won Race",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        832,
        3408
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "bufferedMessages",
        "key": "=buffer:{{ $('Lock Token').first().json.phone }}",
        "keyType": "list",
        "options": {}
      },
      "id": "1f775480-c02f-4273-afd5-7e1e342f77e9",
      "name": "Buffer Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        3408
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer:{{ $('Lock Token').first().json.phone }}"
      },
      "id": "d3edfb2e-a184-4e69-aaaa-16af003d2e07",
      "name": "Buffer Delete",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1264,
        3408
      ],
      "credentials": {
        "redis": {
          "id": "8L0NBLL6RmeFiu74",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buf=$input.first().json.bufferedMessages||[];\nconst ctx=$('Merge Ctx').first().json;\nconst combined=buf.filter(Boolean).map(s=>String(s).trim()).join(' \\n ').trim();\nreturn [{ json:{ userId:ctx.userId, phone:ctx.phone, remoteJid:ctx.remoteJid, instance:ctx.instance, messageId:ctx.messageId, pushName:ctx.pushName, combinedText:combined, bufferLength:buf.length, convState:ctx.convState, convContext:ctx.convContext, onboarded:ctx.onboarded }}];"
      },
      "id": "9657a6af-c525-4034-a2de-a6cb1fb24449",
      "name": "Concat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        3408
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0.2
        }
      },
      "id": "3eb247c8-2e85-4c6b-bfef-9acb0c16cda7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1120,
        3920
      ],
      "credentials": {
        "openAiApi": {
          "id": "yWzjxEHJ670U5FFO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Concat').first().json.userId }}",
        "contextWindowLength": 12
      },
      "id": "dc74e829-7a6c-4b5f-ae74-0ac20ea139c8",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -896,
        3920
      ],
      "credentials": {
        "postgres": {
          "id": "33eKBVY731z1Ef4s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply_text\": \"Hola! ¿en qué te ayudo?\",\n  \"reply_kind\": \"text\",\n  \"image_url\": \"\",\n  \"should_react\": false,\n  \"reaction_emoji\": \"\"\n}"
      },
      "id": "fd5ef2f7-2828-44ae-8f9f-825385fbebb1",
      "name": "Reply Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -672,
        3920
      ]
    },
    {
      "parameters": {
        "name": "query_transactions",
        "description": "Lista transacciones con filtros y paginación. Úsala para \"mostrame los movs\", \"los últimos\", \"todos los gastos del mes\". Filtros opcionales: period, category, description_contains, exact_amount, min_amount, max_amount, type (expense/income/both), group_name, payment_method, sort (date_desc default). Devuelve items con id, date, amount, description, category, emoji.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "query_transactions",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "24bb1589-d196-4a42-8781-bcdeb6630dc9",
      "name": "tool: query_transactions",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -1312,
        4128
      ]
    },
    {
      "parameters": {
        "name": "get_total",
        "description": "Total y count de gastos/ingresos en un período. Para \"cuánto gasté\", \"total del mes\", \"cuánto en comida\". Filtros: period (default this_month), type (default expense), category, group_name.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "get_total",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "e38246d1-7932-4326-aa72-c2dbe937ad45",
      "name": "tool: get_total",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -1120,
        4128
      ]
    },
    {
      "parameters": {
        "name": "get_breakdown",
        "description": "Desglose agrupado por dimensión. Para \"en qué gasté más\", \"por categoría\", \"por método de pago\", \"por día\". Params: dimension (category|day|week|month|payment_method|group), period (default this_month), type (default expense), top_n (default 10).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "get_breakdown",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "e10518c5-57ad-4939-8db2-b181c4a948c4",
      "name": "tool: get_breakdown",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -912,
        4128
      ]
    },
    {
      "parameters": {
        "name": "compare_periods",
        "description": "Compara totales entre dos períodos. Para \"este mes vs el pasado\", \"estoy gastando más que antes\". Params: period_a, period_b (mismos enums), type (expense/income).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "compare_periods",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "87e5cbcc-d8b0-4ed0-bbcc-2ddb582822fd",
      "name": "tool: compare_periods",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -720,
        4128
      ]
    },
    {
      "parameters": {
        "name": "find_transactions",
        "description": "Busca transacciones específicas para luego borrarlas/editarlas. Devuelve TODAS las que matchean con score y match_reasons. Filtros determinísticos AND: exact_amount, date, date_from, date_to, min_amount, max_amount, type. Filtros fuzzy (rankean): description_contains, category, group_name. Llamá esta antes de cualquier delete/update por hint.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "find_transactions",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "007de0c7-c15d-4afa-8160-a51a3dfd5971",
      "name": "tool: find_transactions",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -512,
        4128
      ]
    },
    {
      "parameters": {
        "name": "find_duplicates",
        "description": "Detecta gastos repetidos (mismo monto + categoría dentro de N días). Para \"elimina los repetidos\", \"tengo gastos duplicados\". Params: window_days (default 7), min_repetitions (default 2). Devuelve clusters con sus transaction_ids.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "find_duplicates",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "3eaf287a-78c5-411d-a66f-91f7dd1460a8",
      "name": "tool: find_duplicates",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -320,
        4128
      ]
    },
    {
      "parameters": {
        "name": "bulk_preview",
        "description": "Cuenta y muestra preview ANTES de borrar/editar masivo. Acepta los mismos filtros que query_transactions. Devuelve count, total, ids, preview (10 sample). USALA OBLIGATORIAMENTE antes de bulk_delete por criterio.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "bulk_preview",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f0b8e768-3267-4dd6-9b66-0653b4a7ea6c",
      "name": "tool: bulk_preview",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -112,
        4128
      ]
    },
    {
      "parameters": {
        "name": "bulk_delete",
        "description": "Borra múltiples transacciones por una lista explícita de UUIDs. Solo usar después de bulk_preview + confirmación del usuario. Params: ids (array de UUIDs).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "bulk_delete",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "dab8352d-bfa1-44f3-bcb2-7089eb0b0d4b",
      "name": "tool: bulk_delete",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        80,
        4128
      ]
    },
    {
      "parameters": {
        "name": "bulk_update",
        "description": "Actualiza múltiples transacciones por UUIDs. Params: ids (array), new_category_id?, new_date?, new_group_id?, amount_delta?, set_excluded?.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "bulk_update",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "6b424cff-1c26-44bd-8003-174d38c14160",
      "name": "tool: bulk_update",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        288,
        4128
      ]
    },
    {
      "parameters": {
        "name": "log_transaction",
        "description": "Registra UN gasto o ingreso nuevo. Params: amount (number), description, category_hint, type (expense|income, default expense), date (YYYY-MM-DD opcional), payment_method_hint (efectivo|debito|credito|transferencia|mercado_pago|otro), group_hint (nombre de viaje/evento opcional), skip_dup_check (bool, solo si el usuario confirmó duplicado). Devuelve needs_confirmation:duplicate si detectó uno.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "log_transaction",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "420990dc-53f3-4bb9-8300-df17126c8ab4",
      "name": "tool: log_transaction",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        480,
        4128
      ]
    },
    {
      "parameters": {
        "name": "update_transaction",
        "description": "Edita UNA transacción por UUID exacto. Params: transaction_id (UUID), new_date?, new_amount?, new_description?, new_category_id?.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "update_transaction",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "929b860b-7b71-4132-97f7-7d9f1ef7dfaa",
      "name": "tool: update_transaction",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        688,
        4128
      ]
    },
    {
      "parameters": {
        "name": "delete_transaction",
        "description": "Borra UNA transacción por UUID. Params: transaction_id (UUID). Para borrar varias usá bulk_delete.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "delete_transaction",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "62dfb7ed-7e0a-446d-89aa-572cdcab0d69",
      "name": "tool: delete_transaction",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        880,
        4128
      ]
    },
    {
      "parameters": {
        "name": "list_categories",
        "description": "Lista todas las categorías del usuario con sus emojis y conteos. Params: type (expense|income|both opcional), include_excluded (bool).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "list_categories",
            "user_id": "={{ $('Concat').first().json.userId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f6ba0365-d92a-4697-be5e-dbdd8882550d",
      "name": "tool: list_categories",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -1312,
        4320
      ]
    },
    {
      "parameters": {
        "name": "list_groups",
        "description": "Lista grupos (viajes/eventos/proyectos) con totales.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "list_groups",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "13282c8b-11cc-431e-91ea-0f790788af38",
      "name": "tool: list_groups",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -1120,
        4320
      ]
    },
    {
      "parameters": {
        "name": "list_budgets",
        "description": "Lista presupuestos activos con consumo actual y % usado.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "list_budgets",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "a16112af-ca7d-4088-bf8f-870c393dc7f3",
      "name": "tool: list_budgets",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -912,
        4320
      ]
    },
    {
      "parameters": {
        "name": "set_budget",
        "description": "Crea o actualiza un presupuesto para una categoría. Params: category_hint, amount (number), period (weekly|monthly|yearly).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "set_budget",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "8fd400fb-0e44-400c-8c1a-439339de5386",
      "name": "tool: set_budget",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -720,
        4320
      ]
    },
    {
      "parameters": {
        "name": "create_group",
        "description": "Crea un grupo (viaje/evento/proyecto). Params: name, kind (trip|event|emergency|project|other).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "create_group",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f0e4efc6-f7f9-4d87-a3dd-36e0896c3665",
      "name": "tool: create_group",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -512,
        4320
      ]
    },
    {
      "parameters": {
        "name": "toggle_category_exclusion",
        "description": "Excluye/incluye una categoría de los reportes. Params: category_hint.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "toggle_category_exclusion",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "455cae0f-9df5-47ca-a3da-2cd6e50f96f0",
      "name": "tool: toggle_category_exclusion",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -320,
        4320
      ]
    },
    {
      "parameters": {
        "name": "set_recurring",
        "description": "Crea una transacción recurrente (Netflix, alquiler, etc). Params: amount, description, category_hint, frequency (daily|weekly|biweekly|monthly|yearly), start_date?.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "set_recurring",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "e48365d7-c5a5-4503-a0ca-88157e81bc56",
      "name": "tool: set_recurring",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -112,
        4320
      ]
    },
    {
      "parameters": {
        "name": "remember_last_list",
        "description": "Guarda la última lista mostrada al usuario para resolver referencias deícticas (\"el primero\", \"esos dos\"). LLAMALA después de query_transactions / find_transactions cuando muestres una lista. Params: kind, items (array con id+position), filters_applied, ttl_seconds (default 600).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "remember_last_list",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "d510a232-fea5-447d-9eaa-5041f5a666da",
      "name": "tool: remember_last_list",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        80,
        4320
      ]
    },
    {
      "parameters": {
        "name": "get_last_list",
        "description": "Recupera la última lista mostrada al usuario. Devuelve items y si está fresca. Llamala cuando el usuario use deícticos.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "get_last_list",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "cb0f7434-7ae8-4f6b-be3f-155e0de4cb94",
      "name": "tool: get_last_list",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        288,
        4320
      ]
    },
    {
      "parameters": {
        "name": "set_conv_state",
        "description": "Setea estado conversacional pendiente (ej. awaiting_bulk_delete antes de confirmar). Params: state, context (objeto), ttl_seconds (default 600).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "set_conv_state",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "9aec983d-5516-44e2-9fea-ac4984a8919c",
      "name": "tool: set_conv_state",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        480,
        4320
      ]
    },
    {
      "parameters": {
        "name": "clear_conv_state",
        "description": "Limpia el estado conversacional. Llamala después de resolver una confirmación.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "clear_conv_state",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f29fa73e-fe40-48a5-9cff-b2dd608f076d",
      "name": "tool: clear_conv_state",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        688,
        4320
      ]
    },
    {
      "parameters": {
        "name": "generate_chart",
        "description": "Genera un gráfico (URL de imagen) con datos del usuario. Params: dimension (category|day|payment_method), period, type. Devuelve image_url + caption. Cuando uses esta tool, en tu reply final usá reply_kind=\"image\" e image_url.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MYLEpz6k1idWadkE",
          "cachedResultName": "Chefin Agent Tools v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool_name": "generate_chart",
            "user_id": "={{ $('Concat').first().json.userId }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "c86bf229-d2df-485a-9beb-cfc963f1f546",
      "name": "tool: generate_chart",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        880,
        4320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Concat').first().json.combinedText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Sos **Chefin**, asistente conversacional experto en finanzas personales para WhatsApp en español rioplatense (Argentina).\n\n# CONTEXTO DE LA CONVERSACIÓN\n- Fecha y hora actual: {{ $now.toFormat('yyyy-MM-dd HH:mm') }} (America/Argentina/Buenos_Aires)\n- Día de la semana: {{ $now.toFormat('EEEE') }}\n- Estado de conversación previo: {{ $json.convState || 'ninguno' }}\n- Contexto previo: {{ JSON.stringify($json.convContext || {}) }}\n- Onboarded: {{ $json.onboarded }}\n\n# TU MISIÓN\nResolvés CUALQUIER duda del usuario sobre sus finanzas usando las tools disponibles. Podés encadenar varias tools antes de responder. Sos riguroso con datos destructivos: nunca borrás ni editás sin confirmación cuando hay ambigüedad o son varios items.\n\n# TOOLS DISPONIBLES\nCada tool toma JSON; consultá las descripciones de cada una para entender los parámetros. Algunas reglas globales:\n- `user_id` se inyecta automáticamente — NO lo pongas en `params`.\n- Períodos válidos: today | yesterday | this_week | this_month | last_month | this_year | all | custom.\n- Para búsquedas con DATOS ESPECÍFICOS (monto exacto, fecha exacta, descripción concreta), el período default es `all` salvo que el usuario diga lo contrario.\n- Para totales/resúmenes sin tiempo especificado, default `this_month`.\n\n# ESTRATEGIA DE RAZONAMIENTO\n\n## Para CONSULTAS (lectura)\n1. Si el usuario menciona texto deíctico (\"esos\", \"el primero\", \"los de 3300 que mostraste\") → llamá `get_last_list` PRIMERO.\n2. Para preguntas tipo \"cuánto gasté X\" → `get_total`.\n3. Para \"en qué gasté más / desglosá\" → `get_breakdown` con dimension=category.\n4. Para \"comparame mes a mes\" / \"gasté más que el pasado\" → `compare_periods`.\n5. Para \"mostrame los últimos / los movs\" → `query_transactions`.\n6. Para \"buscame los café / los uber / los de 5000\" → `find_transactions` con filtros determinísticos cuando sean exactos.\n7. Después de mostrar una lista de transacciones (>1 item), llamá `remember_last_list` con sus ids para resolver referencias deícticas en el siguiente turno.\n\n## Para REGISTRO (gasto/ingreso nuevo)\n- Llamá `log_transaction`. Si la tool devuelve `needs_confirmation: 'duplicate'` → preguntá al usuario si quiere registrar de todas formas (y si dice sí, volvés a llamar con `skip_dup_check: true`).\n\n## Para BORRAR / EDITAR\n- 1 transacción específica con monto+fecha exactos:\n  1. `find_transactions` para obtener candidatos con sus ids.\n  2. Si devuelve UN solo match → ejecutás `delete_transaction` o `update_transaction` directo.\n  3. Si devuelve VARIOS matches → mostrás la lista numerada al usuario, llamás `remember_last_list`, pedís que aclare cuál.\n- \"el último\" (sin específicos) → `query_transactions` ordenado por date_desc + límite 1.\n- BULK delete por criterio (\"borrá todos los café del mes pasado\"):\n  1. `bulk_preview` con los filtros para obtener count + sample + ids.\n  2. Mostrás al usuario: \"Voy a borrar N gastos por $X. ¿Confirmás?\". Llamás `set_conv_state` con state='awaiting_bulk_delete' y context={ids:[...]}.\n  3. Cuando responda \"sí\" → `bulk_delete` con esos ids exactos. Llamás `clear_conv_state`.\n- \"Eliminá los gastos repetidos\" → `find_duplicates` → mostrás los clusters → confirmás → `bulk_delete` con los ids elegidos.\n\n## Para CHARLA / FECHAS / IDENTIDAD\n- \"qué fecha es hoy?\" → respondé directo desde el contexto, SIN tools.\n- \"hola / gracias / cómo andás\" → respondé natural, SIN tools.\n- \"ayuda / qué podés hacer\" → enumerá brevemente: registrar, consultar, borrar, editar, gráficos, presupuestos, recurrentes, reportes.\n\n## Para GRÁFICOS\n- \"gráfico de gastos / torta / por categoría\" → `generate_chart` con dimension. Devolverá image_url + caption.\n\n# ESTILO DE RESPUESTA (FORMATO FINAL)\nSIEMPRE devolvé tu respuesta como JSON con esta estructura. Es la ÚNICA forma de responder al usuario:\n\n{\n  \"reply_text\": \"<mensaje en español rioplatense, max 1500 chars salvo que sea una lista>\",\n  \"reply_kind\": \"text\" | \"image\",\n  \"image_url\": \"<URL si reply_kind=image>\",\n  \"should_react\": false,\n  \"reaction_emoji\": \"\"\n}\n\nReglas de formato (WhatsApp markdown — usalo cuando aporta claridad):\n- *negrita* con asteriscos simples (ej. `*Total*`, `*$2.000,00*`, `*comida*`).\n- _cursiva_ con guiones bajos (ej. `_descripción_`, _notas_).\n- ~tachado~ con virgulilla cuando aplica (poco frecuente).\n- ```monoespaciado``` solo para datos técnicos cortos.\n- Encabezados de listas/resúmenes en *negrita* (ej. `*Estos son los 4 movimientos que tuviste este mes:*`).\n- Listas de transacciones: numerá del 1 al N con formato `N. *<fecha>* · 💸 *<categoría>* · *$monto* — _<descripción>_`.\n  - `<fecha>` SIEMPRE en formato amigable rioplatense, NUNCA `AAAA-MM-DD`. Reglas:\n    - Si es la fecha de hoy → `hoy`.\n    - Si es ayer → `ayer`.\n    - Si es anteayer → `anteayer`.\n    - Si está entre 3 y 6 días atrás (misma semana o anterior reciente) → nombre del día en minúsculas (`lunes`, `martes`, `miércoles`, `jueves`, `viernes`, `sábado`, `domingo`); si es de la semana pasada agregale ` pasado`/`pasada` (ej. `lunes pasado`).\n    - Si es ≥7 días atrás del año actual → `dd/MM` (ej. `27/04`).\n    - Si es de otro año → `dd/MM/yyyy` (ej. `27/04/2025`).\n  - Después de la lista decí algo útil tipo \"Decime cuál querés borrar/editar\".\n- Totales: `💸 Gastaste *$X* en *<período>* (_N movs_).`\n- Breakdowns: lista vertical con `*categoría*` y `%`.\n- Comparativas: `*Este mes:* $X (N) · *Mes pasado:* $Y (M) · *Diferencia:* +Δ%`.\n- Confirmaciones bulk: muestra preview de hasta 5 items con el mismo formato de listas, total, count, y \"¿confirmás? (sí/no)\".\n- Si NO hay datos: mensaje empático, breve.\n- 1 mensaje por turno. Si supera 1500 chars el wrapper lo parte solo.\n\nReacciones (`should_react: true`):\n- SOLO cuando acabás de loggear gasto (✅) o ingreso (💰), borrar (🗑️), editar (✏️) o generar gráfico (📈).\n- Para queries, charla, ayuda, listas, búsquedas → `should_react: false`.\n\n# LÉXICO ARGENTINO (no afecta clasificación)\nMuletillas que ignorás al clasificar pero respondés en tono natural:\n- \"cucha\", \"che\", \"dale\", \"loco/a\", \"boludo/a\", \"mirá\", \"fijate\", \"viste\", \"ahre\"\n- Diminutivos: \"cafecito\"=café, \"lukita\"=mil pesos\n- Plata = dinero. Luca = mil (\"3 lucas\"=3000). Palo = millón. K=mil (\"30k\"=30000). M=millón.\n\n# FORMATO DE NÚMEROS Y FECHAS (ARGENTINO)\n- Montos en respuestas: `$2.000,50` (punto como separador de miles, coma como decimal). Ejemplo: `$11.900,00`. En negrita cuando es un dato clave: `*$11.900,00*`.\n- Fechas en respuestas: SIEMPRE día/mes/año, JAMÁS `AAAA-MM-DD`.\n  - Hoy/ayer/anteayer → `hoy`, `ayer`, `anteayer`.\n  - 3-6 días atrás → nombre del día (`lunes`, `martes`, ...), agregando ` pasado/pasada` si fue la semana anterior.\n  - ≥7 días del año actual → `dd/MM` (ej. `27/04`); si querés ser más natural en frases, podés decir `27 de abril`.\n  - De otro año → `dd/MM/yyyy` (ej. `27/04/2025`).\n- Fechas en parámetros de tools: SIEMPRE ISO `YYYY-MM-DD` (esto es interno, NO se muestra al usuario).\n- Si el usuario dice \"27 de abril\" sin año, asumí el año actual.\n- Si el usuario dice \"el lunes pasado\", calculalo desde la fecha de contexto.\n\n# ESTADOS CONVERSACIONALES HEREDADOS DE V1\nSi `convState` viene con uno de estos valores legacy del workflow viejo, manejalo igual:\n- `awaiting_otros_confirmation`: el usuario confirma o aclara la categoría de un gasto pendiente.\n- `awaiting_dup_confirmation`: el usuario confirma si registra un gasto duplicado.\n- `awaiting_pdf_import`: el usuario confirma importar gastos del PDF.\nCuando el usuario contesta \"sí/dale/ok\" y hay un `convState` activo → tomá la acción pendiente con el contexto que viene en `convContext`. Cuando contesta \"no/cancelá\" → `clear_conv_state` y avisá.\n\n# EJEMPLOS DE RAZONAMIENTO\n\n**Usuario**: \"Mostrame todos mis movimientos\"\n- Tool: `query_transactions({\"period\":\"all\",\"limit\":20})` → devuelve N items.\n- Si N>0: `remember_last_list({\"kind\":\"transactions\",\"items\":[{position:1,id:..,...}]})` con los ids.\n- Reply: lista numerada con los items + breve resumen del total.\n\n**Usuario**: \"borrá los 3300 del 27 de abril\"\n- Tool: `find_transactions({\"exact_amount\":3300,\"date\":\"2026-04-27\"})` → devuelve 3 matches.\n- Reply numerada con los 3 + `remember_last_list` con sus ids + \"Decime cuál(es) borrar (1, 2, 3 o todos)\".\n- NUNCA borrás directo si hay >1 candidato.\n\n**Usuario**: \"elimina las 2 últimas transferencias a maxi\"\nPasos OBLIGATORIOS:\n1. Tool: `find_transactions({\"description_contains\":\"maxi\",\"sort\":\"date_desc\",\"limit\":20})` → devuelve TODAS las transferencias que mencionen \"maxi\" en descripción, ordenadas por fecha desc.\n2. Si hay ≥2: tomá las primeras 2 (las \"últimas\" cronológicamente = más recientes = primeras en date_desc).\n3. `bulk_preview` NO es necesario porque ya tenés ids exactos. Llamá directamente `bulk_delete({\"ids\":[id1, id2]})`.\n4. Reply: \"🗑️ Borré 2 transferencias a Maxi por $X total. Te queda 1.\" con `should_react: true, reaction_emoji: \"🗑️\"`.\n5. Si el usuario dice \"las últimas N\" sin nombrar una persona, mirá `get_last_list` primero — si tenés contexto fresco, usalo.\nNUNCA borres \"el último\" cuando el usuario claramente identificó un grupo (transferencias a X, gastos de Y, etc).\n\n**Usuario**: \"borrá las 2 últimas transferencias\" (sin nombre)\n- `find_transactions({\"category\":\"otros\",\"description_contains\":\"transferencia\",\"sort\":\"date_desc\",\"limit\":20})` → todas las transferencias.\n- Tomá las 2 más recientes → `bulk_delete`.\n\n**Usuario** (después): \"borrá los 2 primeros\"\n- Tool: `get_last_list` → recuperás items.\n- Tool: `bulk_delete({\"ids\":[items[0].id, items[1].id]})`.\n- Reply: \"Borré 2 movs por *$6.600*. Quedó 1 transferencia de *$3.300* del *27/04*.\"\n\n**Usuario**: \"elimina los gastos repetidos\"\n- Tool: `find_duplicates({\"window_days\":7,\"min_repetitions\":2})` → devuelve clusters.\n- Reply con los clusters + `remember_last_list({kind:'duplicate_clusters',items:[...]})` + \"¿Borro estos? Decime cuáles (1, 2, todos) o 'no' para cancelar\".\n- Cuando confirme → `bulk_delete` con los ids.\n\n**Usuario**: \"gasté más este mes que el pasado?\"\n- Tool: `compare_periods({\"period_a\":\"this_month\",\"period_b\":\"last_month\"})`.\n- Reply: \"Este mes: $X (N movs). Mes pasado: $Y (M movs). +Δ% más.\"\n\n**Usuario**: \"Cuál fue mi último gasto?\"\n- Tool: `query_transactions({\"period\":\"all\",\"limit\":1,\"sort\":\"date_desc\",\"type\":\"expense\"})`.\n- Reply: descripción del item + \"¿querés borrarlo o editarlo?\"\n\n**Usuario**: \"el último gasto fue de 5000 no de 2000\"\n- Tool: `query_transactions({\"period\":\"all\",\"limit\":1,\"sort\":\"date_desc\",\"exact_amount\":2000})` → encuentra el item.\n- Tool: `update_transaction({\"transaction_id\":id,\"new_amount\":5000})`.\n- Reply: \"Listo, lo cambié a *$5.000,00*.\" con `should_react: true, reaction_emoji: \"✏️\"`.\n\n**Usuario**: \"tomé 2500 de café\"\n- Tool: `log_transaction({\"amount\":2500,\"description\":\"café\",\"category_hint\":\"comida\",\"type\":\"expense\"})`.\n- Si retorna `needs_confirmation:duplicate` → preguntá si registra igual.\n- Si `inserted:true` → reply confirmando + `should_react: true, reaction_emoji: \"✅\"`.\n\n**Usuario**: \"gracias!\"\n- Sin tools. Reply breve. `should_react: false`.\n\n**Usuario**: \"qué fecha es hoy?\"\n- Sin tools. Usás la fecha del contexto. Formato: \"Hoy es lunes 29 de abril de 2026\".\n\n**Usuario**: \"que quedo?\" (mensaje ambiguo, sin contexto)\n- Sin tools. Reply breve pidiendo aclaración: \"¿A qué te referís? Si querés saber tu saldo del mes te lo digo, decime 'cuanto gasté'.\"\n- NO mandes 2 mensajes.\n\n# REGLAS FINALES\n- NUNCA inventes datos. Si no tenés certeza, llamá una tool o pedí aclaración.\n- NUNCA inventes UUIDs. Solo usás los que te devuelven las tools.\n- NUNCA mostrás UUIDs al usuario.\n- Si una tool devuelve `ok: false`, leé el error y avisás al usuario en términos amables.\n- Sos breve, directo y cálido. Nada de párrafos largos para preguntas simples.\n- Si el usuario hace varias preguntas en un mismo turno, respondelas todas en UN solo mensaje (jamás mandés 2 mensajes para una pregunta).\n- Si el usuario contradice una respuesta tuya anterior (\"me decís 4 movs y mostrás 2\"), revisá tu razonamiento, releé las tools que llamaste, y corregí sin inventar.\n- Si una operación destructiva afecta >3 items, SIEMPRE pasá por preview + confirmación.\n- Cuando el usuario te ataca o se enoja, reconocelo brevemente, NO te disculpes en exceso, y resolvé el problema.",
          "maxIterations": 8,
          "returnIntermediateSteps": false
        }
      },
      "id": "e15527fe-4ab0-4933-84db-6dab08980231",
      "name": "Chefin Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -784,
        3680
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet payload = raw.output || raw;\nif (typeof payload === 'string') {\n  try { payload = JSON.parse(payload); } catch { payload = { reply_text: payload, reply_kind: 'text' }; }\n}\nconst ctx = $('Concat').first().json;\nconst replyText = (payload.reply_text || '').trim() || '😅 No supe qué responderte. ¿Lo repetimos?';\nconst replyKind = payload.reply_kind === 'image' && payload.image_url ? 'image' : 'text';\nconst shouldReact = !!payload.should_react;\nconst emoji = (payload.reaction_emoji || '').toString().slice(0, 4);\nreturn [{ json: {\n  replyText, replyKind,\n  imageUrl: replyKind === 'image' ? (payload.image_url || '') : '',\n  shouldReact, reactionEmoji: shouldReact ? (emoji || '✅') : '',\n  userId: ctx.userId, phone: ctx.phone, instance: ctx.instance,\n  remoteJid: ctx.remoteJid, messageId: ctx.messageId\n} }];"
      },
      "id": "a7011e11-f52d-46d8-aa39-8c4a62c67b96",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        3728
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst MAX = 1500;\nconst txt = ctx.replyText || '';\nfunction chunk(s) {\n  if (s.length <= MAX) return [s];\n  const parts = [];\n  let buf = '';\n  for (const para of s.split(/\\n\\n/)) {\n    const candidate = buf ? buf + '\\n\\n' + para : para;\n    if (candidate.length > MAX && buf) { parts.push(buf); buf = para; }\n    else if (candidate.length > MAX) { // single para > MAX → hard split\n      for (let i = 0; i < para.length; i += MAX) parts.push(para.slice(i, i + MAX));\n      buf = '';\n    } else buf = candidate;\n  }\n  if (buf) parts.push(buf);\n  return parts;\n}\nconst pieces = chunk(txt);\nreturn pieces.map((p, idx) => ({ json: {\n  ...ctx, replyText: p, chunkIndex: idx, chunkCount: pieces.length,\n  // image only on first chunk; reaction only on last\n  replyKind: (idx === 0 ? ctx.replyKind : 'text'),\n  imageUrl: (idx === 0 ? ctx.imageUrl : ''),\n  shouldReact: ctx.shouldReact && idx === pieces.length - 1,\n  reactionEmoji: (ctx.shouldReact && idx === pieces.length - 1) ? ctx.reactionEmoji : ''\n} }));"
      },
      "id": "a39b03af-87ec-4472-b3e3-344ea9d21503",
      "name": "Chunk Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        3728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "replyText",
              "type": "string",
              "value": "={{ $json.replyText }}"
            },
            {
              "id": "k",
              "name": "replyKind",
              "type": "string",
              "value": "={{ $json.replyKind }}"
            },
            {
              "id": "iu",
              "name": "imageUrl",
              "type": "string",
              "value": "={{ $json.imageUrl }}"
            },
            {
              "id": "p",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.phone }}"
            },
            {
              "id": "i",
              "name": "instance",
              "type": "string",
              "value": "={{ $json.instance }}"
            },
            {
              "id": "j",
              "name": "remoteJid",
              "type": "string",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "id": "m",
              "name": "messageId",
              "type": "string",
              "value": "={{ $json.messageId }}"
            },
            {
              "id": "u",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.userId }}"
            },
            {
              "id": "rx",
              "name": "reactionEmoji",
              "type": "string",
              "value": "={{ $json.reactionEmoji || \"\" }}"
            },
            {
              "id": "sr",
              "name": "shouldReact",
              "type": "boolean",
              "value": "={{ Boolean($json.shouldReact) }}"
            },
            {
              "id": "cidx",
              "name": "chunkIndex",
              "type": "number",
              "value": "={{ $json.chunkIndex || 0 }}"
            },
            {
              "id": "ccnt",
              "name": "chunkCount",
              "type": "number",
              "value": "={{ $json.chunkCount || 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d12fb270-c250-4909-9f12-51d961ba63bc",
      "name": "Save Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        3728
      ]
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "delay": 1600
      },
      "id": "c383b0d5-494a-49e0-959a-c20da3924d89",
      "name": "Send Presence",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        208,
        3728
      ],
      "alwaysOutputData": true,
      "credentials": {
        "evolutionApi": {
          "id": "aodcaexLnhx89vQH",
          "name": "Evolution account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Save Context').first().json.replyKind }}",
              "rightValue": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "919d23fb-963f-4b46-a997-4d81d23b8f7f",
      "name": "IF Image Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        432,
        3728
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "media": "={{ $('Save Context').first().json.imageUrl }}",
        "caption": "={{ $('Save Context').first().json.replyText }}",
        "options_message": {}
      },
      "id": "9be011be-634f-4c12-99da-8a8a4b3258c0",
      "name": "Send Image",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        640,
        3632
      ],
      "credentials": {
        "evolutionApi": {
          "id": "aodcaexLnhx89vQH",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.phone }}",
        "messageText": "={{ $('Save Context').first().json.replyText }}",
        "options_message": {}
      },
      "id": "d996887b-deb4-4e11-8322-28f0d9ab0aa5",
      "name": "Send Text",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        640,
        3824
      ],
      "credentials": {
        "evolutionApi": {
          "id": "aodcaexLnhx89vQH",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $('Save Context').first().json.reactionEmoji }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "57801e91-ef92-469f-9162-379a938487de",
      "name": "IF Should React",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        864,
        3728
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-reaction",
        "instanceName": "={{ $('Save Context').first().json.instance }}",
        "remoteJid": "={{ $('Save Context').first().json.remoteJid }}",
        "messageId": "={{ $('Save Context').first().json.messageId }}",
        "fromMe": false,
        "reaction": "={{ $('Save Context').first().json.reactionEmoji }}"
      },
      "id": "53b5a064-ca1b-4721-82db-2e964aa2752b",
      "name": "Send Reaction",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1088,
        3632
      ],
      "credentials": {
        "evolutionApi": {
          "id": "aodcaexLnhx89vQH",
          "name": "Evolution account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (user_id, direction, content, processed, raw_payload) VALUES ($1::uuid, 'outbound', $2, TRUE, $3::jsonb);",
        "options": {
          "queryReplacement": "={{ $('Save Context').first().json.userId }},={{ $('Save Context').first().json.replyText || '' }},={{ JSON.stringify($('Save Context').first().json) }}"
        }
      },
      "id": "59f300f4-2f18-4dd1-9ced-f297f8d3fdf3",
      "name": "Log Outbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1312,
        3728
      ],
      "credentials": {
        "postgres": {
          "id": "33eKBVY731z1Ef4s",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.13.2",
            "content-length": "1689",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n:8878",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "expenses",
            "data": {
              "key": {
                "remoteJid": "5493794619729@s.whatsapp.net",
                "remoteJidAlt": "5493794619729@s.whatsapp.net",
                "fromMe": false,
                "id": "AC758A3C5DE7CCB407F9D38FBA122F8E",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Seb 🇨🇴",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 141,
                      "1": 237,
                      "2": 36,
                      "3": 203,
                      "4": 118,
                      "5": 34,
                      "6": 235,
                      "7": 100,
                      "8": 83,
                      "9": 50
                    },
                    "senderTimestamp": {
                      "low": 1776991695,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 214,
                      "1": 225,
                      "2": 121,
                      "3": 223,
                      "4": 60,
                      "5": 251,
                      "6": 73,
                      "7": 172,
                      "8": 6,
                      "9": 246
                    },
                    "recipientTimestamp": {
                      "low": 1777398877,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 73,
                    "1": 73,
                    "2": 196,
                    "3": 174,
                    "4": 83,
                    "5": 53,
                    "6": 246,
                    "7": 71,
                    "8": 88,
                    "9": 50,
                    "10": 125,
                    "11": 207,
                    "12": 138,
                    "13": 155,
                    "14": 178,
                    "15": 250,
                    "16": 202,
                    "17": 9,
                    "18": 102,
                    "19": 61,
                    "20": 246,
                    "21": 17,
                    "22": 154,
                    "23": 63,
                    "24": 147,
                    "25": 89,
                    "26": 149,
                    "27": 247,
                    "28": 28,
                    "29": 98,
                    "30": 26,
                    "31": 174
                  }
                },
                "conversation": "me pasas mis movimientos del último mes?"
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "statusAttributions": [],
                "expiration": 86400,
                "ephemeralSettingTimestamp": {
                  "low": 1776024846,
                  "high": 0,
                  "unsigned": false
                },
                "disappearingMode": {
                  "initiator": 0,
                  "trigger": 1,
                  "initiatedByMe": false
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1777469730,
              "instanceId": "f514f01d-0727-4c82-bf03-455a707c736b",
              "source": "android"
            },
            "destination": "http://n8n:8878/webhook/chefin",
            "date_time": "2026-04-29T10:35:31.043Z",
            "sender": "5493794945270@s.whatsapp.net",
            "server_url": "http://212.28.184.128:8880",
            "apikey": "4AA14881928D-4F33-BE55-28A53A6A1F24"
          },
          "webhookUrl": "http://212.28.184.128:8878/webhook/chefin",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Valid Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Inbound": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "IF Allowed Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Allowed Phone": {
      "main": [
        [
          {
            "node": "Switch Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Media Type": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision OCR": {
      "main": [
        [
          {
            "node": "Receipt to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Audio to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio to Binary": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "PDF to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Binary": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "PDF Stub Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipt to Text": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Stub Text": {
      "main": [
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Text": {
      "main": [
        [
          {
            "node": "Bootstrap User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bootstrap User": {
      "main": [
        [
          {
            "node": "Get Conv State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conv State": {
      "main": [
        [
          {
            "node": "Merge Ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Ctx": {
      "main": [
        [
          {
            "node": "Redis Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Check": {
      "main": [
        [
          {
            "node": "IF First Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF First Time": {
      "main": [
        [
          {
            "node": "Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processed": {
      "main": [
        [
          {
            "node": "Buffer Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Push": {
      "main": [
        [
          {
            "node": "Lock Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Token": {
      "main": [
        [
          {
            "node": "Lock Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Set": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Lock Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Get": {
      "main": [
        [
          {
            "node": "IF Won Race",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Won Race": {
      "main": [
        [
          {
            "node": "Buffer Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Get": {
      "main": [
        [
          {
            "node": "Buffer Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Delete": {
      "main": [
        [
          {
            "node": "Concat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat": {
      "main": [
        [
          {
            "node": "Chefin Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reply Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "tool: query_transactions": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: get_total": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: get_breakdown": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: compare_periods": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: find_transactions": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: find_duplicates": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: bulk_preview": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: bulk_delete": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: bulk_update": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: log_transaction": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: update_transaction": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: delete_transaction": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: list_categories": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: list_groups": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: list_budgets": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: set_budget": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: create_group": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: toggle_category_exclusion": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: set_recurring": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: remember_last_list": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: get_last_list": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: set_conv_state": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: clear_conv_state": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool: generate_chart": {
      "ai_tool": [
        [
          {
            "node": "Chefin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chefin Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Chunk Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Reply": {
      "main": [
        [
          {
            "node": "Save Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Context": {
      "main": [
        [
          {
            "node": "Send Presence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Presence": {
      "main": [
        [
          {
            "node": "IF Image Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Image Reply": {
      "main": [
        [
          {
            "node": "Send Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image": {
      "main": [
        [
          {
            "node": "IF Should React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text": {
      "main": [
        [
          {
            "node": "IF Should React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should React": {
      "main": [
        [
          {
            "node": "Send Reaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reaction": {
      "main": [
        [
          {
            "node": "Log Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cec7b7a2-ce8e-41eb-b0c8-98d5bedf8cad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffd8d87eee45b45d9d477dc15de2a876d3f5cca56f9cc124ffdf011b7dbd68ec"
  },
  "id": "DcZB3rMPujem4Z5E",
  "tags": [
    {
      "updatedAt": "2026-04-29T11:36:20.056Z",
      "createdAt": "2026-04-29T11:36:20.056Z",
      "id": "dDB7zCsFzqJ1Zzov",
      "name": "Chefin"
    }
  ]
}