workflows/daily-summary-workflow.json
{
  "name": "Daily Summary Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 0 22 * * *"}]
        }
      },
      "id": "cron-001",
      "name": "Cron 22:00 ART",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, u.phone_number AS phone, u.name, ds.total, ds.n, ds.top_category, ds.top_amount FROM users u CROSS JOIN LATERAL daily_summary(u.id) ds WHERE u.daily_summary_enabled = TRUE;",
        "options": {}
      },
      "id": "qry-001",
      "name": "Query Per-User Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 300],
      "credentials": {"postgres": {"id": "f8CCpjEZRkcHEaJI", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const total = Number(j.total || 0);\n  const n = Number(j.n || 0);\n  const fmt = x => Number(x||0).toLocaleString('es-AR');\n  let text;\n  if (n === 0) {\n    const opts = ['🧘 Hoy no anotaste gastos. Buen día para la billetera.', '🎉 Día sin gastos registrados. ¡Bien ahí!', '✨ Hoy no me llegó nada. Si te olvidaste algo, lo podés cargar ahora.'];\n    text = opts[Math.floor(Math.random()*opts.length)];\n  } else {\n    let body = `📊 *Resumen de hoy*\\nGastaste $${fmt(total)} en ${n} ${n===1?'movimiento':'movimientos'}`;\n    if (j.top_category) body += `\\nMás fuerte: ${j.top_category} ($${fmt(j.top_amount)})`;\n    text = body;\n  }\n  out.push({ json: { phone: j.phone, instance: 'chefin', remoteJid: j.phone + '@s.whatsapp.net', replyText: text, userId: j.user_id }});\n}\nreturn out;"
      },
      "id": "fmt-001",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "={{ $json.replyText }}",
        "options_message": {}
      },
      "id": "send-001",
      "name": "Send Summary",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [860, 300],
      "credentials": {"evolutionApi": {"id": "FgeqqvxAqTER4oeD", "name": "Evolution account"}}
    }
  ],
  "connections": {
    "Cron 22:00 ART": {"main": [[{"node": "Query Per-User Summary", "type": "main", "index": 0}]]},
    "Query Per-User Summary": {"main": [[{"node": "Format Summary", "type": "main", "index": 0}]]},
    "Format Summary": {"main": [[{"node": "Send Summary", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1", "timezone": "America/Argentina/Buenos_Aires"},
  "tags": []
}
