workflows/pdf-report-workflow.json
{
  "name": "PDF Report on Demand",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "report-request",
        "options": {}
      },
      "id": "rwh-001",
      "name": "Webhook Report Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "rep-12345"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT generate_report_data($1::uuid, $2::date, $3::date) AS data;",
        "options": {
          "queryReplacement": "={{ $json.body.userId }},={{ $json.body.startDate }},={{ $json.body.endDate }}"
        }
      },
      "id": "rdata-001",
      "name": "Generate Report Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 300],
      "credentials": {"postgres": {"id": "f8CCpjEZRkcHEaJI", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.data;\nconst body = $('Webhook Report Request').first().json.body;\nconst fmt = n => Number(n||0).toLocaleString('es-AR', {minimumFractionDigits: 2, maximumFractionDigits: 2});\n\nconst rows = (d.transactions || []).slice(0, 50).map(t =>\n  `<tr><td>${t.date}</td><td>${t.emoji||''} ${t.category||'—'}</td><td>${t.description||''}</td><td>${t.payment_method||''}</td><td>${t.group_name||''}</td><td style=\"text-align:right\">$${fmt(t.amount)}</td></tr>`\n).join('');\n\nconst byCatRows = (d.by_category || []).map(c =>\n  `<tr><td>${c.emoji||''} ${c.category||'—'}</td><td style=\"text-align:right\">${c.n}</td><td style=\"text-align:right\">$${fmt(c.total)}</td></tr>`\n).join('');\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>\nbody{font-family:'Helvetica',sans-serif;color:#222;padding:24px;font-size:12px}\nh1{font-size:22px;margin:0 0 4px 0}\nh2{font-size:15px;margin-top:24px;border-bottom:1px solid #ddd;padding-bottom:4px}\n.summary{display:flex;gap:16px;margin:16px 0}\n.card{background:#f6f6f6;padding:12px 16px;border-radius:8px;flex:1}\n.card .v{font-size:18px;font-weight:600}\n.card .l{font-size:11px;color:#666}\ntable{width:100%;border-collapse:collapse;margin-top:8px}\nth,td{padding:6px 8px;border-bottom:1px solid #eee;text-align:left}\nth{background:#fafafa;font-weight:600}\n</style></head><body>\n<h1>Reporte de gastos</h1>\n<div style=\"color:#666\">${d.period.start} → ${d.period.end}</div>\n<div class=\"summary\">\n<div class=\"card\"><div class=\"l\">Total gastado</div><div class=\"v\">$${fmt(d.totals.expense)}</div></div>\n<div class=\"card\"><div class=\"l\">Ingresos</div><div class=\"v\">$${fmt(d.totals.income)}</div></div>\n<div class=\"card\"><div class=\"l\">Movimientos</div><div class=\"v\">${d.totals.count}</div></div>\n</div>\n<h2>Por categoría</h2>\n<table><thead><tr><th>Categoría</th><th style=\"text-align:right\">N</th><th style=\"text-align:right\">Total</th></tr></thead><tbody>${byCatRows}</tbody></table>\n<h2>Movimientos (últimos 50)</h2>\n<table><thead><tr><th>Fecha</th><th>Categoría</th><th>Descripción</th><th>Pago</th><th>Grupo</th><th style=\"text-align:right\">Monto</th></tr></thead><tbody>${rows}</tbody></table>\n<div style=\"margin-top:32px;color:#999;font-size:10px\">Generado por Chefin Bot — ${new Date().toLocaleDateString('es-AR')}</div>\n</body></html>`;\n\nreturn [{ json: { html, phone: body.phone, instance: body.instance || 'chefin', start: d.period.start, end: d.period.end }}];"
      },
      "id": "rhtml-001",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html2pdf.app/v1/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.html) }},\n  \"apiKey\": \"{{ $env.HTML2PDF_API_KEY }}\",\n  \"format\": \"A4\"\n}",
        "options": {"response": {"response": {"responseFormat": "file", "outputPropertyName": "data"}}}
      },
      "id": "rpdf-001",
      "name": "HTML to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "notes": "Usa html2pdf.app (free tier)."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst meta = $('Build HTML').first().json;\nconst bin = item.binary && item.binary.data;\nif (!bin || !bin.data) {\n  throw new Error('No PDF binary received from html2pdf — check HTML2PDF_API_KEY and the API response');\n}\n// n8n stores binary as base64 already in bin.data — Evolution API accepts the raw base64 string\nconst base64 = bin.data;\nconst fileName = `reporte-${meta.start}_${meta.end}.pdf`;\nreturn [{ json: { ...meta, mediaBase64: base64, fileName }, binary: item.binary }];"
      },
      "id": "rencode-001",
      "name": "Encode PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.phone }}",
        "media": "={{ $json.mediaBase64 }}",
        "fileName": "={{ $json.fileName }}",
        "caption": "📄 Acá tenés tu reporte de gastos.",
        "options_message": {}
      },
      "id": "rsendpdf-001",
      "name": "Send PDF",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1200, 300],
      "credentials": {"evolutionApi": {"id": "FgeqqvxAqTER4oeD", "name": "Evolution account"}}
    }
  ],
  "connections": {
    "Webhook Report Request": {"main": [[{"node": "Generate Report Data", "type": "main", "index": 0}]]},
    "Generate Report Data": {"main": [[{"node": "Build HTML", "type": "main", "index": 0}]]},
    "Build HTML": {"main": [[{"node": "HTML to PDF", "type": "main", "index": 0}]]},
    "HTML to PDF": {"main": [[{"node": "Encode PDF", "type": "main", "index": 0}]]},
    "Encode PDF": {"main": [[{"node": "Send PDF", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": []
}
