workflows/weekly-summary-workflow.json
{
  "name": "Weekly Summary Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 0 21 * * 0"}]}
      },
      "id": "wcron-001",
      "name": "Cron Sunday 21:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH this_week AS (\n  SELECT u.id AS user_id, u.phone_number, u.name,\n         COALESCE(SUM(t.amount),0) AS this_total, COUNT(t.*) AS this_n\n  FROM users u\n  LEFT JOIN v_reportable_transactions t\n    ON t.user_id=u.id AND t.type='expense'\n   AND t.transaction_date >= DATE_TRUNC('week', CURRENT_DATE)\n  WHERE u.weekly_summary_enabled = TRUE\n  GROUP BY u.id, u.phone_number, u.name\n),\nlast_week AS (\n  SELECT u.id AS user_id, COALESCE(SUM(t.amount),0) AS last_total\n  FROM users u\n  LEFT JOIN v_reportable_transactions t\n    ON t.user_id=u.id AND t.type='expense'\n   AND t.transaction_date >= DATE_TRUNC('week', CURRENT_DATE - INTERVAL '1 week')\n   AND t.transaction_date <  DATE_TRUNC('week', CURRENT_DATE)\n  GROUP BY u.id\n),\ntop_cat AS (\n  SELECT DISTINCT ON (t.user_id) t.user_id, c.name AS category, SUM(t.amount) AS amt\n  FROM v_reportable_transactions t\n  LEFT JOIN categories c ON c.id = t.category_id\n  WHERE t.type='expense' AND t.transaction_date >= DATE_TRUNC('week', CURRENT_DATE)\n  GROUP BY t.user_id, c.name\n  ORDER BY t.user_id, amt DESC\n)\nSELECT tw.user_id, tw.phone_number AS phone, tw.name, tw.this_total, tw.this_n,\n       lw.last_total, tc.category AS top_category, tc.amt AS top_amount\nFROM this_week tw LEFT JOIN last_week lw USING (user_id) LEFT JOIN top_cat tc USING (user_id);",
        "options": {}
      },
      "id": "wqry-001",
      "name": "Weekly Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 300],
      "credentials": {"postgres": {"id": "f8CCpjEZRkcHEaJI", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nconst fmt = n => Number(n||0).toLocaleString('es-AR');\nfor (const it of items) {\n  const j = it.json;\n  const t = Number(j.this_total||0), l = Number(j.last_total||0);\n  let trend = '';\n  if (l > 0) {\n    const pct = Math.round(((t - l) / l) * 100);\n    if (pct > 5) trend = `\\n📈 ${pct}% más que la semana pasada ($${fmt(l)})`;\n    else if (pct < -5) trend = `\\n📉 ${Math.abs(pct)}% menos que la semana pasada ($${fmt(l)})`;\n    else trend = '\\n📊 Similar a la semana pasada.';\n  }\n  let body;\n  if (Number(j.this_n) === 0) {\n    body = '🌿 *Resumen semanal*\\nEsta semana no registraste gastos.';\n  } else {\n    body = `📅 *Resumen semanal*\\nGastaste $${fmt(t)} en ${j.this_n} ${j.this_n==1?'movimiento':'movimientos'}${trend}`;\n    if (j.top_category) body += `\\nMás fuerte: ${j.top_category} ($${fmt(j.top_amount)})`;\n  }\n  out.push({ json: { phone: j.phone, instance: 'chefin', replyText: body }});\n}\nreturn out;"
      },
      "id": "wfmt-001",
      "name": "Format Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "={{ $json.replyText }}",
        "options_message": {}
      },
      "id": "wsend-001",
      "name": "Send Weekly",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [860, 300],
      "credentials": {"evolutionApi": {"id": "FgeqqvxAqTER4oeD", "name": "Evolution account"}}
    }
  ],
  "connections": {
    "Cron Sunday 21:00": {"main": [[{"node": "Weekly Query", "type": "main", "index": 0}]]},
    "Weekly Query": {"main": [[{"node": "Format Weekly", "type": "main", "index": 0}]]},
    "Format Weekly": {"main": [[{"node": "Send Weekly", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1", "timezone": "America/Argentina/Buenos_Aires"},
  "tags": []
}
